[2021-09-09 11:13] aleksa-krolls commented on #119
@lakhassane keep me posted with questions as you're working through this today. Happy to help test on prod whenever ready and new job is linked (see my last comment re: preconfigured job).

[2021-09-09 12:00] lakhassane commented on #119
@aleksa-krolls I made the changes for `Mssql` and pushed on prod.
However before executing you need to change the credentials to `raw credential` so that we can add the `openfnInboxUrl`.
Here is the job you must change creds for: https://www.openfn.org/projects/p5x4g4/jobs/jv79zn

[2021-09-09 12:43] lakhassane commented on #150
@ritazagoni I implemented the change on line 54 so it spreads to all operations.

[2021-09-09 14:01] aleksa-krolls commented on #119
@lakhassane I was able to successfully test the first DD job (https://www.openfn.org/projects/p5x4g4/runs/rg5xdb4z) that posts the form definition to the OpenFn Inbox....
...but now when I try to sync this form definition message with this job ( https://www.openfn.org/projects/p5x4g4/jobs/jyp5d9), it fails with the error `TypeError [Error]: Cannot read property 'name' of undefined`. See run failur

[2021-09-09 15:19] lakhassane commented on #119
@aleksa-krolls here is the complete and correct message sent to the inbox: https://www.openfn.org/projects/p5x4g4/messages/mn5akbmr

I will run the update when the queue is free but it should trigger and run fine

[2021-09-09 15:21] dianedetoeuf opened #151 "Adding a new metadata to KoboData table"
## Describe the bug
We need to add the citations for each dataset in the KoboData table. A new column called Citation has been added in this table. In Kobo forms you can add an "instance_name" in the settings page of the form, and I was thinkin we could add the citation there and have it mapped to the new Citation column.

I added the mapping to the BNS survey job, it runs successfully but the col

[2021-09-10 04:51] aleksa-krolls commented on #140
@lakhassane A couple of new change requests based on the latest S&R script (https://www.openfn.org/projects/p5x4g4/runs/rzdg8zr4):

1. Only if `select` questions in Kobo forms are required (`required: true` in form definition), then in the corresponding column needs to be set as `not null: true`
- E.g., The question `select_one survey_type` is required in the Kobo form. Therefore for `FK_WCSPROGRA

[2021-09-10 05:25] aleksa-krolls commented on #151
@dianedetoeuf I don't see `instance_name` in the Message state: https://www.openfn.org/projects/p5x4g4/messages/ma9p848z

You said `instance_name` was added to Kobo form settings? Unfortunately when we fetch Kobo form submissions, the API only returns the form data... not form settings. So you'd either need to configure `instance_name` as a hidden value in form submissions (but I'm not sure this v

[2021-09-10 07:33] dianedetoeuf commented on #151
ok, adding the tag seems the easiest, and I can call it directly citation so that we understand what it is. Can I also add this tag on the historical job? Will there be a way of updating only the KoboData able so that we don't have to re-process all the BNS/NRGT messages again?

Thanks!

[2021-09-10 12:25] lakhassane commented on #140
@aleksa-krolls I made both changes.

For point 2, it needed a bunch of rework also on `syncToOpenfn` to add `findValue` for those foreign keys.

Could you review this generated job and tell me what you think: https://gist.github.com/lakhassane/fcf6e2f7a49b079b6538ec7338067137

[2021-09-10 14:27] dianedetoeuf commented on #151
Hi, I tried using a tag and reprocessed some of the historical forms but the citation field in the DB is still empty...
See
Line 27 historical job: https://github.com/OpenFn/ConSoSci/blob/master/bns/historical.js
Line 260: BNS survey : https://github.com/OpenFn/ConSoSci/blob/master/bns/survey.js

[2021-09-13 05:12] aleksa-krolls commented on #151
@dianedetoeuf I'm realizing that we already were using a key called `tag` (e.g., `tag: 'bns_survey') in order to create the trigger for the OpenFn jobs. For example:
[code]
I've therefore now added a different tagging key called `instance`...
https://github.com/OpenFn/ConSoSci/blob/b33dea0defbe1935ed5b06f2f74d4d207d94f375/bns/historical.js#L31

...and changed the `Citation` mapping in the BNS Surv

[2021-09-13 05:19] aleksa-krolls commented on #140
@lakhassane Eish! Nicely done, the auto-generate job is looking good... only one quick question re: the mappings:
[code]
**Don't we have to append `(state) to the end, every time we reference `dataValue()` within an alterState block?** For example:
[code]
**Lastly, can I test end-to-end on prod now? Have you cleared the tables from the test mssql DB>**

[2021-09-13 05:22] #147 closed

[2021-09-13 07:12] aleksa-krolls opened #152 "Automation: Change request for how we create unique `select` lookup tables"
## Background, context, and business value
This builds upon issues #131 , #133 , #141 .

Currently the solution creates a "lookup" table for every unique question name. Every time we see a `select_one` or `select_multiple` question in the Kobo form definition, we auto-generate lookup tables to capture the choice values for these questions. For example:
question `type: select_one, name: sex` --> ta

[2021-09-13 08:28] ritazagoni commented on #150
@lakhassane it seems from this log that the `datasetId` is the same as before and doesn't contain the year: https://www.openfn.org/projects/p5x4g4/runs/rpdpkag8

[2021-09-13 10:01] ritazagoni opened #153 "Automation: `A1. Find Updated Kobo Forms` job doesn't find updates"
## Describe the bug
Even though (1) list of forms is added and (2) state cleared, the [A1 Find Updated Kobo Forms job](https://github.com/OpenFn/ConSoSci/blob/master/automation/00-findUpdates.js) doesn't find any updated forms. See run logs: https://www.openfn.org/projects/p5x4g4/runs/r44ga9mm

### state.json

See LP for `OpenFn Kobo Toolbox`
## To test/resolve
Feel free to rerun https://www.openf

[2021-09-13 10:03] lakhassane commented on #140
@aleksa-krolls

1. no not needed unless we are doing some manipulations before assigning it will be done in the adaptor
2. Let me clear the db but yes you can test. Also I append a log with a DROP TABLE in processForm that you can use for that matter.

[2021-09-13 10:13] ritazagoni commented on #150
@dianedetoeuf this is ready, the year of "today" is added to the datasetId for "BNS Cross River 2017 - 2020", across all tables. See example run log here:
https://www.openfn.org/projects/p5x4g4/runs/r7x6gm67. You can check the DB data for survey `amD3cUsR4Jurj3ZSUyQdBH` to verify all looks good.
In order to update, you will need to delete all BNS survey data from the DB and reprocess the BNS surve

[2021-09-13 10:14] #150 closed

[2021-09-13 12:11] #153 closed

[2021-09-13 12:22] ritazagoni commented on #119
I ran the automation for testing and encountered 2 errors:
1. `AD. Sync Data Dictionary` error: https://www.openfn.org/projects/p5x4g4/runs/rn5p8dy6 `value too long for type character varying(100)`
2. `DD. Update Data Dictionary` job failed https://www.openfn.org/projects/p5x4g4/runs/r44gawr7
with a SQL  `RequestError: String or binary data would be truncated.`
Related `AD. Sync Data Dictionary` r

[2021-09-13 13:01] lakhassane commented on #119
@ritazagoni both of these issues are related probably. We are inserting a column with a value longer than what is expected. Probably it's this one. From what I saw it's the column `constraint` that should expect 30 chars but had `218` instead
What would you advise here:
1. truncat to 100.
2. increase the column to more than 100 chars
cc @aleksa-krolls

[2021-09-13 13:14] ritazagoni commented on #119
@aleksa-krolls should we ask Steve do decide?

[2021-09-14 06:38] aleksa-krolls commented on #119
@lakhassane @ritazagoni `constraint` tells us what validation rules have been programmed into the Kobo forms... these can be long. Therefore, when we auto-generate the Data Dictionary tables, let's make sure the columns are longer.

@lakhassane what are you using for default column lengths across the `Questions` and `Choices` tables?
In addition to `constraints`, I think we can expect `labels` to

[2021-09-14 06:39] aleksa-krolls commented on #152
@lakhassane How is this going? Anything to talk through? (When you get the chance, would you please share a quick update and any questions for me to include in my call with them later today?)

[2021-09-14 08:43] dianedetoeuf commented on #151
Hi @aleksa-krolls, the mapping looks good and it seems to work when I test it but the citation column in the database is still empty...

[2021-09-14 09:06] aleksa-krolls commented on #151
@dianedetoeuf What were you testing on? (I think we need to first re-fetch the data from the Kobo API in order to create new messages with this `instance` tag added.) Suggested next steps...

1. First update the `instance` tags of the relevant forms to re-sync here: https://www.openfn.org/projects/p5x4g4/jobs/jyxzzm
2. Then we can test by running this Historical Fetch job for 1 of these forms. Run

[2021-09-14 09:19] lakhassane commented on #119
@aleksa-krolls I was using 100 chars as default but I can change both of them to `max` so we would be good

[2021-09-14 09:28] lakhassane commented on #119
@ritazagoni I made the update

[2021-09-14 09:39] dianedetoeuf commented on #151
Hi, yes I've followed these steps yesterday:
1. Added the instance tag line 27 of the historical job
2. Run this job for this socio eco survey EU form
3. Saw the incoming messages processed with bns/survey job, all successful, see for example this one https://www.openfn.org/projects/p5x4g4/messages/mrb764e8

But the citation column is still empty in the DB.

[2021-09-14 09:59] ritazagoni commented on #119
@lakhassane we have the same error with the `AD. Sync Data Dictionary Postgres` job: https://www.openfn.org/projects/p5x4g4/runs/rg5m9ake ` value too long for type character varying(100)`

[2021-09-14 10:25] lakhassane commented on #152
@aleksa-krolls I might have one concern here:

So basically we should use the list name instead of question name.
One example in the current form I have is `yesno` select list name. We have 2 questions (`boat_info`, `targeted` and `release_shark_ray`) using the same select list name. So per the specs we should create only one table for all of them `WCSPROGRAMS_YesNo`.

However, the way we were gen

[2021-09-14 10:49] ritazagoni commented on #151
`instance` tag is added to the message as expected https://www.openfn.org/projects/p5x4g4/messages/mrb764e8

[2021-09-14 14:13] ritazagoni commented on #151
@aleksa-krolls haven't been able to find the source of the error

[2021-09-14 19:25] aleksa-krolls commented on #119
@ritazagoni Looks like we needed to delete the DD tables in the test DB and then re-run so that the column configuration is updated to no longer have the 100 char limit. I've now synced all the BNS and NRGT forms successfully. Will ask WCS for further input.

@lakhassane Looking pretty good! I'm inspecting the form definition uploaded to the DD tables in the `wcs test mssql db`.. and have some min

[2021-09-15 10:32] lakhassane commented on #119
@aleksa-krolls I made the correction for point 1.

For point 2, it might be a little complicated. `list_id` in `KoboToolBox_Choices` are build using `${x.list_name}${formId}${x['$kuid']}` (`$kuid` being the specific kuid for that `list_name`). So we can have in `KB_Choices` the same list_name but different `kuid`.
<img width="459" alt="Screen Shot 2021-09-15 at 10 31 33" src="https://user-images.g

[2021-09-15 11:46] aleksa-krolls commented on #119
@lakhassane Looking pretty good now! Last question for the time being... I'm noticing that some (not all) of the `KoboToolBox_Forms.table_id` values still include `undefined`... any idea why that's the case?
<img width="448" alt="Screen Shot 2021-09-15 at 2 44 54 PM" src="https://user-images.githubusercontent.com/16758106/133427614-aa6e47d0-6209-44ae-b96e-b049d221e9d5.png">

[2021-09-15 11:53] aleksa-krolls commented on #119
@lakhassane re-ran and looking good now. You can go ahead and replicate for mssql... but this is lower priority, so moving this to the middle of the backlog.

[2021-09-15 18:55] lakhassane commented on #152
@aleksa-krolls so I was able to create only one table for all the list names (e.g. `WCSPROGRAMS_YesNo`) and then only one operation that will map to that table using any of the select_one question.

Now we might still have that same issue where we upsert multiple times the same row. I'm going to make a test to see if I can trigger it and see how to put a fix for it.

[2021-09-15 19:08] lakhassane commented on #119
@aleksa-krolls I replicated for postgres.

I don't know if it makes sens to have another job to udpdate data on postgres (because this one https://github.com/OpenFn/ConSoSci/blob/master/datadictionary/03b-updateDataDictionaryMssql.js) works for both DB (if you change the adaptor before running).

But in any case there is `updateDataDictionaryPostgres` available for you

[2021-09-16 06:01] aleksa-krolls commented on #144
@lakhassane We correctly removed this `Payload` column from the SQL script, but not from the auto-generated job. Therefore, I'm now encountering this error when testing syncing data: https://www.openfn.org/projects/p5x4g4/runs/r89pay69
[code]

[2021-09-16 06:21] aleksa-krolls opened #155 "Automation: Auto-generated S&R job fails to sync data"
## Request
Given the changes made for issue #152 , we now need to replicate this in the auto-generated job: https://www.openfn.org/projects/p5x4g4/jobs/jyk5mw

When I've tried syncing data against the auto-generated job, I'm only encountering failures. See example:
TypeError: https://www.openfn.org/projects/p5x4g4/runs/0614b16b-5000-703c-986c-cf15cee36cbd

## adaptor
Pls prioritize mssql first (al

[2021-09-16 06:35] aleksa-krolls commented on #152
@lakhassane Thanks for the update. It sounds like work is still in progress here, but have your changes been pushed? Is it valuable for me to run a test now?

[2021-09-16 06:36] #140 closed

[2021-09-16 06:36] #136 closed

[2021-09-16 09:31] lakhassane commented on #144
@aleksa-krolls weird. Is it possible that this could be an old job? I see it was created `08/17` while I removed the payload `08/31`. I'm saying because actually the `syncToOpenfn` does not create column

[2021-09-16 10:41] lakhassane commented on #144
@aleksa-krolls there were a small typo in how we update. it's corrected now and changes (payload removed from everywhere but main table) are reflected.

[2021-09-16 16:19] lakhassane commented on #152
@aleksa-krolls I think I finally got there.
This is a sample job generated https://gist.github.com/lakhassane/7e8eb0863d5c1192cca2b0df7ac72d6d

Have a look at some of the lookup talbes (`[WCSPrograms_Yesno](https://gist.github.com/lakhassane/7e8eb0863d5c1192cca2b0df7ac72d6d#file-newjob-js-L379-L393)`)

The trick is for select questions, I dynamically build an array of list of values that exists in

[2021-09-16 16:44] aleksa-krolls commented on #152
@lakhassane This is some dark magic :D. My reactions below - but let me know if you want to jump into a hangout to talk this through...
1. Lookup tables - looking great!
2. Data arrays built into jobs... so will these be hardcoded into the job? What happens if data values changed in the Kobo form? (Wondering if there's a more dynamic way of doing this, or whether the client will need to continuall

[2021-09-17 11:06] taylordowns2000 commented on #152
My 2c...

1. find form defintion (in `processForm` ?)
2. find `choices` array
3. group items in `choices` array by `select_list_name` (create `choice_list_dictionary` :white_check_mark: )
4. in `syncToPostgres`…
5. … add/update tables
6. … pre-populate choices tables with valid choices

because this is “build time” configuration for the DB… it all has to get done before any OpenFn jobs try to load

[2021-09-17 17:06] lakhassane commented on #152
@aleksa-krolls updates on this. So 1..5 are done. Just need to finish iterating on the choices array and populate the pre-built tables and we are done.

Also on your comment above Taylor's one I have implemented the changes requested. Might finish the rest later today or tomorrow morning.

[2021-09-20 06:05] #144 closed

[2021-09-20 06:18] aleksa-krolls commented on #152
Thanks @lakhassane @taylordowns2000 Refactor is sounding good... but can we talk this through today after standup? I want to make sure what you're envisioning here will work given how I expect WCS to be using this automation solution vs. actions they plan to take manually.

Also, @lakhassane can you provide a timeline estimate for when these changes will be ready for testing? This morning, I need

[2021-09-20 06:19] aleksa-krolls commented on #152
Thanks @lakhassane @taylordowns2000 Refactor is sounding good... but can we talk this through today after standup? I want to make sure what you're envisioning here will work given how I expect WCS to be using this automation solution vs. actions they plan to take manually.

Also, @lakhassane can you provide a timeline estimate for when these changes will be ready for testing? This morning, I need

[2021-09-20 16:22] lakhassane commented on #152
@aleksa-krolls it's all check. I will merge this branch to master so you could run the process and test.
I also cleaned the DB

[2021-09-21 06:17] aleksa-krolls commented on #152
@lakhassane I'm reviewing the [latest sql script](https://github.com/OpenFn/ConSoSci/blob/master/sharks_rays/autoSql_SharksRays.sql) and have some feedback...

1. Following up to my change request `4` in my last comment - the FK columns need to have the naming convention `ParentPkID_QuestionName` (e.g., `WCSPROGRAMS_SexID_VendorSex`, `WCSPROGRAMS_SexID_SSex`).
However, currently it looks like `ID`

[2021-09-21 12:03] lakhassane commented on #152
@aleksa-krolls feedback on here:
1. All the sql to copy/paste is now after the `Logging queries` log (https://www.openfn.org/projects/p5x4g4/runs/r7xpm8ww). If you look at line `1427` you can find the one that populate the DB.
2. I made the change accordingly (look at line
3. It was already implemented from what I see. See screenshot below for `WCSPROGRAMS_SexID_VendorSex`. The same can be found f

[2021-09-21 13:39] aleksa-krolls commented on #152
@lakhassane thank you!!! Latest sql script shared with the client, and also copied to github here: https://github.com/OpenFn/ConSoSci/blob/master/sharks_rays/autoSql_SharksRays.sql

[2021-09-22 09:12] lakhassane commented on #155
Hey @aleksa-krolls could you give me more context on this one please?

[2021-09-22 12:00] aleksa-krolls commented on #155
@lakhassane Sorry I think I was looking at an older version of the auto-generated job. I've updated the issue with details on the current problems I'm experiencing. Let me know if you need more info!

[2021-09-27 07:36] #119 closed

[2021-09-27 09:39] taylordowns2000 commented on #155
@lakhassane , line `84-85` of the auto-generated job is `Latitude: state => state.data.gps.split(' ')[0]`.

@aleksa-krolls , assuming that the desired outcome is for cases when no GPS sends to set this field as `null` in Postgres, we should @lakhassane , change this to use something like `state.data.gps?.split(...)`

[2021-09-29 10:24] #152 closed

[2021-10-12 17:01] aleksa-krolls commented on #155
@lakhassane looking good... and we have sign off from Steve on the auto-generated sql (WAHOOOOO!!!). Good work dude :)

[2021-10-12 17:01] #155 closed

[2021-10-12 17:07] aleksa-krolls opened #159 "Sharks&Rays: Update job to map data to manually-adjusted sql configuration"
## Background, context, and business value
So we have the automation solution working for Sharks & Rays... wahoo!
1. Here is the job auto-generated: https://github.com/OpenFn/ConSoSci/blob/master/sharks_rays/autoSharksRays.js
2. Here is the auto-generated sql: https://github.com/OpenFn/ConSoSci/blob/master/sharks_rays/autoSql_SharksRays.sql

Steve has made manual adjustments to 2 in order to map s

[2021-10-19 15:09] aleksa-krolls commented on #159
@lakhassane I've discussed with Steve and updated both the job mappings and sql script accordingly to resolve your TODOs...
- [Updated sql script](https://github.com/OpenFn/ConSoSci/blob/2f618b6f275e759ca08fa3578995f49a3eb0d5d7/sharks_rays/autoSharksRays__vSteve.sql) - I made some minor adjustments related to the mappings I implemented in the job
- Updated job: https://github.com/OpenFn/ConSoSci/b

[2021-10-20 15:39] aleksa-krolls commented on #159
@lakhassane
1. On table `WCSPROGRAMS_SharksRaysSales`, there should be a column called `WCSPROGRAMS_TaxaID_SSpecies` that is FK to the table `WCSPROGRAMS_Taxa` which has PK `WCSPROGRAMS_TaxaID`. Therefore, in  `WCSPROGRAMS_SharksRaysSales.WCSPROGRAMS_TaxaID_SSpecies` we should see the value for `WCSPROGRAMS_TaxaID` (e.g., `1`) of the matching parent Taxa record. See related sql: https://github.com

[2021-10-26 05:37] aleksa-krolls opened #160 "Use countryMap to transform Kobo `country` value"
## The specific request, in as few words as possible
I started drafting the change myself, but got stuck.

Here is the countryMap table I added:
https://github.com/OpenFn/ConSoSci/blob/d9a9ee6aaa66d16900fe93d0977db319d8718155/sharks_rays/autoSharksRays.js#L4-L9

Please use this to transform `country` - e.g., `state.countryMap[dataValue('country')]` to change `tanzania` to `Tanzania`
https://github

[2021-10-26 05:38] #159 closed, assigned to lakhassane

[2021-10-27 13:02] #160 closed, assigned to lakhassane

[2021-10-28 14:52] aleksa-krolls opened #161 "Automation: Job `01-processForm.js` fails for TT form"
## Describe the bug
WCS is working with a new partner Trillion Trees that also wants to use the automation solution for their Kobo forms. We therefore setup the automation jobs in a new OpenFn project, but they're failing with the first test we're running with a new TT Kobo form.

## To Reproduce
Form is found in Kobo... but OpenFn is unable to process and fails with `TypeError`:
https://www.openf

[2021-11-01 10:05] aleksa-krolls commented on #161
@lakhassane please prioritize in the AM when back along.

@ritazagoni pls help with testing in the TT project when this is ready.

[2021-11-02 11:11] lakhassane commented on #161
@aleksa-krolls the issue with `processForms` is solved: https://www.openfn.org/projects/p5qvqx/runs/061811bb-c113-7532-9d6e-39ec1b42b90c

However, I see the other flow jobs are all failing with
- 500 status code: https://www.openfn.org/projects/p5qvqx/runs/061811bc-27a0-724a-8674-424ec30a7d68
- create table permission denied: https://www.openfn.org/projects/p5qvqx/runs/061811bc-2877-7b0d-956f-2558

[2021-11-02 11:11] lakhassane commented on #161
@aleksa-krolls the issue with `processForms` is solved: https://www.openfn.org/projects/p5qvqx/runs/061811bb-c113-7532-9d6e-39ec1b42b90c

However, I see the other flow jobs are all failing with
- 500 status code: https://www.openfn.org/projects/p5qvqx/runs/061811bc-27a0-724a-8674-424ec30a7d68
- create table permission denied: https://www.openfn.org/projects/p5qvqx/runs/061811bc-2877-7b0d-956f-2558

[2021-11-02 13:48] aleksa-krolls commented on #161
@taylordowns2000 issue blocked and these 2 runs (see Mamadou's comment) fail because of access issues. See my Slack thread where we need your assistance: https://openfn.slack.com/archives/G2LJCFFDW/p1635856136031600?thread_ts=1635851478.016300&cid=G2LJCFFDW

[2021-11-02 18:15] aleksa-krolls commented on #161
@lakhassane See my Slack thread. Automation solution is failing with `422`: https://openfn.slack.com/archives/G2LJCFFDW/p1635876717085200?thread_ts=1635851478.016300&cid=G2LJCFFDW

Also please note the security question I flagged re: run logs for this openfn adaptor.

[2021-11-03 10:24] aleksa-krolls opened #162 "Automation: If all `execute` options are `false`, do not check for existing tables and generate create SQL script"
## Background
Currently the automation fails if this option is `execute: false`. However, sometimes we don't want to check an existing DB if tables or columns exist because the client doesn't want to compare with only 1 DB... sometimes the client wants to generate a base sql script and then adjust from there as needed for each destination.

https://github.com/OpenFn/ConSoSci/blob/865934c831d2cbd33

[2021-11-03 10:32] lakhassane commented on #161
@aleksa-krolls both projects working fine using the integer project_id. We were having a failure because of API changes where we no longer used hash ids to insert jobs.

TT: https://openfn.org/projects/p5qvqx/runs/0618264b-a5fe-7dc6-b887-e2545bda1d5e

WCS: https://openfn.org/projects/p5x4g4/runs/06182637-85a1-7e3a-b4a7-c1f89e888d51

[2021-11-03 10:39] aleksa-krolls commented on #161
Ok, great. So what will we use going forward... integers or hash ids?

Then I'm still not able to successfully run the full automation for the TT form:
1. A3 sql failing: https://openfn.org/projects/p5qvqx/runs/06182662-7d1a-7331-b805-d7faa224423c
2. A5 dictionary failing: https://openfn.org/projects/p5qvqx/runs/06182662-7dd2-7309-a9a0-bbfe44904c77
(For this, I want to write SQL and not make any D

[2021-11-03 10:42] taylordowns2000 commented on #161
The credential should use an integer `projectId` (until further notice... this is _very unlikely_ to change, but if it does it we will be prepared and will need to change these credentials.)

Inside the job itself, there's nowhere else that is specifying an `id`. Instead, @lakhassane is _using_ the `id` values he's getting back from the various APIs in later payloads. Because of this, they won't n

[2021-11-03 11:58] lakhassane commented on #162
This is handled with the latest update on `02b-syncMetadataMssql` and `02c-syncToMssql`.

[2021-11-09 05:12] #161 closed

[2021-11-09 12:21] aleksa-krolls opened #164 "Automation: ReferenceError [Error]: x is not defined"
## Describe the bug
I re-ran the automation to sync the `TT_SiteRegistration` form with the `wcs test mssql db` to ensure the SQL is executed.

I am now testing the auto-generated job against data and encountering the error `ReferenceError [Error]: x is not defined`. Can you please edit the `TT_SiteRegistration.js` job and/or advise if edits need to be made to the automation solution?

## To Repro

[2021-11-09 17:42] lakhassane commented on #164
@Aleksa Krolls I solved the x issue. However while running the TT_SiteRegistration.js job I’m having this issue with null value. Are the state complete? Or should some data be inserted first in the DB for lookup tables.
<img width="1425" alt="Screen Shot 2021-11-09 at 17 33 24" src="https://user-images.githubusercontent.com/8411231/140976437-bab2dea1-469a-4fd2-9145-07e720b119e8.png">

FYI this is

[2021-11-09 17:55] lakhassane commented on #162
@aleksa-krolls I added some inline comments and a bigger one at the top to explain what's going on. Let me know if this is helpful.
https://github.com/OpenFn/ConSoSci/blob/master/automation/02c-syncToMssql.js#L1-L5

[2021-11-10 07:16] #162 closed

[2021-11-10 07:24] aleksa-krolls commented on #164
Thank you @lakhassane. I was able to hand back to WCS this morning and they already implemented mapping changes to resolve the issues they're describing above. **Fyi, they will continue to make job mapping changes this morning... so if we make any further edits, let's push to a separate branch so we can merge later.**

Two questions:
1. What was causing the `x` issue? Does this require further cha

[2021-11-10 12:47] lakhassane commented on #164
@aleksa-krolls
1. yes I had to update the automation solution (`syncToOpenFn.js`) because we had a typo in the depth of some questions. Depth was wrongly set to greater than 1 thus acting as if they were nested which weren't the case.
2. This issue is linked to the above one still for some select_multiple questions. If they are not nested, they do not have a composed path. So, we should find a spe

[2021-11-10 13:40] ritazagoni commented on #164
hey @lakhassane  here are the `TTSiteRegistration` DB details https://docs.google.com/spreadsheets/d/1iqxmdY4ejZtbhiJMPtXI9HcwyOzPl669/edit?usp=sharing&ouid=104823214343680248429&rtpof=true&sd=true

[2021-11-17 10:41] #164 closed

[2021-11-22 11:09] ritazagoni opened #165 "Automation: Update table naming syntax"
## The specific request, in as few words as possible

Currently we're using the convention `prefix1_prefix2_tableID` to name database tables in the automation solution.

We would like to update it to use the following syntax: `prefix1_prefix2tableID`
For example:
[code]
Current table name: `WCSPROGRAMS_SocioEco_SocioEcoSurvey`
Desired table name: `WCSPROGRAMS_SocioEcoSocioEcoSurvey`

The change ne

[2021-11-22 11:57] aleksa-krolls commented on #165
@lakhassane Ready to work on. This should be applied to the entire automation solution... this is the new default naming convention. Let @ritazagoni know if any questions!

[2021-11-22 14:10] ritazagoni opened #166 "TrillionTrees: many:many tables not populating"
## Describe the bug
The external many:many tables `TT_SiteRegistrationAnimalActionShift`, `TT_SiteRegistrationTreeType` and `TT_SiteRegistrationAnimal` are not being populated

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://www.openfn.org/projects/trillion-trees/runs/061967f0-4344-7f27-9c2e-3298d27c57d3

Diane reported that the `TT_SiteRegis

[2021-11-22 16:16] lakhassane commented on #165
@ritazagoni I updated the job for new naming convention.

The updates needed to be done only in `syncToOpen`, `syncToMssql`, and `processForm`

[2021-11-22 18:56] aleksa-krolls commented on #165
@ritazagoni @lakhassane remember we had to make copies of these jobs for Trillion Trees... can you coordinate to make the relevant changes here? (Or not sure if it should go elsewhere/if Rita has setup the new repo yet.)

https://github.com/OpenFn/ConSoSci/tree/master/automation/trillion-trees

[2021-11-23 06:31] ritazagoni commented on #165
@lakhassane I'm moving the Trillion Trees jobs now - I'll let you know once ready so you can make the changes there

[2021-11-23 08:34] ritazagoni commented on #165
@lakhassane please update the Trillion Trees jobs here: https://github.com/WCS-ConsTech/OpenFn-TrillionTrees

[2021-11-23 08:42] ritazagoni commented on #166
@lakhassane please see the new location for the job: https://github.com/WCS-ConsTech/OpenFn-TrillionTrees/blob/main/TT_SiteRegistration.js

[2021-11-23 16:08] lakhassane commented on #166
Hey @aleksa-krolls  the job is "almost" working. Can you please whenever possible look at line `243` here https://openfn.org/projects/trillion-trees/jobs/jyz8jn and advise what should be used for `uuid`? Or should we ask Diane?

[2021-11-23 20:36] aleksa-krolls commented on #166
@lakhassane where you able to talk to Steve? What's the status? Please try to let us know where things sit before signing off so @ritazagoni and I can support. Thanks!

[2021-11-25 12:36] aleksa-krolls opened #167 "Automation: TypeError [Error]: Cannot read property 'toLowerCase' of undefined"
## Describe the bug
Seeing this run failure when WCS runs the `A3` job to generate a SQL script:
`TypeError [Error]: Cannot read property 'toLowerCase' of undefined`
https://www.openfn.org/projects/trillion-trees/runs/0619f7ad-aeb9-7b8a-9976-432e14954e6c

## To Reproduce
1. Re-run job `A1`: https://www.openfn.org/projects/trillion-trees/runs/0619f7ac-1be6-7341-8e12-a8fafe75e019
[code]

### express

[2021-11-25 13:16] lakhassane commented on #167
@aleksa-krolls there is no `syncToMssql` job in the `OpenFn_TT` repo. Do you know where this is located? (clicking on the expression take you to GH 404 page)

[2021-11-25 13:51] aleksa-krolls commented on #167
@lakhassane Oh weird... it looks like the OpenFn Job has a file path, but the file wasn't created in the Repo. Added it now (copying over from `consosci): https://github.com/WCS-ConsTech/OpenFn-TrillionTrees/blob/main/02c-syncToMssql__TT.js

And re-ran the job on platform... still an error: https://www.openfn.org/projects/trillion-trees/runs/0619f941-2dcd-7a06-89c1-27d7e163725e

[2021-11-25 14:17] #165 closed

[2021-11-25 15:55] lakhassane commented on #167
@aleksa-krolls Corrected this one for both syncToMssql in `OpenFn_TT` repo and `Consosci` repo. It was related to the fact that we removed the underscore in table naming.

[2021-11-26 04:22] #167 closed

[2021-11-26 04:23] aleksa-krolls commented on #166
@lakhassane I know you had a lot going on yesterday... but how did this finish up? What's the latest status to pick up on Monday? (I want to make sure I can update WCS... thanks!)

[2021-11-26 09:51] lakhassane commented on #166
@aleksa-krolls sorry yes, I pushed the changes done yesterday. But there are still mappings that need review from WCS (the last 3 operations of the job). I comment out `TT_SiteRegistrationID` awaiting review

[2021-11-29 05:44] aleksa-krolls commented on #166
Thanks @lakhassane... @ritazagoni can you review and follow up with WCS and Mamadou as needed?

[2021-11-29 08:42] aleksa-krolls commented on #166
@lakhassane Two pieces of feedback to help you finish this...
1. Should this line reference a specific Kobo question ( `where_animals_shifted`) and not just `state.data`?
https://github.com/WCS-ConsTech/OpenFn-TrillionTrees/blob/main/TT_SiteRegistration.js#L234

2. To link m:m tables to ` TT_SiteRegistrationID`, the mapping should look like this...
[code]

[2021-11-29 12:22] lakhassane commented on #166
@aleksa-krolls ...

1. In this specific case the value of `where_animals_shifted ` is inside `state.data` that's why.
2. I used the findValue so having a green check here: https://www.openfn.org/projects/trillion-trees/runs/061a4c5b-3a2d-76f4-8a7c-ada6770d56d3

But note that the last 3 operations in the job are skipped because there is no array for upsert. So, we might need another message for mor

[2021-11-29 12:38] aleksa-krolls commented on #166
Thanks, @lakhassane. Not sure this is working...
Seeing errors since making these changes:
https://www.openfn.org/projects/trillion-trees/runs/061a4c94-3258-7557-8769-837d32ff5e2f
https://www.openfn.org/projects/trillion-trees/runs/061a4c99-1d2f-77b9-8fd4-4f119876418b

[2021-11-30 14:04] aleksa-krolls commented on #166
@lakhassane We're encountering this error when trying to use the m:m table PK e.g.,  upsert on`TT_SiteRegistrationAnimalActionShiftID`
[code]
Let's add a varchar `GeneratedUuid` column with a unique constraint to every one of these m:m tables so that we can upsert these rows.

[2021-11-30 15:39] aleksa-krolls opened #168 "Automation: Ensure solution handles `select_many` Kobo questions & generates `m:m` tables properly"
## Request
WCS says this Arcadia Kobo form has `select_many` questions that display data in the standard format we should expect across the automation solution.

E.g., Kobo question `select_multiple surveys_planned` will have JSON submissions that look like:
`"surveys_planned": "basic_necessities_survey camera_trapping other_passive_sensor"`

Can you please run the automation solution for this for

[2021-11-30 16:43] aleksa-krolls commented on #166
@lakhassane as discussed with Steve... we will upsert the m:m tables via a unique constraint that combines the IDs of the 2 parent tables.

Steve confirmed that these have now been added added to the m:m tables. Can you please review, change the upsert keys in the job, and test to see if this works now?
[code]

[2021-11-30 22:28] lakhassane commented on #166
@aleksa-krolls yes that was super helpful.

`mssql` is different than `postgresql` as it does not allow to specify the name of the constraint for upsert. So I made a modification to the adaptor to allow multiple uuids at the same time.

So from now on, we can use either

- With only one `uuid`
[code]
- With multiple `uuids`
[code]
Note that this is valid only on `mssql`

[2021-11-30 23:17] lakhassane commented on #166
@ritazagoni once @taylordowns2000 has deployed `v2.6.10` for mssql can you update the job adaptor version and test please?

[2021-12-01 11:25] lakhassane commented on #166
@ritazagoni I tested with `v2.6.11`, find the runs for the latest failed runs.
run 1: https://www.openfn.org/projects/trillion-trees/runs/061a75b4-71b9-7d17-bb47-ff3cbfe68432
run 2: https://www.openfn.org/projects/trillion-trees/runs/061a75b5-51d2-7ded-8627-b479fca43909

[2021-12-01 18:24] aleksa-krolls opened #169 "Arcadia: Help correct WCS edits made to the job"
## Describe the bug
We created this existing job... but WCS made a handful of change that broke the job by copying/pasting similar examples from other jobs. **Can you please help to correct & get this job up and running again for all Arcadia messages?**

From Steve:
[code]
1. Form changes (see green highlighted rows): https://docs.google.com/spreadsheets/d/1jlZdl8xt8rPrFrV36JJyS5ywZdQO_eEWlq53IMFE

[2021-12-01 18:25] aleksa-krolls commented on #166
Thanks @lakhassane ... did a bulk reprocess and everything is passing nicely! Will let you know if any further feedback.

[2021-12-01 18:25] #166 closed

[2021-12-02 08:08] aleksa-krolls commented on #169
@lakhassane pls prioritize today... I also sent a calendar invite for you and Diane to sync in case you have questions. If that doesn't work for you, feel free to message her directly on skype to coordinate a time.

[2021-12-02 11:50] lakhassane commented on #169
Questions that could help for the call.

1. What is the mapping for the table `WCSPROGRAMS_ProjectAnnualDataPlanCameraTrapSetting`. Where would each column comes from?
2. ...

[2021-12-02 20:07] lakhassane commented on #169
@dianedetoeuf you can find the last version in the file `arcadiaSiteDataCollection.js` for testing. Beware you might find some issues while testing occasionnaly about:
- missing columns (to add in the mapping),
- columns not accepting `NULL` because there is no value for them in the state while they are mandatory (this is the case of `WCSPROGRAMS_ProjectID`)

[2021-12-03 09:48] dianedetoeuf commented on #169
Hi Mamadou, thank you! I don't understand the error that I have (https://www.openfn.org/projects/wcs/runs/061a9e26-b0a1-71cb-bc38-f842d7e9e39a) do you know which columns to add/make nullable?

[2021-12-03 09:57] lakhassane commented on #169
@dianedetoeuf the job needed a newer adaptor version. Check here you will see some of the errors I was talking about https://www.openfn.org/projects/wcs/runs/061a9e9d-58c9-716f-80e2-d713599afb6b

[2021-12-03 10:44] aleksa-krolls commented on #169
@dianedetoeuf If the below mapping is returning nothing, maybe it cannot find `"swm_site": "2022"` in the DB? And/or is the mapping right?
[code]

[2021-12-03 13:32] dianedetoeuf commented on #169
I think the mapping is right, maybe it's just IDs missing in the lookup tables. Will check with Steve. Thank you!

[2021-12-07 09:09] dianedetoeuf opened #171 "Correcting years depending on form name"
## Describe the bug
When the battery of a smartphone is too low, the date/time is reset to factory time. This causes issue for our analysis as the start time of a survey is for example 2000 instead of 2017. This can't be corrected in Kobo as it's a metadata so I'd like to update it with Open Fn.

## To Check
Can you check the code I've added to try and correct the year depending on the form name,

[2021-12-07 14:45] aleksa-krolls commented on #171
@ritazagoni tomorrow, can you please triage & hand off to Mamadou?

[2021-12-07 14:48] aleksa-krolls commented on #151
@ritazagoni added to your backlog to triage again tomorrow

[2021-12-07 15:32] #169 closed

[2021-12-07 19:57] aleksa-krolls commented on #168
@lakhassane can you please share a status update and estimated time needed to complete? Need to keep WCS informed and prioritize accordingly, thanks!

[2021-12-08 14:52] dianedetoeuf opened #172 "New issues in Arcadia job"
## Describe the bug
The job fails because of Invalid column name 'DatasetUuidId'. The column name is the same in the DB so not sure what to do.

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://www.openfn.org/projects/wcs/runs/061b0bd2-21fd-765e-a841-e35e2479682c

### expression.js
Link to the job itself in Github: (https://github.com/OpenFn/C

[2021-12-08 15:36] aleksa-krolls commented on #172
@dianedetoeuf Confirming you've checked that there's a column `DatasetUuidId` (spelled exactly like this) on the table `WCSPROGRAMS_ProjectAnnualDataPlanDataSetSurveyType`?

[2021-12-08 15:42] aleksa-krolls commented on #172
Also @dianedetoeuf ... @lakhassane suggested checking that there is unique constraint configured for that column since you are using this as the upsert key

[2021-12-08 16:12] dianedetoeuf commented on #172
Yes we've checked the spelling, and ok will look at unique constraint.

[2021-12-09 11:07] ritazagoni commented on #171
hey @lakhassane could you please check and test https://github.com/OpenFn/ConSoSci/blob/4e2714e36fdad71047ed026d76ff6eac2c1471a8/bns/survey.js#L136-L143

[2021-12-09 11:38] ritazagoni commented on #151
@lakhassane `instance` tag is properly added to message, see for example https://www.openfn.org/projects/wcs/messages/061af216-3c30-74c3-bf92-b195cea465f1 However the expected `citation` column is not added to the DB with run https://www.openfn.org/projects/wcs/runs/061af216-450f-73e0-bc2d-b7a51112fa71

[2021-12-09 13:22] dianedetoeuf commented on #172
We have unique constraint but the job still fails for the same reason.

[2021-12-09 13:28] aleksa-krolls commented on #171
@ritazagoni Do you have time to try this out yourself on devtools today or tomorrow morning?

Also, if we're going to hand off to engineers, can you please make sure sample Messages & creds are always provided in any request.

[2021-12-09 13:29] aleksa-krolls commented on #172
@lakhassane can you please check this out whenever you have the chance? Check out the comments above.

[2021-12-09 13:55] aleksa-krolls commented on #151
@dianedetoeuf This has been resolved - see example successful run for submission `128044018`: https://www.openfn.org/projects/wcs/runs/061b20a4-d024-7ba9-bc23-6f1d872c16a4

Does it look okay in the DB now?
Let us know if you need any help reprocessing, and if we can close this issue.

[2021-12-09 14:07] aleksa-krolls commented on #171
@elias-ba can you please review the code @dianedetoeuf drafted? She is trying to evaluate the year of the `today` date (or `_submission_time` if that is not available), to then determine how to update the year of `SurveyDate`.

It would be great if you could (1) provide feedback on what she drafted, and (2) make any necessary changes so that `SurveyDate` outputs correctly and the run succeeds?

Se

[2021-12-09 15:38] dianedetoeuf commented on #151
Hi Aleksa, I've re-run the Lac Tele 20211115-aokQtdTGTnLW6omXRrf4ss dataset. The instance is in the messages but on the DB side the KoboData table still does not have any value in Citation...

[2021-12-09 16:28] aleksa-krolls commented on #168
@lakhassane See Slack for the test I tried to re-run: https://openfn.slack.com/archives/C031G8JAU/p1639066046018900?thread_ts=1639040890.001800&cid=C031G8JAU

Before signing off today, can you please leave me a summary of (1) what you've changed, and (2) what is working now, and (3) issues if any? Need to share with WCS bc they are waiting for us to sort this before they run again. I need to leave

[2021-12-09 21:00] lakhassane commented on #168
@aleksa-krolls quick feedback here:

1. I have changed : (1) how we generate data manipulation for `select_multiple` questions. Now we don't consider them as arrays anymore; (2) groups were wrongly input as arrays also, and that's corrected.
2. Generating DB script and DB structure works fine, as well as generating the job.
3. Main issue is just removing some auto-generated column as `GeneratedUui

[2021-12-10 02:02] elias-ba commented on #171
Hey @aleksa-krolls could you please give me access to the project ? I can't see it currently in OpenFn Platform. As soon as you give me access I'll be able address this issue. Thanks in advance.

[2021-12-10 07:03] ritazagoni commented on #171
@elias-ba added you, let me know if any issues

[2021-12-10 07:59] elias-ba commented on #171
Thanks @ritazagoni jumping into it right now.

[2021-12-10 08:55] elias-ba commented on #171
Hello @dianedetoeuf nice to e-meet you,

I have reviewed your code and I see that you're checking some conditions to update the `surveyDate` value.
I am assuming that the conditions you've written in your commented code below are valid and exhaustive:
[code]
If I understand them well, you're always taking the year in the `formName` value if the year in the `date` is under 2014 otherwise you're tak

[2021-12-10 10:18] dianedetoeuf commented on #171
Hi Elias,
Nice to e-meet you too! This sounds right, thank you so much. I'll make sure the Form Names end always with the year. I'll run it and let you know if there are any issue.

[2021-12-13 02:25] aleksa-krolls commented on #151
@lakhassane can you please help out? The mapping looks OK, but Diane says the dataValue for `instance` is still not outputting here: https://github.com/OpenFn/ConSoSci/blob/master/bns/survey.js#L276

Use this Message state to test (see LP for WCS Programs):
https://www.openfn.org/projects/wcs/messages/061af216-3c30-74c3-bf92-b195cea465f1

[2021-12-13 02:27] aleksa-krolls commented on #168
@lakhassane Please prioritize this today while you still have context built up... but can you please refresh the estimate on this issue based on what you think is left to complete today?

Keep me posted on when I can retest, and don't hesitate to reach out if you need to discuss anything.

[2021-12-13 11:26] lakhassane commented on #151
@aleksa-krolls it's normal. When using `dataValue` it expects the data to be inside `state.data` which is not the case for `instance` (mapping to `Citation`).
It's the same "issue" for `DatasetName` and `DatasetOwner` because the value mapping to those columns is not `state.data` neither.

The solution would be to add in the first operation (maybe at line 45) => `cleanedSubmission.instance = insta

[2021-12-13 11:57] aleksa-krolls commented on #151
Thanks @lakhassane! @dianedetoeuf I just re-ran this Message... can you review? (Thanks for your patience during all this back and forth.)
https://www.openfn.org/projects/wcs/runs/061b7341-dd99-7cda-9b96-3938998389b8

[2021-12-13 12:05] aleksa-krolls commented on #168
@lakhassane for the m:m table Ids, as discussed - let's use `_id`, question `name`, and what # item it is in the array.

[2021-12-13 14:29] dianedetoeuf commented on #151
Yes it worked! can we do the same for the BNS price job?

[2021-12-13 14:29] dianedetoeuf commented on #151
and for the NRGT jobs?
I can try adding it myself. :)
thank you!

[2021-12-13 15:16] dianedetoeuf commented on #172
Hi, any news on this?

[2021-12-13 18:09] aleksa-krolls commented on #151
@dianedetoeuf okay cool, here is Mamadou's commit: https://github.com/OpenFn/ConSoSci/commit/80e6bc85e3a73e412d44f425c60ff4ae25d07e0b

Keep us posted if you get stuck, and we can re-open the issue.

[2021-12-13 18:09] #151 closed

[2021-12-13 18:35] aleksa-krolls commented on #168
@lakhassane last change needed for the prefixes...
If `p1` only: `p1_FormName` (e.g., `WCSPROGRAMS_SiteSurvey`)
If also `p2`: `p1_p2FormName`  (e.g., `WCSPROGRAMS_ArcadiaSiteSurvey`)

Current behavior:
If `p1` only: `p1FormName` (e.g., `WCSPROGRAMSSiteSurvey`... needs underscore!)
If also `p2`: `p1_p2FormName` (correct!)

[2021-12-14 08:56] dianedetoeuf commented on #151
All green checks =) !

[2021-12-14 12:03] lakhassane commented on #168
@aleksa-krolls I made the changes for point 1 here

[2021-12-14 14:40] aleksa-krolls commented on #168
@lakhassane Tests are looking good so far! Thank you for all of the hard work, and for updating the default mssql adaptor version to `v2.6.9`.
I will continue testing, as well as hand-off to WCS for additional review.

[2021-12-14 16:32] lakhassane commented on #172
@aleksa-krolls @dianedetoeuf we have moved forward with another valid error: https://www.openfn.org/projects/wcs/runs/061b8c4f-0142-75a5-8825-d475f382c241

Looks like the mapping has a column that does not exis in the DB (`WCSPROGRAMS_DataSetSurveyTypeName` - check `L79`)

[2021-12-14 19:00] dianedetoeuf commented on #172
okay, I've fixed the column names. Would you be able to help on this new error: https://www.openfn.org/projects/wcs/runs/061b8e93-8ea6-754b-9d7f-f1c5a8924015 ?

[2021-12-15 10:15] lakhassane commented on #172
Hey @dianedetoeuf I see you use `DatasetUuidId` in here https://github.com/OpenFn/ConSoSci/blob/master/arcadia/arcadiaSiteDataCollection.js#L60

`DatasetUuidId` is not a variable in the state. Did you mean to use `body._id`?

I made that correction. Feel free to replace it if it should be something else.

For more context check here https://github.com/OpenFn/language-mssql#find-a-single-value-for-

[2021-12-15 10:54] aleksa-krolls commented on #172
@dianedetoeuf Looks like the error is now something with lookup values not found: https://www.openfn.org/projects/wcs/runs/061b9c2a-14f6-7a98-a473-71b157bd374e
[code]
Keep us posted if/how we can help.

[2021-12-15 11:01] dianedetoeuf commented on #172
Thanks, yes using body id seems logical. But I don't know why its not finding the lookup values.

ProjectAnnualDataPlanDataSetSurveyType is a many to many table where we're identifying the dataset and the types of surveys that dataset will be using. It contains the values ProjectAnnualDataPlanID and DataSetSurveyTypeID.

What we want is to get those IDs using a lookup function on the tables Projec

[2021-12-15 13:16] aleksa-krolls commented on #172
Hey @dianedetoeuf when we upsert rows into the tables `WCSPROGRAMS_ProjectAnnualDataPlan`, it does NOT look like we're mapping to the column `WCSPROGRAMS_ProjectAnnualDataPlanExtCode`. Therefore, I bet this column is blank on your `WCSPROGRAMS_ProjectAnnualDataPlan` records... which is why this job cannot find a matching record.
https://github.com/OpenFn/ConSoSci/blob/ca701e1205ebb90078871e2459b35

[2021-12-15 14:58] dianedetoeuf commented on #172
okay cool, I've used Answer ID and it seems to fix it.

New error though: TypeError [Error]: Cannot read property '0' of undefined on
https://www.openfn.org/projects/wcs/runs/061ba014-367c-7539-9487-1eaa79509233

[2021-12-15 20:30] aleksa-krolls commented on #172
@dianedetoeuf It looks like this mapping below is returning null values...
https://github.com/OpenFn/ConSoSci/blob/6df5e78401d69ab1f602b37036b807c73d8c32ca/arcadia/arcadiaSiteDataCollection.js#L130-L134

Can you confirm there records in the table `WCSPROGRAMS_CameraTrapSetting` with `ExtCodes` that match these values we see provided in the Message state?
[code]

[2021-12-15 22:00] #168 closed

[2021-12-16 10:09] dianedetoeuf commented on #172
@wcs-sgallo could you help here?

[2021-12-16 14:35] wcs-sgallo commented on #172
The values for WCSPROGRAMS_CameraTrapSettingExtCode were:
still_images
video_images
connected

I've added _to_be_collected to these.

[2021-12-16 14:53] aleksa-krolls commented on #172
@wcs-sgallo it looks like these Kobo values end with `_will_be_collected`, not `_to_be_collected`. Can you update the ExtCodes in the DB? Or do we need to re-label the Kobo values?

[2021-12-16 15:01] wcs-sgallo commented on #172
Updated.

[2021-12-16 15:31] aleksa-krolls commented on #172
@wcs-sgallo @dianedetoeuf there are some mappings that need to be reviewed for `WCSPROGRAMS_ProjectAnnualDataPlanDataSet`....
1. [L276-283](https://github.com/OpenFn/ConSoSci/blob/master/arcadia/arcadiaSiteDataCollection.js#L276-L283) is throwing this error... is this the right column name?: https://www.openfn.org/projects/wcs/runs/061bb5a0-ccc8-70c6-af0d-f56523fa7f55
2. [L288](https://github.com/

[2021-12-16 16:39] dianedetoeuf commented on #172
I'm trying to replace NULLS by NA here also but doesn't work either. See https://www.openfn.org/projects/wcs/runs/061bb6b7-b100-7b20-88ec-4852e653ccde

[2021-12-17 10:01] dianedetoeuf commented on #172
Hi, we've made the column nullable to move forward. I have a new error that i don't know how to fix: https://www.openfn.org/projects/wcs/runs/061bb707-3fb0-7961-a65f-74a4810da899

[2021-12-17 17:57] aleksa-krolls commented on #172
@elias-ba Can you help out with the latest error today or Monday?
See run failure: https://www.openfn.org/projects/wcs/runs/061bcaa5-7871-7a1c-a652-a338e491f84c
[code]
I _think_ the error is because there are 2 `paper` values in state (`"datasets/data_collection_tool": "paper"` - see L104 and 51 in [the Message](https://www.openfn.org/projects/wcs/messages/061b9aea-c05c-7061-81e5-dd6430e4fb67)), s

[2021-12-20 11:54] elias-ba commented on #172
@aleksa-krolls I think this is more than having 2 paper values in state. I have explicitly removed one of the paper values and we're still having the error. I think this is related to some foreign keys constraints in the DB that we need to know to be able to propose a solution. This does not exclude your intuition on the origin of the error but I think that the solution can only come from a good k

[2021-12-20 19:00] aleksa-krolls commented on #172
@taylordowns2000
To successfully process the Merge error for [this state](https://www.openfn.org/projects/wcs/messages/061b9aea-c05c-7061-81e5-dd6430e4fb67)... we need to transform the value `paper` in state.data --> `paper_form` to find the correct `WCSPROGRAMS_DataTool` record.
This transformation needs to be applied to 3 source values:
- `datasets/data_collection_tool` : [see L347](https://gith

[2021-12-20 19:57] taylordowns2000 commented on #172
@aleksa-krolls i've added another necessary cleaning rule [here](https://github.com/OpenFn/ConSoSci/blob/master/arcadia/arcadiaSiteDataCollection.js#L8)

but there are still at least two things that will continue to fail. do you know what [`state.dataChallengeMap`](https://github.com/OpenFn/ConSoSci/blob/master/arcadia/arcadiaSiteDataCollection.js#L540) and [`state.dataAssistanceMap`](https://gith

[2021-12-20 22:12] aleksa-krolls commented on #172
thanks for the help @taylordowns2000 ... fyi, turns out even more values in the reference tables were missing or mismatched what we received from Kobo, but I was able to resolve. Everything has now been reprocessed successfully.

[2021-12-21 08:23] elias-ba commented on #172
Thanks a lot @aleksa-krolls for the information. I was interested in knowing the root of that error.

[2022-01-11 14:35] aleksa-krolls commented on #172
@lakhassane The original error `Invalid column name 'DatasetUuidId'`first reported in this issue has surfaced again after @dianedetoeuf implemented a new set of mappings: https://github.com/OpenFn/ConSoSci/blob/master/arcadia/arcadiaSiteDataCollection.js#L623-L670

However, she has confirmed that the column `DatasetUuidId` is present on the target table.

## Request
Can you please review the error

[2022-01-11 20:23] lakhassane commented on #172
@aleksa-krolls  here is the culprit: `DataSetUUIDId`.
In the mapping, that column was written as `DatasetUuidId` while it was recorded as `DataSetUUIDId` in the table. mssql being case sensitive it will return an error because that exact column, `DatasetUuidId`, does not exist in the table.

I corrected that (`L646` and `L663`). Find here the latest run that shows another error with `AnswerId` htt

[2022-01-12 05:10] aleksa-burn commented on #172
@dianedetoeuf check out Mamadou's comment above. Is `AnswerId` in the DB? And is the capitalization correct?

If you're still not sure what's wrong, let us know what times you available today and tomorrow, and @lakhassane can plan to jump on a call with you to work through this.

[2022-01-12 05:11] aleksa-krolls commented on #172
@dianedetoeuf check out Mamadou's comment above. Is AnswerId in the DB? And is the capitalization correct?

If you're still not sure what's wrong, let us know what times you available today and tomorrow, and @lakhassane can plan to jump on a call with you to work through this.

[2022-01-12 14:14] dianedetoeuf commented on #172
Hi, we've added AnswerID and now have a new error  "Cannot update identity column 'WCSPROGRAMS_ProjectAnnualDataPlanDataSetDataSetOpenAccessChallengeID'."

[2022-01-12 14:17] dianedetoeuf commented on #172
Actually found the issue, that column had a much shorter name :) We have green check now!
Thanks for all your support again!

[2022-01-12 14:17] #172 closed

[2022-01-18 15:44] aleksa-krolls opened #175 "TT automation TypeError"
See the issue logged on the non-OpenFn repo: https://github.com/WCS-ConsTech/OpenFn-TrillionTrees/issues/3

Please replicate any changes made there in these automation jobs.

[2022-01-18 15:46] aleksa-krolls commented on #175
@ritazagoni I think we need to create an issue on `consosci` for every TT issue to make sure it shows up on the board _and_ to make sure changes are replicated.

[2022-01-18 19:10] lakhassane commented on #175
Changes replicated from the commit from the TT issue

[2022-01-19 10:59] #175 closed

[2022-01-19 12:09] ritazagoni commented on #175
Handed over to Diane.

[2022-01-31 15:06] dianedetoeuf opened #176 "Tables not syncing in Sharks & Rays"
## Issue
A few tables related to Sharks & Rays are not being synced:
- WCSPROGRAMS_SharksRaysSales
- WCSPROGRAMS_SharksRaysSample
- WCSPROGRAMS_SharksRaysFishCatch
- WCSPROGRAMS_SharksRaysCatchDetails
- WCSPROGRAMS_SharksRaysBoat
- WCSPROGRAMS_CatchDetailsGear

One of the forms had been modified and I updated the job to take the different versions into account. After reprocessing the messages, the

[2022-01-31 15:24] aleksa-krolls commented on #176
@lakhassane when you have time, please check out this issue Diane flagged. Because it's a new form version, I'm wondering if the mappings currently in place don't support the data structure. Once you've figured out what's going on here, I'd be happy to review with you and discuss next steps... ideally we need it working for both states linked to above.

[2022-01-31 16:36] aleksa-krolls commented on #176
@daissatou2 we noticed you've made multiple changes over the last couple of days. Was there a specific day/time that this _stopped_ working? Or has it never been working since you made the changes?

@lakhassane here some additional Messages you can test against:
1. With `"boat/catch_details"` array:
https://www.openfn.org/projects/wcs/messages/061f25f1-6f3e-71bf-b07a-675e74dcb349
2. With `"boat/ca

[2022-01-31 17:37] dianedetoeuf commented on #176
Those tables were never synced at all, so I guess from the beginning... But they are "sub" table so we didn't really notice it before trying to do the dashboards. What is weird is that no data is being added at all, even the data from the standard form. I did 2 types of changes:
- For the mapping of those sub tables, I thought because everything was called "Mapping" the job was confused and didn't

[2022-02-01 14:08] aleksa-krolls commented on #176
@dianedetoeuf We need to discuss how to handle the different form versions, because Mamadou and I are seeing that the different forms have _very_ different data structures. I will be hard to have 1 job work for all.

For example, here is what some of the state looked like in the original form used when first writing the job... [see message](https://www.openfn.org/projects/wcs/messages/0611b5c4-e00

[2022-02-01 14:42] dianedetoeuf commented on #176
Hi,

Yes they’ve added 2 groups, so we have either boat/catch_details/question or boat/catch/catch_details/question; and either market_details/vendor/sales/question or market_details/market_001/vendor/sales/question.

I've added the alternatives to all the questions that are impacted. Lets talk about it at our sync today!

[2022-02-01 15:38] aleksa-krolls commented on #176
@lakhassane got some feedback from @dianedetoeuf. There are 2 things going on here...

1. The job still doesn't work for the original form version it was created for. See [this Message](https://www.openfn.org/projects/wcs/messages/0611b5c4-e000-7c35-b26e-d9c30ee1c44c) with a `boat[*}` array and [related run](https://www.openfn.org/projects/wcs/runs/061f7f2a-9a29-72d7-b861-4821d4fdf61f) that shows

[2022-02-02 11:52] aleksa-krolls opened #177 "New SharksRays job to handle version 2 of form submissions"
## Background
Follow-up to issue #176 where we discovered that newer form versions have a different data structure that looks like...
[code]
... where `boat` info is not in a separate array, but rather captured on the main survey-level with the prefix `boat/` in the question name.

## Request
Duplicate the `autoSharksRays.js` job, and make a new version that handles this modified data structure.
1

[2022-02-02 12:39] lakhassane commented on #176
@aleksa-krolls I updated the job according to the state to make it work.
What to learn for future reference is that when you have a job with multiple `each`, you cannot use `each(dataPath('ARRAY[*]'), ...)`
as each will overwrite `state.data`. Then `dataPath` won't be able to find the array to iterate on.

I plucked out the different arrays to put them directly into state (that stays unaltered) an

[2022-02-02 12:46] aleksa-krolls commented on #176
thanks @lakhassane. And noted re: `each(...)`. I'll ask you to walk me through it again tomorrow so that I can share back with WCS on our next call.

@dianedetoeuf I need to test Mamadou's changes, but this means that the job fix for the original form version might be near-complete, pending your confirmation on whether `GeneratedUuid` is a column on these tables with a uniqueness constraint config

[2022-02-02 22:14] lakhassane commented on #177
@aleksa-krolls still work in progress in here. I'm finishing mapping in the morning and double check to send it your way!

[2022-02-03 11:30] lakhassane commented on #177
@aleksa-krolls done with replicating the autoSharksRays job.

I remove the boat[*] as they don't exist. As for the original job also, they will need to double check uuids for upsert functions.

[2022-02-03 14:03] dianedetoeuf commented on #176
Hi, the issue with GeneratedUuid seems to be a regular one, which is strange because we are using the tables provided by the script generated by the automation job.
It should be there now.

[2022-02-04 12:07] lakhassane commented on #176
@dianedetoeuf thanks for the feedback. We are almost there.
We are not mapping some of the table but we still have a column issue with `WCSPROGRAMS_CatchDetailsGear` and `WCSPROGRAMS_SalesGear`. Those tables don't have `GeneratedUuid` do you know what column should be used to upsert on? Also can you add the uniqueness constraint for that column in the db?

Also I think those 2 are lookup tables so

[2022-02-04 12:53] aleksa-krolls commented on #176
It looks like `WCSPROGRAMS_SalesGear` and `WCSPROGRAMS_CatchDetailsGear` are m:m tables that have foreign key fields mapped to other lookup tables.

So I've added a unique column `GeneratedUuidId` to each. @lakhassane I'm not encountering a TypeError when trying to run: https://www.openfn.org/projects/wcs/runs/061fd218-2d9d-76b4-8606-01129b3cb82e

[2022-02-04 13:33] lakhassane commented on #176
@aleksa-krolls a `return` was missing (check run now https://www.openfn.org/projects/wcs/runs/061fd27a-99a6-70d7-be87-d027ca0ff102).
However, the message you used does not have a `boat` array. Using [this message](https://www.openfn.org/projects/wcs/messages/0611b5c4-e000-7c35-b26e-d9c30ee1c44c) with a boat array works fine now => https://www.openfn.org/projects/wcs/runs/061fd2af-529b-70a8-b113-92

[2022-02-04 13:54] aleksa-krolls commented on #176
@lakhassane Got it... findValues implemented: https://github.com/OpenFn/ConSoSci/commit/727362f397d5a900c8d85112be931553e99512a7#diff-188808a0ad2b2af65908961290d008b6c80e3278f917a3b3cfe777214274d100

But see L244 of [this run](https://www.openfn.org/projects/wcs/runs/061fd2f3-d623-795f-8028-1af9a729607e)... why is `WCSPROGRAMS_GearID: undefined`? I see `spear_type` in the DB, so that findValue sho

[2022-02-04 15:08] lakhassane commented on #176
I corrected that final issue @aleksa-krolls. It's all set: https://www.openfn.org/projects/wcs/runs/061fd413-1785-74e4-8c4d-7d5131e0a47c

I will replicate those changes to the job for the new versions of state

[2022-02-04 15:38] aleksa-krolls commented on #176
Awesome, thanks @lakhassane ! Keep me posted when that new job is ready also for testing.

@dianedetoeuf can you please check out the output of this run in DB to confirm it is now syncing as you'd expect? https://www.openfn.org/projects/wcs/runs/061fd413-1785-74e4-8c4d-7d5131e0a47c

On Monday, I'll test Mamadou's form v2 job changes, and then start work on getting the forms re-processed by the app

[2022-02-04 16:19] lakhassane commented on #177
@aleksa-krolls replication done and tested locally. Works fine for the two messages linked in the issue

[2022-02-04 16:55] dianedetoeuf commented on #176
Hi, we still have some fields that are returning NULLs, for example AnswerID, Genus, TypeID and Sex in the CatchDetails. And still no data in Vendor and Gear. I've asked Steve to send me a list of all fields being filled for 2 specific IDs (one with landing site info, the other with market info), so we can look in details at what's missing.

[2022-02-04 16:58] dianedetoeuf commented on #176
Also, the species are not found in the Taxa table because the ExtCode field is used for something else and because of the underscore in the species name. Can we use ScientificName instead, and replace the _ by a space?

[2022-02-07 07:13] aleksa-krolls commented on #176
@dianedetoeuf re: `ScientificName` - we can make this change, but it looks like this column is blank in the DB for all values? Will you/Steve be uploading data here?

@lakhassane It's sounding like here are the 3 changes/issues to focus on for job v1 (I will post on the job v2 issue with relevant changes:
1. Replacing `_` with a space ` ` in every kobo dataValue mapped to `ScientificName`. For exa

[2022-02-07 07:19] aleksa-krolls commented on #177
@dianedetoeuf in this modified SHARC form, it doesn't look like `species` is included as a question ([see example Message](https://www.openfn.org/projects/wcs/messages/061f25f1-6f33-7a5b-b4c6-dca09db200be). Therefore, should we be using something else like `genus` in order to map to Taxa?

@lakhassane Similar to the job v1 changes, for this v2 job we need to...
1. Confirm data is correctly being u

[2022-02-07 16:09] dianedetoeuf commented on #177
Hi, the species question is there but not always answered, as is this message the genus is "unknown" so they wouldn't know the species. Could we tell the job to use the value "undefined" when species is not there?

[2022-02-08 15:58] lakhassane commented on #177
@aleksa-krolls for this one:
1. Data  is being uploaded correctly to `WCSPROGRAMS_SharksRaysCatchDetails`.
2. The message linked does not have the field needed to map to `WCSPROGRAMS_SharksRaysVendor`. But I replicated the same changes as for job v1 and it should work fine. I also corrected the nested array for `WCSPROGRAMS_SalesGear`

[2022-02-09 17:27] aleksa-krolls commented on #176
@dianedetoeuf fyi, we've been going back and forth for much of the day are down to the last couple of issues.

@lakhassane Here out the 2 outstanding issues I'm seeing after further testing that I need your help to resolve.
1. `WCSPROGRAMS_SharksRaysCatchDetails.WCSPROGRAMS_TaxaID_Species` is null, even though a `WCSPROGRAMS_Taxa` record was added where `ScientificName = ‘unknown species’`. Why is

[2022-02-10 06:35] aleksa-krolls commented on #176
@lakhassane Your latest changes are working, and some messages are now successfully syncing. But see below for the latest failure I'm encountering: https://www.openfn.org/projects/wcs/runs/06204b0f-edc7-7e63-b265-0dfafa9ff1a1
[code]
This issue sounds similar to the `SalesGear` problem we encountered yesterday.

[2022-02-10 06:49] aleksa-krolls commented on #177
@lakhassane once we get job 1 working, we'll need to make sure this V2 is working as well. See below for states we can test with. When you get to this, let me know what kind of testing help I can provide to fast-track you here.
1. with `"boat/catch/catch_details": [*]`: https://www.openfn.org/projects/wcs/messages/061f7f98-0143-7817-b8ce-51e4299d6f96
2. with `"market_details/market_001/vendor": [*

[2022-02-10 16:32] aleksa-krolls commented on #176
fyi @dianedetoeuf it looks like the original form version is syncing well now from the handful of tests I've done. I'm going to bulk re-process these, and then review the DB to see if things are looking good... tomorrow I'll invite you to do the same.
Re: the modified form version, Mamadou is making the last bug fixes there... so we should also be able to reprocess these tomorrow :)

[2022-02-10 16:48] dianedetoeuf commented on #176
great, thank you for the updates!

[2022-02-11 10:01] aleksa-krolls commented on #177
@lakhassane Mostly successful, but seeing a couple of different but similar errors:
1. https://www.openfn.org/projects/wcs/runs/0620613a-2851-753d-b129-23a34cb3f5af
[code]
2. https://www.openfn.org/projects/wcs/runs/06206137-58c9-7d33-9127-0c812e21860b
[code]

[2022-02-11 10:12] lakhassane commented on #177
@aleksa-krolls it's corrected. We needed to check in case `s_gear_type` does not exist in state.
1. https://www.openfn.org/projects/wcs/runs/06206365-52ed-70cf-b282-3f0c2a2cf559
2. https://www.openfn.org/projects/wcs/runs/06206368-c970-77be-8eb9-72f3e4b7bf4b

[2022-02-15 17:49] aleksa-krolls commented on #176
@dianedetoeuf and team are reporting that no records are being inserted to the table `WCSPROGRAMS_SharksRaysSample`. I'm looking in Kobo and not finding many submissions with this data, but there are a couple at least.

@lakhassane @grayey  can you two please look at why the mappings for this `WCSPROGRAMS_SharksRaysSample` table are not working?
1. Here is a sample state: https://www.openfn.org/pr

[2022-02-16 11:17] lakhassane commented on #176
@aleksa-krolls correction done. We didn't have a state with fish_catch yet so I did not know what path should be used.

[2022-02-16 11:40] aleksa-krolls commented on #176
@lakhassane can you please replicate these changes in V2 job? (if you haven't already)
Let's assume the path is the same in V2, and I'll work on finding data to test & validate this. Thanks!

[2022-02-16 11:51] lakhassane commented on #176
Yes @aleksa-krolls. It's replicated also

[2022-02-17 16:44] #176 closed

[2022-02-23 11:44] aleksa-krolls opened #179 "Draft technical documentation for the automation solution"
To ensure effective handover, please help us document the existing jobs and their operations to explain what each component does.
I think this documentation would be great in a LucidChart diagram, but feel free to draft an additional Word document, if that is a better format for other notes.

For reference, see below link for existing documentation (that is more tailored for end users, not for dev

[2022-02-25 16:12] aleksa-krolls commented on #179
@lakhassane This doesn't look complete? There's a swimlane missing. And can you please help me document what all these Data Dictionary jobs do?

Also, I left you a couple of small comments re: what you have so far...
https://lucid.app/lucidchart/72aa1aa9-3b8a-4a67-aafe-488e98ff7e0d/edit?invitationId=inv_c1d02e73-35d9-466e-88fc-2365f0610e37&page=0_0#

[2022-02-27 14:09] aleksa-krolls commented on #179
@lakhassane see my comment above. Please ping me on Slack when this is ready for my review... I'll be traveling most of the day, but will plan to check it out during my layover. Thanks!

[2022-02-28 12:18] aleksa-krolls opened #181 "Automation: Replicate all mssql changes in Postgres"
## The specific request, in as few words as possible
See recent data flow docs where we flagged some Automation changes made for mssql have not been replicated for Postgres. Can you please replicate any changes in the postgres jobs?
https://lucid.app/lucidchart/72aa1aa9-3b8a-4a67-aafe-488e98ff7e0d/edit?invitationId=inv_c1d02e73-35d9-466e-88fc-2365f0610e37&page=0_0#

## state.json
Mssql: `WCS test

[2022-02-28 16:17] lakhassane commented on #181
@aleksa-krolls I replicated all the change in `SyncToPostgres` and updated the diagram

[2022-03-04 08:09] #181 closed

[2022-03-14 12:09] aleksa-krolls opened #182 "Modify NRGT job `2017_v2.js` to handle different Kobo data structure"
## Background, context, and business value
NRGT is a Kobo data collection form to help assess natural resource governance. In 2020, OpenFn and WCS wrote a job to sync this Kobo form with a Microsoft SQLServer DB.

Over the years, this Kobo form has been modified by different data collection teams to localize and add new questions. Now we're finding that one of these Kobo form versions has a slight

[2022-03-14 13:37] vmasanas commented on #182
@aleksa-krolls  would you modify the job to support both scenarios or create a new job to handle the new form and modify the current job to filter out the specific messages for the new form?

[2022-03-14 16:01] vmasanas commented on #182
@mvazquez4 FYI

[2022-03-28 08:30] #179 closed

[2022-07-05 13:34] dianedetoeuf opened #186 "Sharks & Rays sync issue"
## Describe the bug
The Sync SharksRays V1 job is failing with a consistent error:
TypeError [Error]: Cannot read property 'split' of undefined

I don't know how to fix that one. Could you help?

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://www.openfn.org/projects/wcs/runs/062c427d-5696-71e6-99ba-c44d7a370a3b

### expression.js
Link to the

[2022-07-05 13:44] aleksa-krolls commented on #186
Hey @dianedetoeuf ! It looks like it was failing because the job detected an array `"boat/catch_details":[*]` and was expecting expecting fields like `gear_type` to map. However, if you look at the triggering [Message](https://www.openfn.org/projects/wcs/messages/062c427d-4f84-7015-970f-f635fd4bb679), you'll find that there is no real `catch_details` data to map...

[code]

I therefore implemented

[2022-07-06 08:49] dianedetoeuf commented on #186
Hi Aleksa, it's looking good and I'm resyncing them, thank you!

[2022-08-08 07:54] #36 closed

[2022-08-08 07:56] #182 closed