[2020-06-24 19:39] aleksa-krolls opened #1 "Write 4 new jobs for BNS and NGRT Kobo forms"
**Jobs to write**
1. `bns-survey.js`
2. `bns-price.js`
3. `ngrt-2019.js`
4. `ngrt-2019.js`

[See here](https://docs.google.com/spreadsheets/d/1EuSCOepC3gs8nRHlh9E4Tszi5txv__WxHkRAK80FMT4/edit#gid=1704753695) for the mappings, and note that the 'OpenFn Jobs' sheet contains an overview of the DB operations required for each job.

**Note:**
1. They still need to configure a new `DatasetUuid` field on

[2020-06-29 17:06] aleksa-krolls opened #2 "Insert 1 WCSPROGRAMS_KoboBnsAnswernr record for every `nr` in array"
https://github.com/OpenFn/wcs/blob/9f2f3eb2f2a8425ff69b65fa6624faf38bee6b1f/bns/survey.js#L48-L68
**Update L48-L68** to dynamically insert `nr` records.
1. [Scan state](https://github.com/OpenFn/wcs/blob/master/sample_data/bnsSurvey.json) for `nr/`.
2. For every key found, insert 1 `WCSPROGRAMS_KoboBnsAnswernr` record where:
[code]
Therefore if `nr/firewood` is found, return:
[code]

We assume all

[2020-06-29 17:19] aleksa-krolls opened #3 "Dynamically insert records for WCSPROGRAMS_KoboBnsAnswergs based on the number of goods listed"
Update this section to dynamically insert `WCSPROGRAMS_KoboBnsAnswergs` based on the different goods coded into the `bns_matrix` form questions.
https://github.com/OpenFn/wcs/blob/9f2f3eb2f2a8425ff69b65fa6624faf38bee6b1f/bns/survey.js#L89-L518

1. [Scan state](https://github.com/OpenFn/wcs/blob/master/sample_data/bnsSurvey.json) for `"bns_matrix_X/bns_matrix_X_possess"`.
2. For every key found, in

[2020-06-29 17:33] aleksa-krolls opened #4 "Return all Kobo yes/no values as 1/0 binaries in the DB"
_Across surveys_ we need to convert all `"yes"`/ `"no"` values to `1`/`0` before inserting in the database. If `undefined`, return `null`.

**Can you please add a function that converts all yes/no values to 1/0 across jobs?**  Otherwise we will keep hitting DB errors like `Conversion failed when converting the varchar value 'yes' to data type bit` ([see run here](https://www.openfn.org/projects/11

[2020-06-29 17:56] aleksa-krolls opened #5 "Update gps mappings in bns/survey"
https://github.com/OpenFn/wcs/blob/72b980bf962c983e65f4abde8e46c26c6d6b8bde/bns/survey.js#L519-L526
We may receive geolocation data in 2 different formats.

(1) [This message](https://www.openfn.org/projects/1168/messages/8901788) contains separate `gps/lat`, `gps/long` keys.
[code]
(2) [This message](https://www.openfn.org/projects/1168/messages/8901039) contains one `geo` key.
[code]

Update L51

[2020-06-29 18:29] aleksa-krolls opened #6 "Write job to fetch historical survey data from Kobo"
Once we finalize the 4 jobs, these mappings should be applied to any new data collected going forward, as well as historical data.

1. Write job to fetch data from Kobo.
Use basic auth (see LP for creds `WCS Kobo Toolbox - BNS`) and use the below http request format where WCS can replace `aMpW7wwRBRbtCfidtK2rRn` with the formId they want to fetch.
`GET 'https://kf.kobotoolbox.org/api/v2/assets/aMp

[2020-06-29 21:24] #4 closed, assigned to taylordowns2000

[2020-06-29 21:51] #5 closed, assigned to taylordowns2000

[2020-06-29 22:12] #2 closed, assigned to taylordowns2000

[2020-06-29 22:36] #3 closed, assigned to taylordowns2000

[2020-06-30 23:12] #1 closed, assigned to taylordowns2000

[2020-06-30 23:42] #6 closed, assigned to taylordowns2000

[2020-07-02 03:51] aleksa-krolls opened #7 "Refactor delete sql query for scale across all BNS jobs"
https://github.com/OpenFn/wcs/blob/fe7b95d767f57db3ef2f9bdf6f18a6c112f2d7e2/bns/price.js#L26-L28

Apply to all `sql()` statements in both the `bns/survey.js` and `price.js` jobs.

[2020-07-03 15:20] aleksa-krolls opened #8 "Fetch multiple surveys on daily basis --> add timer cursor to fetch only updated submissions"
https://github.com/OpenFn/wcs/blob/a9e19f95e933f30548820fedfa0bcd04dd3ec536/bns/historical.js#L2

This job currently fetches 1 Kobo survey according to whatever Id is used. We need to run this...

1. One time for a series of surveys where historical data needs to be migrated to the DB ([see list here](https://docs.google.com/spreadsheets/d/1EuSCOepC3gs8nRHlh9E4Tszi5txv__WxHkRAK80FMT4/edit#gid=1163

[2020-07-03 15:23] aleksa-krolls opened #9 "HHtype transformations"
https://github.com/OpenFn/wcs/blob/a9e19f95e933f30548820fedfa0bcd04dd3ec536/bns/survey.js#L82-L93

This logic I implemented is returning `0` for all mappings, even though I'd expect `1` with [this Message](https://www.openfn.org/projects/1168/messages/8901788). Can you help me test?

[2020-07-03 15:24] aleksa-krolls opened #10 "SQL delete query failing when filtering by DatasetUuidId"
https://github.com/OpenFn/wcs/blob/a9e19f95e933f30548820fedfa0bcd04dd3ec536/bns/price.js#L28-L30

[See run failure](https://www.openfn.org/projects/1168/runs/9298832) with error:
[code]

[2020-07-03 15:27] aleksa-krolls opened #11 "LastUpdate should equal now()"
https://github.com/OpenFn/wcs/blob/a9e19f95e933f30548820fedfa0bcd04dd3ec536/bns/survey.js#L44

Across _all jobs_ (I've left comments), please update logic so that the `LastUpdated` column is set to the date time when OpenFn runs the job.

[2020-07-03 16:49] aleksa-krolls opened #12 "HHmembers insert() statement failing"
Business requirement:
1. Every 1 Kobo submission should insert _at least 1_ `WCSPROGRAMS_KoboBnsAnswerhhmembers` record (the head of hh)
2. If the `"hh_members": [...]` array for the repeat group of additional hhmembers is there, insert _more_   `WCSPROGRAMS_KoboBnsAnswerhhmembers` records (1 `hhmember` per repeat group entry)

To solve for `#1` and always insert 1 "head" `hhmember` for every subm

[2020-07-03 16:53] #11 closed, assigned to taylordowns2000

[2020-07-03 17:01] #10 closed, assigned to taylordowns2000

[2020-07-03 17:09] #9 closed, assigned to taylordowns2000

[2020-07-03 17:11] #12 closed, assigned to taylordowns2000

[2020-07-15 11:27] aleksa-krolls opened #13 "Delete SQL query fails before insertMany()"
https://github.com/OpenFn/wcs/blob/5b4ba934af04a70baed8d3482daf3bfb0ec9ae79/bns/price.js#L28-L30

See [run failure here](https://www.openfn.org/projects/1168/runs/9298832). Let me know if something needs to be changed on the DB-side?

[2020-07-15 11:33] aleksa-krolls opened #14 "DB insert() operation fails"
https://github.com/OpenFn/wcs/blob/5b4ba934af04a70baed8d3482daf3bfb0ec9ae79/bns/survey.js#L98-L107

I wonder if something is going on in the LP? See below error and [this run failure](https://www.openfn.org/projects/1168/runs/9299461).
[code]

[2020-07-15 13:25] #13 closed, assigned to taylordowns2000

[2020-07-15 13:38] #14 closed, assigned to taylordowns2000

[2020-07-15 13:39] aleksa-krolls opened #15 "New UUID to use across jobs"
For any `uuid`, `DatasetUuidId`, or `Dataset_id` mapping --> use a concatenation of Kobo:
1.  `_id`
2. `_submission_time`
3. `_xform_id_string` (<--can you confirm this is unique to Kobo forms and does not change before/after cleaning data?

[2020-07-15 13:43] aleksa-krolls opened #16 "Update comments and docs"
https://github.com/OpenFn/wcs/blob/5b4ba934af04a70baed8d3482daf3bfb0ec9ae79/bns/survey.js#L32

[2020-07-15 13:45] aleksa-krolls opened #17 "Analysis on changes needed to migrate the jobs to Postgres"
If WCS later wants to also integrate this same Kobo data with another database (use the jobs to map to the same data model, but to a DB configured on Postgres)... what changes will be required? Does this flag the need for potential LP updates? Do we have any questions/flags for them?

[2020-07-16 03:46] aleksa-krolls opened #19 "BNS Price - date/time conversion fails"
See run failure: https://www.openfn.org/projects/1168/runs/9386507

[code]

[2020-07-16 04:29] aleksa-krolls opened #20 "Timer jobs to fetch Kobo submissions during ongoing basis"
Every 3 hours, WCS would like to fetch new data for 2 survey types (`bns_2019`, and `bns_price`)... and this might expand to more survey types.

Currently in this job we add `form: 'bns_2019'` to tag the form name so that it will trigger the other jobs configured. This assumes the job will only ever be used to migrate `bns_2019` surveys, and not other survey types.
https://github.com/OpenFn/wcs/bl

[2020-07-16 05:34] #19 closed, assigned to taylordowns2000

[2020-07-16 05:35] #15 closed, assigned to taylordowns2000

[2020-07-16 05:37] #7 closed, assigned to taylordowns2000

[2020-07-16 17:54] #20 closed

[2020-07-21 00:06] aleksa-krolls opened #21 "TypeError [Error]: Cannot set property 'surveys' of null"
[See run failure](https://www.openfn.org/projects/1168/runs/9420163) with error: `TypeError [Error]: Cannot set property 'surveys' of null`. Why is this returning null? I've defined

Please update this `getKoboData.js` job, as well as `historical.js` --> Note that these are effectively the same jobs, but the survey `ids` referenced and the Job Triggers will be different in each, so I've configured

[2020-07-21 00:13] aleksa-krolls commented on #8
@taylordowns2000 I think this issue is now done with your latest changes, hey? Any outstanding to-do's here?

[2020-07-21 00:18] #16 closed

[2020-07-21 00:19] aleksa-krolls commented on #17
Client feedback pending, and summary documented here: https://github.com/OpenFn/wcs#mappings

[2020-07-21 00:19] #17 closed

[2020-07-21 21:08] #21 closed

[2020-07-23 13:54] aleksa-krolls opened #22 "Form name `tags` not added to Kobo Message body"
When I run the `historical.js` job, it fetches Kobo data, adds a `tag`, and posts the data back to OpenFn inbox.
https://github.com/OpenFn/wcs/blob/aba35c705b14550cff243ff1d1c5ee8bff393563/bns/historical.js#L35

[See output here](https://www.openfn.org/projects/1168/messages/9092195). The form name `tag` is not being added, so this message therefore doesn't trigger the next jobs. To replicate, run

[2020-07-23 17:03] taylordowns2000 commented on #22
seemed to be a last-job-state issue... maybe because we had changed this job significantly and hadn't cleared state. seems OK now, but let's watch.

[2020-07-23 17:03] #22 closed

[2020-07-29 14:59] #8 closed

[2020-07-29 15:03] taylordowns2000 opened #23 "Delete either bns/historical.js or bns/getKoboData.js"
@aleksa-krolls , can I delete one of these jobs? They're almost identical. If there's some reason we currently have both, maybe we could accommodate that in state?

[2020-07-29 18:21] aleksa-krolls commented on #8
@taylordowns2000 can we discuss what you changed here sometime today?

[2020-07-29 18:23] aleksa-krolls commented on #23
@taylordowns2000 No, please do not delete. They serve different purposes even though they're effectively the same job. They will have different form Ids and 1 will be configured in OpenFn to run on an ongoing basis, while the other is used for once-off, ad hoc migration. Happy to explore better ways to achieve this if you have ideas --> but with 2 different triggers and 2 different Ids, makes it e

[2020-09-18 15:25] #23 closed

[2020-09-18 15:30] aleksa-krolls opened #24 "BNS and NRGT jobs time out on production"
## Issue
When running the `historical.js` on OpenFn.org WCS project, all the jobs time out after 100s ([see run here](https://www.openfn.org/projects/1168/runs/9867364)).

When run, this job should fetch historical submissions for the ~20 Kobo forms listed in the job. It should then post each individual submission back to the OpenFn inbox, which will trigger the appropriate job (i.e., `bns/survey.

[2020-09-19 23:42] taylordowns2000 commented on #24
There's a `1000ms` delay built in to _each_ post… we've got 10k submissions, and 10,000 is longer than 100 seconds, so we time out. This was all me, building some throttling into the job that this one was _based on_, and not realising how this would be used in the wild. If we want to preserve a single post _per_ form, we might need to split this up somehow. If we can bulkify the other jobs, we cou

[2020-09-21 08:40] taylordowns2000 commented on #24
At present, it takes ~2 minutes to fetch `10406` submissions from `46` different forms. If WCS wants individual transactions on OpenFn for each submission on Kobo, we can't batch the subsequent posts to their inbox. Attempting to make all 10k post requests (with 1,731,000 lines of JSON) to OpenFn simultaneously seems wrong from a resource consumption perspective. I see two ways forward:

1. Allow

[2020-09-21 13:52] aleksa-krolls commented on #24
@taylordowns2000 As discussed, please run the jobs for the 42 forms locally (this is expected to be a one-time bulk migration). That said, the client wants to understand the limits of the current job to flag when they might need support with future historical migrations. From WCS:
- if we had a single form, what number of submissions in any run will block the integration?
- Does the number of form

[2020-09-21 13:59] aleksa-krolls commented on #24
@taylordowns2000 Another scenario to consider here... what if there are 42 Kobo forms, but only <10 submissions each?

[2020-09-22 09:36] taylordowns2000 opened #25 "Enhance postgres table creation job to handle all changed forms in a project"
(wrong repo)

[2020-09-22 09:42] taylordowns2000 commented on #24
Increased estimate from 3-5

[2020-09-22 10:08] #25 closed

[2020-09-22 11:15] taylordowns2000 commented on #24
1. Running locally now (almost done)
2. After local run complete, will need to analyze errors (about 99% going thru w/o error) cluster them, and _may_ make changes to the jobs or need to ask WCS to inform changes to the jobs or db.
3. reprocessed failed data
------------------------------------
4. analyze timing for bulk run and provide WCS with incications of how many thousands of submissions the

[2020-09-22 14:11] taylordowns2000 opened #26 "Address errors in BNS and NGRT jobs"
Once the bulk load is complete for `bns/survey.js`, `bns/price.js`, `ngrt/2017.js` and `ngrt2019.js` we'll need to:

- [x] analyze all errors from the 10k submissions and determine which require changes to the jobs, adaptors, or postgres DB configuration
- [x] make those changes
- [x] re-processes messages received with failed run-states or no matching run-states from September 20-22.

## Getting

[2020-09-23 07:57] taylordowns2000 commented on #26
Update! I've found the timeout issue—a problem with `language-mssql` not catching errors and closing the client. Addressing now.

[2020-09-23 09:19] taylordowns2000 commented on #24
Closing as I've tested this on production. The timeouts are fixed, but "normal" mapping errors or db change requests may still be remaining. see issue #26

[2020-09-23 09:19] #24 closed

[2020-09-23 09:26] taylordowns2000 commented on #26
@aleksa-krolls , @lakhassane , if Jonathan thinks "already declared" is related to timing, we might be able to address this with the concurrency work I hope to do on `platform` today. I've now set their concurrency to 1 manually, so let's see if any new errors like that one appear after `2020-09-23 09:25:00 GMT`

[2020-09-23 10:18] taylordowns2000 opened #28 "Cannot convert undefined or null to object (bns/survey.js)"

[2020-09-23 13:17] taylordowns2000 opened #30 "Invalid column name "quantity" throws error on bns/survey.js"
See: https://openfn.org/projects/1168/runs/9927668

[code]

[2020-09-23 16:04] aleksa-krolls opened #31 "Analyze Kobo bug with duplicates & WCS job impacts"
See this bug here: https://community.kobotoolbox.org/t/submissions-being-duplicated-with-same-uuid/12503/8

Question: Does this impact any of our existing WCS jobs? (I hope no, because we are always upserting records... but can you please analyze to confirm?)

[2020-09-24 06:48] taylordowns2000 opened #32 "The label 'T12' has already been declared."
After limiting concurrency to 1 (a single run at a time in WCS's postges instance), we're still getting this `The label 'T12' has already been declared. Label names must be unique within a query batch or stored procedure.` error.

See here: https://openfn.org/projects/1168/runs/9918054

Impacts jobs 1547, 3537, and 3538

[2020-09-24 07:25] taylordowns2000 opened #33 "Error converting data type varchar to numeric."
https://openfn.org/projects/1168/runs/9911728

[2020-09-24 07:28] taylordowns2000 opened #34 "Conversion failed when converting the varchar value '6.0' to data type int."
https://openfn.org/projects/1168/runs/9902544

[2020-09-24 07:31] taylordowns2000 opened #35 "Unclosed quotation mark after the character string 'NY fiovaovan'ny toetrandro',"
Possibly related to issue addressed by the PR in language-postgres?

https://openfn.org/projects/1168/runs/9916845

[2020-09-24 07:34] taylordowns2000 opened #36 "Failed to connect to wcsprograms.database.windows.net"
See: https://openfn.org/projects/1168/runs/9904086 and similar.

This is a placeholder... and open question on how to handle connection errors. Sometimes (rarely, seemingly 2 out of 10000 attempts) we're unable to connect to the MSSQL instance. Is WCS prepared to retry these types of errors manually?

[2020-09-24 07:41] taylordowns2000 opened #37 "nrgt/2017 - incorrect syntax near the keyword 'AS'."
https://openfn.org/projects/1168/runs/9902624

[2020-09-24 07:44] taylordowns2000 opened #38 "bns/survey.js - incorrect syntax near the keyword 'AS'."
related to #37?

https://openfn.org/projects/1168/runs/9918559

[2020-09-24 07:46] taylordowns2000 opened #39 "Identifier too long"
The identifier that starts with 'NY À la s'y fanjakana' AS Objective, '-2' AS Participation, '1' AS Resources, '-1.3333333333333333' AS Transparency) AS [Source]' is too long. Maximum length is 128.

https://openfn.org/projects/1168/runs/9903255

[2020-09-24 07:50] taylordowns2000 commented on #32
From Aleksa:

Jonathan says the error label 'N' has already been declared might be related to how/timing of the sql scripts we're running.
ex run: https://www.openfn.org/projects/1168/runs/9901619

https://www.sqlservercentral.com/forums/topic/running-sqlcmd-from-sql-server

[2020-09-24 10:52] #30 closed

[2020-09-24 11:28] #33 closed

[2020-09-24 11:28] taylordowns2000 commented on #33
https://openfn.org/projects/1168/messages/9533178 - for the record

[2020-09-24 13:26] #37 closed

[2020-09-24 13:26] #38 closed

[2020-09-24 13:27] taylordowns2000 commented on #35
closing in favor of https://github.com/OpenFn/language-mssql/issues/5

[2020-09-24 13:27] #35 closed

[2020-09-24 14:11] taylordowns2000 commented on #32
I believe this is related to string escaping.

[2020-09-24 14:33] taylordowns2000 commented on #32
closing in favor of https://github.com/OpenFn/language-mssql/issues/5

[2020-09-24 14:33] #32 closed

[2020-09-24 14:50] lakhassane commented on #34
@aleksa-krolls We are attempting to insert data containing a price in the database but it's not possible because from the database perspective price is an integer while it should be a decimal as in the data.

I would recommend modifying that specific column in the DB, rather than altering the data to reduce changes impact.

[2020-09-24 14:51] taylordowns2000 commented on #39
This is closed by https://github.com/OpenFn/language-mssql/issues/5

[2020-09-24 14:51] #39 closed

[2020-09-24 17:23] taylordowns2000 commented on #26
Re-bulked the changed job (Jonathan switched the tag) and they finished before `2020-09-24 17:20:00 GMT`.
Ordered all 12k+ submissions (some duplication early and the redundancy is good) after `2020-09-24 17:22:00 GMT`.

[2020-09-24 18:11] aleksa-krolls commented on #34
@lakhassane Go ahead and make the DB change. FYI, we have the green light to make any DB changes as needed - but good idea to double check with me first :). Thank you!

[2020-09-25 08:55] taylordowns2000 commented on #34
Change made in the DB. This is fixed.

[2020-09-25 08:55] #34 closed

[2020-09-25 09:36] taylordowns2000 opened #40 "Error converting data type varchar to numeric on bns/survey.js"
Message: https://openfn.org/projects/1168/messages/9538015
Run: https://openfn.org/projects/1168/runs/9952883

[code]

[2020-09-25 09:48] taylordowns2000 commented on #40
![image.png](https://images.zenhubusercontent.com/566ac5e0638e718c995f5356/67279e0c-8eca-4eec-a0b8-72b7c75ee59a)

[2020-09-25 12:16] lakhassane commented on #40
@aleksa-krolls What is the need around the `lat` and `long` data. From a value perspective the values seem wrong.
`"gps/lat": "6.955409726059E12"` => lat = 6955409726059.0 which does not seem to be a correct value.

1. If they should be stored as is we can make a DB change.
2. Otherwise we can make a processing on the value returned but on what basis?

The concerned table is `WCSPROGRAMS_KoboBnsAn

[2020-09-25 12:30] taylordowns2000 commented on #40
Will wait for @aleksa-krolls and Jonathan to comment on this, but could the `E` mean east? As in "6.9 degrees East"? Either way, it smells like user error and improper field validation in Kobo.

When I analyse the other messages (type `{"body":{"gps_method":"manual"}}` into the filter on their inbox) with manual gps data I see data like this:
- https://openfn.org/projects/1168/messages/9539660
- h

[2020-09-25 14:39] aleksa-krolls commented on #40
@lakhassane so sometimes they collect gps manually. This `6.955409726059E12` example was a user data entry error, so this message should fail... they put the 2 values (lat and long) in the same field (lat). WCS has now corrected the value in Kobo, so I am able to run the message successfully: https://openfn.org/projects/1168/runs/9955450

How much effort would it be to add a custom error message f

[2020-09-25 14:45] taylordowns2000 commented on #40
less than 5. i'm doing it now

[2020-09-25 14:59] #40 closed

[2020-09-25 15:00] taylordowns2000 commented on #26
All messages in a successful state. Closing

[2020-09-25 15:00] #26 closed

[2020-09-25 15:17] lakhassane commented on #31
@aleksa-krolls I have been reading the issue and still can't see no impact. Given we are using `upsert` based on a specific `uuid` the conditions on the `language-package` would not allow duplications to be made.

[2020-09-28 07:41] aleksa-krolls commented on #31
@lakhassane great news. consider resolved then :)

[2020-09-28 10:05] #31 closed

[2020-10-02 15:43] taylordowns2000 opened #41 "handle repeat groups"
Hey @lakhassane , I've got the job working as intended, but I'm not sold on the intent! We discussed this briefly on our call, but how repeat groups are set up is not scalable. In my mind, the logic that must be implemented is:

1. figure out how many repeat groups are in a form, if any
2. for `each` repeat group plus the parent itself, push a new "table" object into the `tablesToBeCreated` array

[2020-10-06 12:39] lakhassane commented on #41
@taylordowns2000 I added a commit here about what we did in `01-getForm.js`

[2020-10-07 07:37] #41 closed

[2020-10-07 16:07] taylordowns2000 opened #43 "Altered Kobo surveys must create Postgres tables and configure the OpenFn platform"
# WCS Postgres Table Management Jobs

## Background

WCS collects research data across several sites and surveys, which are managed by a number of staff. To ensure that all Kobo survey data can be securely and centrally captured for easier access and analysis, WCS would like to automate the process of integrating Kobo surveys and creating database tables to centrally store the data.

- As a WCS re

[2020-10-07 16:09] taylordowns2000 commented on #43
From Slack:
1. you fetch a form definition and it returns: {q1, q2, q3, etc.}
2. there are certain metadata fields which will be part of the form submission which are NOT in the definition above.
3. they will be found in EACH submission from Kobo, regardless of the form being used.
4. they include things like _id, _uuid, etc. (edited)

Taylor 3 minutes ago
(a) one might have {q1, q2, q3, more}
(b)

[2020-10-07 17:29] lakhassane commented on #43
1.  We have notice that some forms do not have any questions (eg. `registration_form`). Should we discard those ? Is it normal ?
2. What should we do when a form name is `untitled`?
3. Forms may have multiple repeat groups. We have decided to name each child table with the following syntax: `${formName}_${groupName}`. Is this acceptable? What would the client like?
4. We have created a column on e

[2020-10-08 04:19] aleksa-krolls commented on #43
@lakhassane _Great_ questions. Let's discuss today, especially `4. Repeat groups uuid`.

[2020-10-08 11:23] taylordowns2000 opened #44 "On parent table, create jsonb column which takes the entire kobo submission"
On the parent table being created for each form, add a `jsonb` column which takes the entire kobo submission as json.

See `automation/01-getForms.js`.

[2020-10-08 11:25] taylordowns2000 opened #45 "Handle repeat group upserts"
- On repeat group creation, first delete existing repeat group records related to that parent, then recreate in bulk.
- Use `parent_uuid-arrayIndex` as the uuid for repeat group records. (Note how that uuid is calculated. It's `state.data._id + state.data._xform_id_string` for the parent record.)
- See `automation/02b-syncToOpenFn.js` to get going.

[2020-10-19 06:31] aleksa-krolls opened #46 "Add mappings for 1 table to BNS and NRGT jobs"
## Background
WCS is mapping data from BNS and NRGT surveys collected by its partners in different countries to one database for centralized reporting and monitoring. We implement 4 jobs for WCS and performed a large historical migration of thousands of BNS and NRGT survey submissions already - however, the client realized that 1 Postgres table was missing from the mapping specifications and wasn'

[2020-10-19 09:10] aleksa-krolls commented on #46
@lakhassane please take this on after itau-social is done today.

[2020-10-19 21:35] lakhassane commented on #44
@taylordowns2000 check commit here and tell me what you think. Not making a PR since there are a bunch of changes on master for wcs

[2020-10-20 06:52] aleksa-krolls opened #48 "Add form `name` and `owner` to Kobo submission posted to OpenFn inbox"
## Background
We need to map form `name` and form `owner` from Kobo submission, however these fields do not exist in state.
https://github.com/OpenFn/wcs/blob/659b5ae11edbcd4449497b4cc8e331eabdd48b73/bns/survey.js#L196-L198

## Specific request
When we fetch Kobo data in job `bns/getKoboData.js`, is it possible to add form `name` and form `owner` to the form definition so that when we run the next

[2020-10-20 10:21] ritazagoni commented on #46
@lakhassane Please add two missing mappings to upserts to all 4 jobs (`bns/survey.js`, `bns/price.js`, `ngrt/2017.js`, `ngrt/2019.js`):
1. `WCSPROGRAMS_KoboData.DatasetOwner` (see mapping at https://docs.google.com/spreadsheets/d/1-8Wj97NFlv2sqp7CWQl1YGlFTApKkGYWRGOvgOv9m3Q/edit#gid=319757732&range=7:7)
2. `WCSPROGRAMS_KoboData.LastUpdateTime` (see mapping at https://docs.google.com/spreadsheets/d

[2020-10-21 10:07] aleksa-krolls commented on #48
@ritazagoni As discussed, this is resolved by [this change](https://github.com/OpenFn/wcs/commit/779bee7dc50b8f275fb468ba64bb7d119493ca88#diff-e2c7fe3f141afc5aa3282c6a536d8a1bcb0ee2b22924cb4785bdf4a3d2ae39de) where we hardcode form `name` and `owner` into the flow 1 job, and append it to `state` so that these attributes can be mapped to the DB in flow 2.

[2020-10-21 10:07] #48 closed

[2020-10-21 10:11] aleksa-krolls commented on #46
@lakhassane Amendment to Rita's comment above. Only quick change needed. Please add `WCSPROGRAMS_KoboData.LastUpdateTime` across the 4 jobs (see mapping at https://docs.google.com/spreadsheets/d/1-8Wj97NFlv2sqp7CWQl1YGlFTApKkGYWRGOvgOv9m3Q/edit#gid=319757732&range=12:12).

[2020-10-22 09:33] aleksa-krolls opened #49 "Setup `automation` jobs in prod to prepare for testing"
## Request
These `automation` jobs were created in response to this original [issue #7](https://github.com/OpenFn/wcs-consocsci/issues/7). Please (1) configure the `automation` jobs in the `WCS` OpenFn project on prod, and (2) connect the jobs to the following credentials...
1. Existing `openfn_kobo` credential `3118`: https://www.openfn.org/projects/1168/credentials/3118
2. Create a new Credentia

[2020-10-22 11:29] aleksa-krolls opened #50 "Make a plan for managing WCS IP address updates"
In the longer term, when we move WCS to their own cluster & server setup - we can provision them a static IP address. However, while they're still using OpenFn.org, the IP address regularly updates and causes job runs to fail.

We either need to move them to a cluster or make a plan for proactively monitoring when these IP addresses update and asking Steve accordingly.... don't want to wait until

[2020-10-24 08:35] aleksa-krolls opened #52 "`Delete` sql statement fails before insert of repeat group data"
## The issue
When I run `bns/survey.js` against [this state](https://www.openfn.org/projects/1168/messages/9800263), I hit the error:
`Executing query: DELETE FROM WCSPROGRAMS_KoboBnsAnswerhhmembers where AnswerId = 71441077
Conversion failed when converting the nvarchar value 'A793CCAD-8552-4160-A7BF-51A94261068E' to data type int.`

The value `A793CCAD-8552-4160-A7BF-51A94261068E` is not is my M

[2020-10-24 15:13] #52 closed

[2020-10-25 08:13] #46 closed

[2020-10-25 19:26] aleksa-krolls opened #53 "Hundreds of `BNS Survey` submissions fail because of gps validation"
## Bug?
Several `BNS Survey` runs failed because of gps validation we added in [this commit](https://github.com/OpenFn/wcs/commit/d25e075649cd8f684304c44bc3032f47c54aea1b) @taylordowns2000 made.
- See [run failure here](https://www.openfn.org/projects/1168/runs/10272789) with `"gps/lat": "699035"` and `"gps/long": "9739706"`.
- [This ran](https://www.openfn.org/projects/1168/runs/9946961) successf

[2020-10-26 12:46] lakhassane commented on #49
@aleksa-krolls where can I find the LP `WCS ConSoSOc DB` credentials? I don't think it has been shared with me.

[2020-10-26 14:33] taylordowns2000 commented on #53
@aleksa-krolls , yes, that's right. It seems that we have two very different ways of reporting GPS, both are consdiered "BNS Survey". Can we find out from WCS how they expect GPS data to be delivered and how we should handle the various formats? In the first message below, for example, what does `"gps/lat": "699035"` mean? Currently, we throw an error to alert the administrator when values come in

[2020-10-27 07:22] aleksa-krolls commented on #49
@lakhassane I know the DB creds are a blocker, but how is this going? Can we get this all set up on OpenFn.org today? I want to make sure we're ready to test on prod as soon as we get these creds.

[2020-10-27 09:00] aleksa-krolls commented on #53
@taylordowns2000 Confirmed with the client that if this validation check returns true, then they would like to _not_ upload any `gps` data to the DB. Please modify the following lines to not upload `gps` data (return a null value?) rather than throw an error and force the submission to fail.

https://github.com/OpenFn/wcs/blob/a7acd6797dffdaf5098c479e731da7b63f4be699/bns/survey.js#L31-L36

[2020-10-27 10:08] lakhassane commented on #49
@aleksa-krolls yes it already configured. Just waiting for creds and `language-openfn` to get on prod. Otherwise I tested on staging also and it's working fine.

[2020-10-27 14:11] #53 closed

[2020-10-29 07:57] aleksa-krolls opened #54 "Sample issue"
## Describe the issue
A clear and concise description of what the bug is.

## Expected behavior
A clear and concise description of what you expected to happen.

## Steps to Reproduce
1. Here is a link to a failed run on OpenFn.org which is indicative of the bug: __________.
2. Follow these steps _____ to replicate the error/ re-trigger the run failure.

### expression.js
Link to the job itself in

[2020-10-29 08:20] ritazagoni opened #55 "Bug: Columns for new questions not created by `AUTO2a. Sync to Postgres` if form is modified through the Kobo interface"
## Describe the issue
When (1) a new form is created or (2) a new question is added to a form through the Kobo interface, columns corresponding to the questions are not created by the job `AUTO2a. Sync to Postgres`.

## Expected behavior
When a new form is created through the Kobo interface, or a new question is added to an existing form through the interface, a new columns corresponding the quest

[2020-10-29 10:08] aleksa-krolls opened #56 "Bug: Auto-generated OpenFn job mappings incorrect for repeat groups?"
## Describe the issue
When the job `automation/02b-syncToOpenFn.js` runs to create OpenFn jobs based on Kobo forms...
I think repeat group job expressions are created using the `upsert(...)` rather than the `upsertMany(...)` helper function. Also, I see a `sql()` function to delete records, but this may not be needed if we are upserting (only if we choose to use `insertMany()`.

[See this example

[2020-10-29 10:10] aleksa-krolls commented on #56
@lakhassane This is related to repeat groups if you want to review before your current troubleshooting work today.

[2020-10-30 12:32] #49 closed

[2020-10-30 14:53] #44 closed

[2020-10-30 15:28] taylordowns2000 opened #58 "Estimate to output SQL code before or without executing it on job 02a"
Check internals of `node-pg`, can you inspect SQL before execution? Sql prepare? Sql debug?

[2020-10-30 18:33] taylordowns2000 opened #59 "Implement path and name from recursed.js"
Hey @lakhassane , this has not been implemented on master yet. Opening an issue so we don't forget. My recursed.js has what you need to implement this.

[2020-10-30 18:35] #58 closed

[2020-10-30 18:36] taylordowns2000 commented on #58
`CREATE TABLE form_title_is_tag_test (\n        start date , end_date date , first_question text , New_Question_1 text , __version__ varchar , hidden_owner text , calculation varchar , generated_uuid text , payload jsonb \n      )`

Taylor  2 hours ago
[code]

Taylor  2 hours ago
`x.replace(/(\r\n|\n|\r)/gm, "");`

Taylor  2 hours ago
@Aleksa Krolls, confirmed, this is a ~4hr feature.

Mamadou  2

[2020-11-02 05:47] aleksa-krolls opened #60 "Output sql script in `automation` jobs and no longer auto-write to database"
## Background
WCS may sometimes want to _not_ execute the SQL immediately, so that there is time to adjust the sql script or even share with partners that might not have OpenFn access. Allowing DB admins to review the sql script ensures a layer of auditing before making any database changes.

## Specific request
Currently the `automation` jobs automatically alter DB tables and create new OpenFn jo

[2020-11-02 05:49] aleksa-krolls commented on #60
@ritazagoni anything to add to this request?

[2020-11-02 06:04] aleksa-krolls opened #61 "Handle additional Kobo data types"
## Background
Currently we're handling for the following Kobo question data types... but there are more we are currently not accounting for.
https://github.com/OpenFn/wcs/blob/47d4abfff3d6d4f026e94e270c0eb81dce70ff68/automation/01-getForms.js#L40-L51

## Specific request
We are currently handling for data types #1-10 in the list below, but we need to ensure the automation can...
1. Handle unicode

[2020-11-02 06:11] #54 closed

[2020-11-02 06:21] aleksa-krolls opened #62 "Add prefixes to DB table names and use camelCase across `automation` postgres jobs"
## Request
To support naming convention standards, WCS has requested that we...
1. Use Upper `CamelCase` in all naming conventions for any Postgres tables or columns in the `automation` jobs.
2. Introduce two prefixes for all Postgres table names (this does _not_ apply to columns). Prefix1 should have the default value `WCS` and prefix2 the default value `FormGroup`... but both may be adjusted by

[2020-11-02 06:28] aleksa-krolls commented on #62
@ritazagoni anything add to this one as well?

[2020-11-02 06:39] aleksa-krolls opened #63 "Introduce a master parent table `KoboDataset` in the Postgres automation"
## Background
Currently the `automation` jobs output a Postgres table hierarchy where there are tables for `form`, `repeatGroup`, and `nestedGroup`. There should be 1 more static level introduced at the top of this hierarchy.

## Request
Automatically create a static `KoboDataset` table in the PostgresDB that all Kobo OpenFn jobs will map to. This table should contain the following columns:
1. `Fo

[2020-11-02 06:40] aleksa-krolls commented on #63
@ritazagoni Anything to add to this one based on the `KoboData` table used in BNS Surveys?

[2020-11-03 10:16] #59 closed

[2020-11-04 08:46] #45 closed

[2020-11-04 17:54] taylordowns2000 commented on #62
Verified output, closing

[2020-11-04 17:57] #56 closed

[2020-11-04 17:58] #43 closed

[2020-11-04 18:02] lakhassane commented on #63
@aleksa-krolls Please take a look at the created OpenFn jobs below. I am testing locally tonight and tomorrow. Your review on this output is welcomed.

[code]

[2020-11-04 18:02] taylordowns2000 opened #65 "How should questions that start with numerics be converted to postgres columns?"

[2020-11-04 20:00] lakhassane commented on #55
@ritazagoni can we tomorrow try to replicate this bug together please?

[2020-11-04 21:15] lakhassane commented on #63
@aleksa-krolls one additional question about the `master parent table`. Don't you thing we should use `insert` instead of `upsert`?

We want every time OpenFn writes to the DB to keep track of it so we would not want to upsert existing data.

[2020-11-04 22:11] lakhassane commented on #65
@taylordowns2000 I had to address this issue with a temporary solution otherwise testing table creation was impossible.
We will need confirmation from the client @aleksa-krolls

For now, if a question starts with a numeric value (e.g. `_3rd_sp_sold2`), we camelize it (which turns it into `3rdSpSold2`) and then add back the `_` otherwise it won't pass on `postgres`. So final output would be `_3rdSp

[2020-11-04 22:40] lakhassane commented on #63
One final thought (or should I say 2),

-  We have some questions that have the same value as reserved keyword in postgres. For now we are addressing them using this: https://github.com/OpenFn/wcs/blob/master/automation/01-getForms.js#L65-L71
However at some point, we might want client's feedback on a proper/better renaming.

- We also have some questions that are duplicated in the payload for the

[2020-11-05 09:46] aleksa-krolls commented on #63
@lakhassane To answer your questions

1. Yes, we want to upsert `KoboData` table --> there should be 1 record for every form/project in Kobo. All form _submissions_ will be child to this record.
2. Noted re: the reserved column dates. [These](https://github.com/OpenFn/wcs/blob/master/automation/01-getForms.js#L65-L71) work for now, but will confirm with the client.
3. This was a form used for test

[2020-11-05 11:43] ritazagoni commented on #55
Issue was caused by Kobo not sending the `name` field for a question when it is created or modified through the web interface and  the question name is not manually modified. In this case only an autogenerated name is given to a question and sent in the `$autoname` field.

[2020-11-05 12:50] ritazagoni commented on #63
@lakhassane Yes I can confirm 3. from Aleksa, no need to handle these, I will also clean up the project and delete these irrelevant test forms.

[2020-11-05 13:27] aleksa-krolls commented on #65
@ritazagoni I forget, do we want to camel-ize _columns_? Or only DB tables? (Maybe another WCS question?)

[2020-11-05 14:33] taylordowns2000 commented on #65
Also, I see we're going with Pascal here... just wanted to make sure that's
the client's desire:

"Camel case is often used as a naming convention
<https://en.wikipedia.org/wiki/Naming_convention_(programming)> in computer
programming, but is an ambiguous definition due to the optional
capitalization <https://en.wikipedia.org/wiki/Capitalization> of the first
letter. Some programming styles prefer

[2020-11-06 07:55] aleksa-krolls commented on #55
@ritazagoni Should this be closed? Have we determined how to solve for such scenarios yet?
(I find Github a good central place for us to manage outstanding questions to the client as well, so want to make sure nothing is dropped even if it is no longer a dev request.)

[2020-11-06 09:55] aleksa-krolls commented on #65
@taylordowns2000 we should put back the `_` so the output is `_3rdSpSold2`. So that's what we have in place, yes? And if I get client sign-off on Pascal case, we're `GoodToGo` and I can close this issue, yes?

[2020-11-06 10:20] aleksa-krolls commented on #61
@taylordowns2000 @lakhassane Santosh confirmed that Postgres `varchar` columns can handle unicode, so let's use that column data type.
Also WCS added a new Kobo form... when testing, Job `2a` failed I think related to the `nvarchar` data type. [See run failure](https://www.openfn.org/projects/1168/runs/10367451) where I see `error: type "nvarchar" does not exist`.

Please make sure this automation

[2020-11-06 10:26] taylordowns2000 commented on #61
This all makes sense. AK, you were right in pointing out (in Slack) that
`nvarchar` is only for MSSQL. This run used the postgres adaptor and is
querying a postgres database.

On Fri, Nov 6, 2020 at 10:20 AM Aleksa Krolls <notifications@github.com>
wrote:

[2020-11-06 10:28] aleksa-krolls opened #67 "Job `01-getForms.js` state too big"
I received another OpenFn notification this morning when fetching only 1 updated form. [See run here](https://www.openfn.org/projects/1168/runs/10367450).

We discussed posting the final state of job `01` back to the OpenFn Inbox... then configuring the `2a` and `2b` jobs to run on message filter triggers.

I also think this approach would improve error handling and re-processing, because it's not

[2020-11-06 10:33] aleksa-krolls commented on #62
I see the default prefix string `'WCS__FormGroup_'`referenced in multiple places in the `01-getForms.js` job. I would like there to be _one_ place where this prefix is defined so that if the client modifies the prefix name, it will be applied throughout the automation.
https://github.com/OpenFn/wcs/blob/master/automation/01-getForms.js#L138
https://github.com/OpenFn/wcs/blob/master/automation/01-g

[2020-11-06 10:35] #65 closed

[2020-11-06 10:44] aleksa-krolls commented on #55
@lakhassane @taylordowns2000 I'd like to discuss this one during our sync, because it sounds like WCS users frequently use the Kobo form builder web UI to modify forms. To summarize how I understand this issue...

[Kobo form definition](https://github.com/OpenFn/wcs/blob/master/sample_data/sample-form-definition.json) will typically provide us the following metadata details for different form ques

[2020-11-06 11:20] aleksa-krolls commented on #55
@lakhassane As discussed, we will provide users more guidance for editing Kobo forms via the web UI. But to handle for scenarios where they add a new question and do _not_ specify a question `name`... please use `$autoname` as the default Postgres column name.

@ritazagoni I think this will ensure we never miss an edited question, but let's do some in-depth testing on Monday.

[2020-11-06 11:41] taylordowns2000 commented on #60
desired API:
[code]

[2020-11-06 11:42] aleksa-krolls commented on #67
@lakhassane @taylordowns2000 as discussed --> we're introducing a job `00` to only fetch the newly updated Kobo forms --> and then to triggers jobs `01` and `02` to process this data.

[2020-11-06 11:44] aleksa-krolls commented on #60
@lakhassane @taylordowns2000 Confirmed that we want to offer the options to...
1. Write the sql script to the run logs (but do _not_ execute)
2. Write the sql script to the run logs AND execute automatically
We will give the admin controls over (1) whether to execute automatically and (2) whether prepared sql is saved to state (for additional security).

Any other automation (e.g., sending sql scr

[2020-11-06 14:22] aleksa-krolls opened #68 "New `00-getKoboForms.js` job"
## Request
I walked WCS through the new job `00-findUpdates.js` and they decided that it would be best to give admins even more control about _which_ forms are fetched and when. Therefore, they request that we keep this job in case they decide to use it later... but to create a **new `00-getKoboForms.js` job** that pulls only the forms they specify. This job should be similar to `bns/getKoboData.j

[2020-11-06 16:05] lakhassane commented on #61
@aleksa-krolls @taylordowns2000 can this be closed? I am just trying to clean here to see what is remaining properly.

[2020-11-06 16:37] lakhassane commented on #61
I have just confirmed with @taylordowns2000. Closing this issue.

[2020-11-06 16:37] #61 closed

[2020-11-06 17:16] taylordowns2000 commented on #68
This is done. Addressed manual form fetching through `curl` or "Create new message" window on OpenFn. post this:
{
  formId: 'aZv8deXKd8AqfSVGXCdHrX',
  tag: 'Copie_de_Questionnaire_conso-ménage_29092020 derniere version',
  url: 'https://kf.kobotoolbox.org/api/v2/assets/aZv8deXKd8AqfSVGXCdHrX/?format=json',
  formUpdated: true
}

[2020-11-06 17:19] #67 closed

[2020-11-06 17:20] taylordowns2000 commented on #67
Closed with introduction of `00`.

[2020-11-06 19:45] taylordowns2000 commented on #68
Reopening

[2020-11-06 22:53] lakhassane commented on #60
@taylordowns2000 your review is highly needed here: https://github.com/OpenFn/language-postgresql/pull/20

Basically I added `options` in `upsert()`. So I:
Check if `options` exist then `execute` and `writeSql` depending on the values.
If `options` is not given, we only `execute` but never `writeSql`.

If the PR is approved, then I can replicate on other helper ( `insertTable`, `modifyTable`, ...)

[2020-11-06 23:09] lakhassane commented on #55
Issue addressed by commit https://github.com/OpenFn/wcs/commit/13c9014db4822516926751e092c50e98e8bd9b3f

[2020-11-09 17:09] aleksa-krolls commented on #68
@taylordowns2000 to recap our conversation, I don't think [this PR](https://github.com/OpenFn/wcs/pull/69) solves for this.

1. Ideally via 1 `00` job, WCS admins can specify which forms should be synced.
2. When this `00` job runs, OpenFn will check the list of form `id` from the previous state.
3. If a new form has been added, OpenFn will fetch the form definition for that form `id`.
4. OpenFn w

[2020-11-10 08:48] aleksa-krolls commented on #63
@ritazagoni If all these wcs issues in the "Review" column look good after the last round of testing today, let's close these out.

[2020-11-10 10:37] aleksa-krolls commented on #60
@lakhassane @taylordowns2000 When merged, can you clarify what exactly the WCS admin needs to update in order to turn on/off the `options` for executing the sql automatically?
@ritazagoni We'll need to note this as an admin step in the initial job setup, after users define which forms to use in this automation flow.

[2020-11-10 13:37] lakhassane commented on #60
@aleksa-krolls here what needs to be updated by the admin would be `options` given as parameters.
The only way to prevent executing the sql automatically is to specify `{execute: false}`. Otherwise it is always executed.
Also to log the sql in the state, they will always need to specify `{writeSql: true}` (or `false` to ignore).
e.g:
`insertTable('user', {writeSql: true, execute: false})` => will

[2020-11-10 15:50] aleksa-krolls opened #70 "Log job name"
https://github.com/OpenFn/wcs/blob/981d5855f242ff67b66064c29dc007c44af9a1c6/automation/02b-syncToOpenFn.js#L177

@lakhassane Can you please log the job name here so that the user can easily find the job created via the automation?

[2020-11-10 15:57] aleksa-krolls commented on #60
@lakhassane I see `writeSql` referenced multiple times in the job. Would I specify `{writeSql: true, execute: false}` everywhere I see `writeSql`? Or only on L17?
Can you please add in-line comments where the admin _should_ update the `options`?

[2020-11-10 16:46] lakhassane commented on #60
@aleksa-krolls you will need to specifiy it in every helper function call if you write to log the sql on state.
Im adding comments on the job.

[2020-11-11 05:39] #70 closed

[2020-11-11 05:39] #62 closed

[2020-11-11 05:40] #55 closed

[2020-11-11 05:51] #68 closed

[2020-11-11 05:51] aleksa-krolls commented on #60
@lakhassane Thank you. When comments added, feel free to close the job.

[2020-11-11 05:52] #63 closed

[2020-11-11 12:50] #60 closed

[2020-11-16 15:08] ritazagoni opened #71 "Update field conversion for `WCSPROGRAMS_KoboBnsAnswerhhmembers` table `Birth` column"
## Current behavior

In the `WCSPROGRAMS_KoboBnsAnswerhhmembers` table the `Birth` column expects an `integer` value. When we receive a `date` string (e.g. `1992-01-01`) writing to the DB fails. Example failed run: https://www.openfn.org/projects/1168/runs/10457027

## Request
Keep `integer` as default expected value for `WCSPROGRAMS_KoboBnsAnswerhhmembers` table `Birth` column.
However, if a date

[2020-11-16 15:36] aleksa-krolls commented on #71
@ritazagoni bc we have so many wcs workstreams going on, very important to specify credentials and adaptor. Please provide a specific example and assign to Mamadou when ready. Thanks!

[2020-11-16 16:49] ritazagoni commented on #71
Clear!

[2020-11-17 09:20] aleksa-krolls commented on #71
@lakhassane when done please let @ritazagoni know when ready for testing.

Rita, we'll want to re-run all the failed BNS runs in bulk and let Diane know once testing passes.

[2020-11-17 14:15] lakhassane commented on #71
@ritazagoni Im unable to test due to `IP` restrictions. If it's safe to merge on master (cc @aleksa-krolls ) give it a try and let me know please.

[2020-11-17 14:33] aleksa-krolls commented on #71
@lakhassane You can merge and test on prod. Re-run this message: https://www.openfn.org/projects/1168/runs/10457027

[2020-11-17 15:28] lakhassane commented on #71
Run successfull

[2020-11-18 07:46] ritazagoni commented on #71
@lakhassane In some cases the runs fail, see run https://www.openfn.org/projects/1168/runs/10478882 on message https://www.openfn.org/projects/1168/messages/10081776. Seems like the issue is when we have no `birth_head` in state so we try to parse `undefined`.

[2020-11-18 11:28] lakhassane commented on #71
@ritazagoni correction made. I rerun the job and having green check

[2020-11-18 11:52] aleksa-krolls opened #73 "Upsert Postgres table fails in automation job `02a` when Kobo form cloned"
## Issue
A couple of things...
1. Job `automation/02a-syncToPostgres.js` sometimes fails with errors like `error: relation "wcs__formgroup_clonedect1checklistpréparationpiègephotospecie" already exists` when users clone a Kobo form and try to sync it via the automation solutions.
- See run failure here: https://www.openfn.org/projects/1168/runs/10468696
- And another example: https://www.openfn.or

[2020-11-18 12:41] lakhassane commented on #73
Feedback on this @aleksa-krolls
1. Postgres allows a `table_name` to be `63 bytes` at max but in some cases (as this one `wcs__formgroup_clonedect1checklistpréparationpiègephotospecies` (a) ), we have `64 bytes`.
Thus, postgres automatically remove the last character `s` and create a table as `wcs__formgroup_clonedect1checklistpréparationpiègephotospecie` (b).

But then, when we re-run, the job wi

[2020-11-19 05:45] aleksa-krolls commented on #71
@ritazagoni Seems to be working, so can you please bulk re-try all BNS Messages "in a failed state" to confirm no other issues? (See OpenFn docs: https://docs.openfn.org/documentation.html#bulk-reprocess-messages).

If resolved, please close this issue. If there are still issues - please move this to the Backlog. Thanks!

[2020-11-19 07:09] aleksa-krolls commented on #73
@lakhassane Thanks for this.

Re: 1 - We need to come up with a new naming convention that will always be under `63 bytes` then. WCS wants to ensure we always keep `p1_p2_formName{someAbbreviated-GroupName}`. So please shorten `GroupName` as needed to ensure we don't exceed 63 bytes.

Also let's remove the extra underscore `_` between `p1` and `p2` to output --> `wcs_formgroup_clonedect1checklistp

[2020-11-19 09:06] #71 closed

[2020-11-19 09:59] taylordowns2000 opened #74 "Set UNIQUE constraint on `GeneratedUuid` or `DatasetID` when CREATEing or ALTERing tables"
![image.png](https://images.zenhubusercontent.com/566ac5e0638e718c995f5356/9bdeb103-fdb1-4441-9633-035457a68d4c)

![image.png](https://images.zenhubusercontent.com/566ac5e0638e718c995f5356/d802daf0-a1e8-4ed9-a1a3-71f00e688492)

[2020-11-19 10:48] lakhassane commented on #73
RE your question: Yes this is because of the console.logs. I added one console.logs `#L647` before destructuring the value used inside (`fields`) thus the error. This error would pop up each time you were creating a new user

@aleksa-krolls these 2 errors are due to the fact that `Work Email` is null on state. Is this a normal behavior ? If yes, I will add a condition to test if empty. But beware

[2020-11-19 13:19] aleksa-krolls opened #75 "Introduce MSSQL compatibility for the `automation` solution"
Currently the `automation` solution executes sql in Postgres and write OpenFn jobs leveraging `language-postgres`.

If WCS wanted the same solution, but with an option to integrate with `mssql`, what would be...
1. Estimated level of effort introducing this compatibility (est. # of days & consider Engineer team time for testing)
2. Considerations for ongoing maintenance? Would we replicate ALL job

[2020-11-19 15:30] aleksa-krolls opened #76 "Data dictionary requirement estimate"
# Request for estimate
[See here](https://docs.google.com/document/d/1sbMbifKZ9PaaWALiD3rMdXM9T0gSGwj5dRJskBqvZx4/edit#heading=h.20fgonsklsew) for the summary of the request to create a "Data Dictionary" catalog of all Kobo metadata that is synced to the database via the Automation solution ([see data flow here](https://lucid.app/lucidchart/46b68e68-fd0d-45ca-95b7-48f887e8595f/edit?shared=true)).

[2020-11-20 06:23] aleksa-krolls commented on #74
@lakhassane friendly reminder to ping whenever stuff is ready to review - thanks! :)

[2020-11-20 12:52] taylordowns2000 commented on #75
1. We have the same _data_ operations in `language-mssql` and we have in `language-postgres`.
2. Because of (1), `02b` will likely not change.
3. We will need to write _metadata_ operations for `language-mssql`: `insertTable`, `modifyTable`, `describeTable`.
4. If we can create the operations in (3) with the same contract as  `02a`, which `creates` or `alters` postgres tables, we won't need to cha

[2020-11-20 16:28] aleksa-krolls commented on #73
@ritazagoni please test on Monday and close/comment as appropriate :)

[2020-11-23 06:45] aleksa-krolls commented on #74
@lakhassane @taylordowns2000 Confirming this is related to the pending pull request? This is in Ready to Review column, but looks like this error is still present: `error: there is no unique or exclusion constraint matching the ON CONFLICT specification`
https://www.openfn.org/projects/1168/runs/10542994

[2020-11-23 06:48] taylordowns2000 commented on #74
Yes, this is the focus of Mamadou's open PRs on WCS and the Postgres
adaptor.

On Mon, Nov 23, 2020 at 6:45 AM Aleksa Krolls <notifications@github.com>
wrote:

[2020-11-23 09:50] #73 closed

[2020-11-24 06:56] taylordowns2000 commented on #74
@aleksa-krolls , just realised that you were not tagged on this when I put it in review/QA yesterday. Apologies.

[2020-11-24 07:50] ritazagoni opened #78 "Bug: `auto/...{FormName}` job fails if form contains repeat groups"
## Describe the issue
When writing Kobo form subsmission data to the database, the automatically generated `auto/...{FormName}` (eg. `auto/WCS_Marche_24novSwmMarcheTest` job fails with error `error: ON CONFLICT DO UPDATE command cannot affect row a second time`. Form data is written to the form table (`wcs_marche_24novswmmarchetest`), but repeat group tables (`wcs_marche_24novswmmarchetestvendor`

[2020-11-24 08:17] aleksa-krolls commented on #78
@lakhassane @ritazagoni The issue here is that in the job, we're are using `upsertMany()` for repeat group records... but assigning the same `GeneratedUuid` to every item in the repeat group.
`GeneratedUuid: state.data.body._id+'-'+state.data.body._xform_id_string+'-'+2`

This uuid needs to be unique for each item to leverage upserts, which seems impossible to automate. Therefore...
1. `GeneratedU

[2020-11-24 12:53] taylordowns2000 commented on #78
Hey @lakhassane , what's the status here? I liked that idea we talked through earlier today.

[2020-11-25 08:38] aleksa-krolls opened #79 "Nested repeat group mappings incorrect in auto-generated jobs"
## Describe the bug
See this job as an example: https://openfn.org/projects/1168/jobs/3766

On L33 - the path to the nested repeat group is `state.data.body['vendor/sales']`. However if you look at the Kobo form (see this message: https://openfn.org/projects/1168/messages/10201969), `'vendor/sales'` is a nested repeat group... so that path should be `state.data.body.vendor[*].vendor/sales` (the pa

[2020-11-25 15:04] ritazagoni opened #81 "Manual cursor not updating in `03-KOBO-AUTO-Get Kobo Data` job"
## Describe the bug
Manual cursor doesn't update after a fetch from Kobo in `03-KOBO-AUTO-Get Kobo Data` job. Same issue as fixed in https://openfn.org/projects/1168/jobs/3737.

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://openfn.org/projects/1168/runs/10589020

### expression.js
Link to the job itself in Github: https://github.com/OpenFn/

[2020-11-25 18:24] aleksa-krolls opened #82 "Auto-generated job fails with `TypeError: Cannot read property 'host' of null`"
## Describe the bug
There is an issue with the job auto-generated... I would if it's as simple as the `;` is missing from the end of the `upsert(...);` operations.
1. Job created: https://openfn.org/projects/1168/jobs/3773
2. See run failure with error `TypeError: Cannot read property 'host' of null`: https://openfn.org/projects/1168/runs/10590533

Here is the source form definition: https://kf.ko

[2020-11-25 18:45] aleksa-krolls commented on #82
I forgot to add credentials (face palm)....

[2020-11-25 18:45] #82 closed

[2020-11-25 18:56] aleksa-krolls opened #83 "Trigger of the auto-generated job contains repeat group name"
## Describe the bug
If Kobo forms have repeat groups, then the trigger of this job contains the repeat group name (instead of the form name)...
1. Job: https://openfn.org/projects/1168/jobs/3774
2. Trigger: https://openfn.org/projects/1168/triggers/3773
`{"form":"WCS_swm_24novSwmMarcheTestVendorSales"}`

I expect the trigger to match the form name (`auto/WCS_swm_24novSwmMarcheTest`) and is logged

[2020-11-25 20:15] aleksa-krolls commented on #75
Estimate shared with the client, closing for now.

[2020-11-26 07:20] aleksa-krolls opened #84 "Auto-sync fails for form with nested groups"
## Describe the bug
Here is a Kobo form with nested groups: Kobo form definition: https://kf.kobotoolbox.org/api/v2/assets/atFB5uoXJtzwJoPCKtNPjg/?format=json

1. `02a` Sync to postgres fails for form with nested groups. I wonder if this error is due to the length of the form name? Or because a similar form has been synced?
Run failure: https://www.openfn.org/projects/1168/runs/10596816
Here is th

[2020-11-26 07:41] taylordowns2000 commented on #81
@ritazagoni , think this is all set.

Before the change: https://openfn.org/projects/1168/runs/10596572
After the change: https://openfn.org/projects/1168/runs/10597026

[2020-11-26 08:00] #81 closed

[2020-11-26 08:53] #74 closed

[2020-11-26 09:04] lakhassane commented on #84
RE 1.I wonder if this error is due to the length of the form name? Or because a similar form has been synced?

Yes @aleksa-krolls this is because of the length. In this case, even after trimming with repeat group name, the length is still above 63 characters. Then postgres try again to reduce to 63. So it won't be inserted since there is already a reduced (by postgres) table with the same name.

[2020-11-26 09:47] taylordowns2000 opened #85 "Mappings for nested groups don't produce correct paths"

[2020-11-26 09:50] taylordowns2000 commented on #84
@aleksa-krolls , @ritazagoni : does WCS want us to design some patterns for form naming or do they want to advise here? We could spend as much or as little time as they'd like coming up with different naming conventions and then walk them through the relative merits/drawbacks of the conventions. They could also (on paper) decide how they'd like to name these tables given the constraints we know:

[2020-11-26 10:02] #85 closed

[2020-11-27 08:12] #84 closed

[2020-11-27 13:38] aleksa-krolls opened #87 "Job 02a fails when form name includes integer '24' in name"
## Describe the bug
Related to this Kobo form: **Link to Kobo form**

Summary of the issue...

Here is the link to the OpenFn run: ...

## To Reproduce
1. Auto-generate a job by running job `00` with: https://openfn.org/projects/1168/jobs/3710
`{ uid: 'aEAqMfzhGtgx5ZoYp3rPCb', p1: 'WCS', p2: 'swm'}` **<--REPLACE**
2. This will trigger job `02a` to create a new OpenFn job:
**Run Failure: ??**

###

[2020-11-27 13:40] aleksa-krolls commented on #87
@chaiwa-berian Complete this issue and assign to Mamadou when ready. Use this as a template for issues as they come up.

cc @lakhassane and @taylordowns2000 - fyi, here is the list of forms, formIds, table_names we will be testing: https://docs.google.com/spreadsheets/d/1JwXM6A-VmSfoiLxkPl6kQCuqi0cJ_w7gJfch_E6Rul0/edit?usp=drive_web&ouid=101430720901034004945

[2020-11-27 13:52] #87 closed

[2020-11-28 18:42] #78 closed

[2020-11-28 18:42] #79 closed

[2020-11-28 18:45] #83 closed

[2020-12-09 09:21] aleksa-krolls opened #88 "Filter 'bns_matrix' questions by substring"
## Background
Sometimes Kobo questions for bns matrix questions will be labeled as `bns_matrix/questionName` and sometimes there will be additional text in the metadata names - e.g., `hh_assets/bns_matrix/questionName`.

## Request
L68: Change from `startswith` to `includes` to search for any questions that contain the substring `'bns_matrix'`
L69: Remove this search filter all together... not all

[2020-12-09 09:30] taylordowns2000 commented on #88
@lakhassane made the change. I've tested it here:

BEFORE: https://www.openfn.org/projects/1168/runs/10762035
AFTER: https://www.openfn.org/projects/1168/runs/10823389

[2020-12-09 10:02] dianedetoeuf commented on #88
Hi all,

Hi,

This is great thank you! Can I re-run the historical kobo data for this Uganda form?

Best
—

Diane Detoeuf
Poultry production and livelihoods diversification, Northern Congo
Chief of Party to USAID/DRC
Wildlife Conservation Society - Congo Programme

151 Avenue du Général de Gaulle, Brazzaville, Congo
Tel: +242 05 358 48 80
Skype: diane.detoeuf

[2020-12-09 10:27] aleksa-krolls commented on #88
@taylordowns2000 @lakhassane We need to make one more change to ensure the values map correctly. See how mappings are null in row 23 of [run log](https://www.openfn.org/projects/1168/runs/10823389).

On L70, the job currently expects the `'bns_matrix'` substring will be always in the same position, however this could change.
https://github.com/OpenFn/wcs/blob/master/bns/survey.js#L70

We need to u

[2020-12-10 15:55] #88 closed

[2021-01-24 13:27] aleksa-krolls opened #89 "Change repo name from WCS --> ConSoSci"
Do we need to update the integration on prod after?
https://www.openfn.org/projects/p5x4g4/messages

[2021-01-25 07:32] taylordowns2000 commented on #89
Done and updated on OpenFn.

[2021-01-25 07:32] #89 closed

[2021-02-01 09:02] taylordowns2000 commented on #50
https://cloud.google.com/nat/docs/gke-example

[2021-02-04 13:38] lakhassane commented on #76
@taylordowns2000 should we take 5mn to talk about this? It's at the top of the backlog

[2021-02-04 14:37] lakhassane commented on #76
@aleksa-krolls after discussions, we could go on something like:
1. 1 hour For a working prototype
2. An additional hour for refactoring
3. Test and feedbacks (from Rita and you) and corrections around 4-8h

[2021-02-08 07:06] aleksa-krolls opened #91 "Auto-generated job fails due to TypeError"
## Describe the bug
This run is failing with `TypeError [Error]: Cannot read property 'map' of undefined`.
https://www.openfn.org/projects/p5x4g4/runs/raa5zkb4

I _think_ we need to ensure that any repeat group mappings in these auto-generated jobs are written by default to handle undefined values. There may be scenarios where the data collector does not complete a repeat group.

Ping @ritazagoni

[2021-02-08 15:04] ritazagoni commented on #91
hey @lakhassane after running the process from scratch the job failed https://www.openfn.org/projects/p5x4g4/runs/rn5a63ad

[2021-02-09 08:16] ritazagoni commented on #91
After updating to latest `language-postgres v2.4.1` the error is the following: https://www.openfn.org/projects/p5x4g4/runs/r449x9ex
Kobo form id `ayd6iLVGgvEiXnT6bRxWvH` fetched by https://www.openfn.org/projects/p5x4g4/runs/rd7a3awp

[2021-02-10 07:23] #76 closed

[2021-02-11 20:47] aleksa-krolls commented on #91
@ritazagoni can we close this now? :D

[2021-02-12 08:17] #91 closed

[2021-02-17 10:04] #50 closed

[2021-03-02 08:56] aleksa-krolls opened #92 "New job to map Kobo Arcadia survey to Mssql"
## Background, context, and business value
WCS needs help developing a new job to collect information on partners' data collection plans across different research sites. In a call with them, we drafted a rough [concept of the job here](https://github.com/OpenFn/ConSoSci/blob/master/arcadia/sampleArcadiaSiteTool.js) but this job will have additional tables and link to several existing reference tab

[2021-03-02 16:12] aleksa-krolls commented on #92
Thank @lakhassane, looking great :) . Pending client feedback/ config changes

[2021-03-03 10:19] aleksa-krolls commented on #92
@lakhassane With more client info, I've updated several lookup tables and minor mapping changes in the job itself. Can you please help me with the following to finish the job? (This is high priority today, so keep me posted how I can help test or answer questions!)

**1. Change how we map `DataTools`**
See comments in [L431-L482](https://github.com/OpenFn/ConSoSci/blob/master/arcadia/arcadiaSiteDa

[2021-03-04 06:19] aleksa-krolls commented on #92
@lakhassane You now have IP access, so please resume work on this - but keep me posted so that I can help to more quickly answer any questions.
Also note that I made some changes to the surveys mappings to reflect the correct db column names. When I run it on production now, I encounter [this error](https://www.openfn.org/projects/p5x4g4/runs/r5egze4r)... so it looks ready for you to implement tha

[2021-03-04 11:52] lakhassane commented on #92
@aleksa-krolls the mapping is done. However note that Im not sure about some table names and columns in here.
If you could flag the recent updates in the sheet I can verify and change what needs to be.

[2021-03-04 12:09] aleksa-krolls commented on #92
@lakhassane I've gone through and updated most issues with db config. Now we're getting an undefined error:
https://www.openfn.org/projects/p5x4g4/runs/rx8bnewr

[2021-03-04 13:36] aleksa-krolls commented on #92
@lakhassane I'm getting green checks (!) ... _but_ it doesn't look like L575 onwards in the job is being executed/ evaluated?
https://github.com/OpenFn/ConSoSci/blob/master/arcadia/arcadiaSiteDataCollection.js#L575-L759

See successful run where no `WCSPROGRAMS_ProjectDataSetDataTool` records are upserted even though multiple data tools are inserted.
https://www.openfn.org/projects/p5x4g4/runs/r9w

[2021-03-04 14:33] lakhassane commented on #92
@aleksa-krolls previous issue was solved.
We are having another missing table in here: https://www.openfn.org/projects/p5x4g4/runs/rn5kajdn

` Invalid object name 'WCSPROGRAMS_ProjectAnnualDataSet'.`

[2021-03-05 16:38] aleksa-krolls commented on #92
@lakhassane Some feedback as now we're able to test across more surveys...
1. `TypeError [Error]: Cannot read property 'split' of undefined` --> now getting errors wherever we use split.(' ') and there happens to be no data... can you add in error-handling that checks for values wherever we have this split?
https://www.openfn.org/projects/p5x4g4/runs/rbgyyyk6

2. If `surveys_planned` or `surveys_p

[2021-03-07 21:42] aleksa-krolls commented on #92
@lakhassane This is #1 priority on Monday, please ping me when done so I can test. Thanks!

[2021-03-07 23:19] lakhassane commented on #92
@aleksa-krolls it's all done as well. Corrected the issue and re-run the failed runs on prod.

[2021-03-08 05:36] aleksa-krolls commented on #92
@lakhassane you're a star, thank you! will let you know if any further feedback, but looking good so far

[2021-03-08 07:04] #92 closed

[2021-03-19 13:56] aleksa-krolls opened #93 "Review job-writing docs"
See here: https://github.com/OpenFn/ConSoSci/blob/master/docs/5-jobWriting.md

Please suggest any changes and submit a pull request with any suggested its: https://github.com/OpenFn/ConSoSci/blob/master/docs/5-jobWriting.md

Here is the [mapping spec](https://docs.google.com/spreadsheets/d/1eGw8qxvDm34ZH6OM-6yJluMuyNwHwrax0yw-Wb2JBlw/edit#gid=0) WCS drafted themselves, and [here](https://kf.koboto

[2021-03-19 13:57] aleksa-krolls commented on #93
@lakhassane keep me posted! They're going to look at this on Monday :)

[2021-03-26 08:37] aleksa-krolls opened #95 "Search formName for key word"
## Request
We have this mapping drafted, but we can't map `formName` directly...
https://github.com/OpenFn/ConSoSci/blob/ea5f6e394d4a60b841748a30bf16417788895491/bns/price.js#L73

We want to look up the landscape (see L24) if the `formName` contains any of these key words:
https://github.com/OpenFn/ConSoSci/blob/ea5f6e394d4a60b841748a30bf16417788895491/bns/price.js#L24-L34

`formName` might be lon

[2021-03-26 13:38] lakhassane commented on #95
@aleksa-krolls you are good to test

[2021-03-26 15:11] aleksa-krolls commented on #95
thanks @lakhassane! Passed off to the client :)

[2021-03-26 18:09] aleksa-krolls commented on #95
@lakhassane Here is the message I've been testing against: https://www.openfn.org/projects/p5x4g4/messages/m3jq4dvn

Keep me posted when re-run on prod and I'll checkout the BD to confirm.

[2021-03-29 11:50] #95 closed

[2021-03-30 10:36] lakhassane commented on #93
@aleksa-krolls was there any additional work needed here?

[2021-03-30 10:49] aleksa-krolls commented on #93
@lakhassane nope, good for now! Just waiting for that `findValue(...)` function :D

[2021-03-30 10:49] #93 closed

[2021-04-01 07:12] aleksa-krolls opened #96 "Update job for Vegetation form"
## Background, context, and business value
We've run a new Kobo `Vegetation` form through the automated solution to generate this job:

## The specific request, in as few words as possible
WCS wants to modify this job so that data will map to relevant relationship tables.
- [See mapping specs](https://docs.google.com/spreadsheets/d/1eGw8qxvDm34ZH6OM-6yJluMuyNwHwrax0yw-Wb2JBlw/edit#gid=0) WCS draft

[2021-04-02 18:18] lakhassane commented on #96
@aleksa-krolls I used the pattern `findValue`to map the IDs of some relationships.

Sidenote: I saw some table names where `vegetation`is repeated twice. I don't know if that's intended but it's worth looking into those.

[2021-04-06 05:45] aleksa-krolls commented on #96
@lakhassane I ran against a Message and encountered `UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'query' of undefined`. See run here: https://openfn.org/projects/p5x4g4/runs/rpdx6a73

Please feel free to re-run on prod as needed. See link above for additional Messages to test against, thanks!

[2021-04-06 11:32] lakhassane commented on #96
So @aleksa-krolls I somehow made the corrections but Im bumping on some (mapping?) issues? Im trying to correct them but for some of them I can't know the right column name. Could you double check please?
<img width="614" alt="Screen Shot 2021-04-06 at 11 31 14" src="https://user-images.githubusercontent.com/8411231/113704408-9a870700-96cb-11eb-916e-a44ace265a9a.png">

<img width="571" alt="Screen

[2021-04-07 20:35] aleksa-krolls commented on #96
@lakhassane We learned that some of the state samples I shared were from an old version of the Kobo form with different mappings... so please see the above links for new states like this that should align better with the mapping template: https://openfn.org/projects/p5x4g4/messages/m4pb5b8g

Feedback so far:
1. We need to handle for scenarios where the `findValue(...)` lookup value in the `where`

[2021-04-08 21:34] lakhassane commented on #96
@aleksa-krolls Im making the implementation here but could you clarify some points please?
1. Your first point, can we know beforehand that the lookup value is not defined or should we make a check it in the job? Having to do this will complexify it a bit.
2. If we decide to not use `findValue` for `plotClass` what should its value be in the mapping ? `undefined` or something else? If the answer i

[2021-04-09 04:57] aleksa-krolls commented on #96
@lakhassane we cannot know if a value will be defined until we receive state.
If `plotClass`, for example, is not defined in state... I expect L69 to return undefined (`WCSPROGRAMS_VegetationClassID_Other: undefined`) and the job should proceed with processing.

If that's not possible, is there a quick check we can implement before executing the findValue step?
e.g., `WCSPROGRAMS_VegetationClassID

[2021-04-09 12:23] aleksa-krolls opened #97 "Updates to automation jobs to handle undefined repeat groups"
## Background
[See docs](https://openfn.github.io/ConSoSci/kobo-automation/) on the Automation solution and prior issues.

## Request
When the automation solution runs to auto-write sql scripts and jobs, we need to make small adjustments to the output...

We should expect that sometimes repeat groups will not be answer. Therefore auto-generate jobs need to handle that the object of `upsertMany(...

[2021-04-09 12:31] aleksa-krolls opened #98 "Automation jobs: change CamelCase format in DB output"
## Background
[See docs](https://openfn.github.io/ConSoSci/kobo-automation/) on the Automation solution and prior issues.

## Request
When the automation solution runs to auto-write sql scripts and jobs, we need to make small adjustments to the output...
Job `2a` currently outputs a sql script with database configuration changes that need to be made. Currently the database columns mirror the Kobo

[2021-04-09 13:39] lakhassane commented on #97
@aleksa-krolls this is the correction I made yesterday about `language-postgresql`. We are still seeing in on the linked run because it is using `v2.4.3` instead of `v.3.1.1`(which holds the latest changes).
See last run using `v3.1.1` https://www.openfn.org/projects/p5x4g4/runs/rg5ym89e

[2021-04-09 19:28] aleksa-krolls commented on #96
@lakhassane almost there... got through most of the errors but now encountering this on the upsertManys `TypeError: Cannot convert undefined or null to object` https://openfn.org/projects/p5x4g4/runs/r3xekjbr

[2021-04-12 05:02] aleksa-krolls commented on #96
@lakhassane Even with the adaptor fix, I'm still running into `TypeError: Cannot convert undefined or null to object`
https://openfn.org/projects/p5x4g4/runs/ryamrnjw

[2021-04-12 16:59] aleksa-krolls opened #99 "Automation job 01-processForm.js failed with TypeError"
## Describe the bug
This happened while @ritazagoni was running the automation solution during training. See run failure with error: `TypeError [Error]: Cannot read property 'path' of undefined at questionToType `
https://www.openfn.org/projects/p5w6xn/runs/raakb8pn

## To Reproduce
Here is the run that triggered this whole flow: https://www.openfn.org/projects/p5w6xn/runs/ren7d9yk
Let @aleksa-kro

[2021-04-12 18:07] #97 closed

[2021-04-13 04:17] aleksa-krolls commented on #96
@lakhassane in addition to resolving the above mentioned `TypeError`, the client has configured missing DB columns. Please see [the red rows](https://docs.google.com/spreadsheets/d/1eGw8qxvDm34ZH6OM-6yJluMuyNwHwrax0yw-Wb2JBlw/edit#gid=0) for additional mappings to add.

[2021-04-13 12:56] lakhassane commented on #99
Hey @aleksa-krolls this is what I found when I try to display the content of that `survey`. Looks like `content`is empty
<img width="510" alt="Screen Shot 2021-04-13 at 12 35 07" src="https://user-images.githubusercontent.com/8411231/114552987-af781300-9c54-11eb-86d0-f60c32926755.png">

Checking in `kobotoolbox`I see the form has not been deployed yet.

[2021-04-13 13:15] lakhassane commented on #98
@aleksa-krolls I made the changes for all columns. What about `table names`? Are they included?
[code]

[2021-04-13 13:26] aleksa-krolls commented on #98
@lakhassane Table names should also be CamelCase... but with the convention `prefix1_prefix2_TableName_RepeatGroup` ...so each component `p1`, p2`, `TableName` should have CamelCase applied, if not already... but keep the `_` between.

[2021-04-13 13:27] aleksa-krolls commented on #99
@lakhassane Interesting, thanks for finding... so @ritazagoni we can add as a step to ask users to make sure their Kobo forms are deployed and not archived before trying to run through the automation solution.

[2021-04-13 13:28] aleksa-krolls commented on #99
@lakhassane how much level of effort would it be to add a step to handle this error and log a message like `Kobo form not deployed or not defined. Please check the Kobo form status.` If <30 min, can you please implement?

[2021-04-14 07:46] aleksa-krolls commented on #96
@lakhassane Still getting `TypeError: Cannot convert undefined or null to object`
https://openfn.org/projects/p5x4g4/runs/rg5ydpga

Is it because of queries like these passing `undefined`?
[code]
**Please test on prod to confirm this works... see above `state` section for 3 Message links to use.**

[2021-04-14 11:02] lakhassane commented on #96
@aleksa-krolls that error has been solve but it's still failing because of `Generated_ID`column in the DB https://openfn.org/projects/p5x4g4/runs/rd75n7ka

[2021-04-15 08:12] aleksa-krolls opened #100 "Automation: Foreign key column missing on child repeat group tables"
## Describe the bug
In the training yesterday, we had users run their Kobo forms through the automation solution. For repeat groups, we always create a table that should look up to the parent "form" table. For example... if we have a `survey` that has a repeat group to capture information on `household members`, we expect 2 DB tables will be outputted (`TableSurvey`, `TableSurvey_HhMembers`)... bu

[2021-04-15 08:13] #99 closed

[2021-04-15 12:28] aleksa-krolls commented on #100
@lakhassane I need your help again. We need to filter the `dataArrays` by unique values before executing `upsertMany` statements, otherwise we encounter this error: https://openfn.org/projects/p5x4g4/runs/r9wemzp4
[code]

See state (https://openfn.org/projects/p5x4g4/messages/mrbnqnpd) where we are trying to insert multiple `BigTrees` with the same `btspecies` name. We need to filter this repeat g

[2021-04-15 12:30] aleksa-krolls commented on #96
@lakhassane I need your help again. We need to filter the `dataArrays` by unique values before executing `upsertMany` statements, otherwise we encounter this error: https://openfn.org/projects/p5x4g4/runs/r9wemzp4
[code]

See state (https://openfn.org/projects/p5x4g4/messages/mrbnqnpd) where we are trying to insert multiple `BigTrees` with the same `btspecies` name. We need to filter this repeat g

[2021-04-15 14:31] lakhassane commented on #100
@aleksa-krolls I made the change. Feel free to test.

[2021-04-15 14:50] lakhassane commented on #96
@aleksa-krolls some the BigTrees have same `btsspecies`but the other parameters are different. How should we proceed then? Which one should be taken among all?

[2021-04-15 14:55] lakhassane commented on #96
I can make the change but then only the 1st matching `Btspecies` of each will be inserted

[2021-04-15 15:02] aleksa-krolls commented on #96
@lakhassane hm... looking at the DB. Can we do 2 things...
1. Create a custom uuid that maps to `WCSPROGRAMS_VegetationBigTreesExtCode`: `${btspecies}${height}${bdh}` and use this to upsert `WCSPrograms_VegetationBigTrees`
2. And then... only take the first array item that matches that. Even if we build this custom uuid, I worry there will be duplicates... so let's please still only take the 1st m

[2021-04-15 19:51] aleksa-krolls commented on #96
@lakhassane Now it hates your `handleValue` function... I think this is thrown whenever a value is `undefined`.
Check out these example run failures with the error `TypeError [Error]: value.replace is not a function`.
https://openfn.org/projects/p5x4g4/runs/r7xdzp7x
https://openfn.org/projects/p5x4g4/runs/rrk49yng
https://openfn.org/projects/p5x4g4/runs/rrk49ykg

[2021-04-16 07:23] aleksa-krolls commented on #98
@lakhassane This CamelCase is causing uniquess issues... this form  `aF83yMqfW5AikzRkvca8Bx` has 2 fields: `_version_`,  `__version__`.

When we apply CamelCase, job `02a` fails with the error `error: column "version" specified more than once`. See run:
https://www.openfn.org/projects/p5w6xn/runs/rwazwr9j

What do you think is the easiest way to handle this? Maybe if only 1 underscore `_`, we remo

[2021-04-16 13:39] lakhassane commented on #98
I left it as is @aleksa-krolls so should not be a problem to insert now.
`_version_` --> `_Version__`
`__version__` --> `__Version__`

[2021-04-20 11:00] aleksa-krolls opened #101 "Enable openfn static ip"
For connecting with the following DBs...
`WCS Programs Database (central db)` (mssql)
`WCS ConSoSOc DB (For automation testing)` (postgres) - this might already be enabled

[2021-04-20 13:51] taylordowns2000 commented on #101
This is done. https://openfn.slack.com/archives/C01N1ASUKML/p1618926685000200

[2021-04-21 15:53] aleksa-krolls commented on #100
@lakhassane Looks like job `2b` is auto-creating jobs with custom ids that have underscores `generated_uuid`.
But job `2a` that auto-generates the DB config outputs `generateduuid`.

Therefore when we run the job, we encounter the error `error: column "generated_uuid" of relation "wcs_test_sharksrays" does not exist`.

Please update job `2b` so that the automatic job mappings will reference `gener

[2021-04-21 15:54] #100 closed

[2021-04-21 16:04] aleksa-krolls opened #102 "bns_matrix mappings output `0` instead of `1` for yes values"
## Describe the bug
OpenFn is uploading `0` values to the DB, when we expect `1` values for `"yes"` answers.
![image](https://user-images.githubusercontent.com/16758106/115584410-71719380-a2d3-11eb-8c08-1a7703630724.png)
See issue #3 for context on this job logic. This issue affects `necessary`, `have`, and `quantity` columns.
https://github.com/OpenFn/ConSoSci/blob/master/bns/survey.js#L79-L89

#

[2021-04-21 18:52] lakhassane commented on #102
@aleksa-krolls I think the issue might on the sample data.
if you see this line (as well as the one for `necessary`and `quantity`) https://github.com/OpenFn/ConSoSci/blob/56392e08fafe3fba5fcd6af7cef75334f1cbf720/bns/survey.js#L81

We expect the data to be prefixed with `hh_assets`, which is not the case in the sample data joined to that issue. Then the value is translated as `undefined` thus the `

[2021-04-21 19:10] lakhassane commented on #98
@aleksa-krolls you misplaced the comment in a closed issue. However, I made the change for the camel case of `generated_uuid`

[2021-04-22 05:30] aleksa-krolls commented on #98
@lakhassane thank you!! will check it out

[2021-04-22 07:27] aleksa-krolls commented on #102
@lakhassane great catch! Please update the job to handle both potential naming styles...
1. `hh_assets/bns_matrix_${item}/bns_matrix_${item}_possess`  (original) OR
2. `bns_matrix_${item}/bns_matrix_${item}_possess` (new)

To test, please re-run the following states:
1. Example state: https://www.openfn.org/projects/p5x4g4/messages/mqqrnjgj
2. Example states:
https://www.openfn.org/projects/p5x4g4

[2021-04-22 07:36] dianedetoeuf commented on #102
Hello,
What is very strange is that another submission from the same form seems to be sending data properly, see answer ID 677799 for example.

[2021-04-22 07:40] aleksa-krolls commented on #98
@lakhassane `generateduuid` is fixed, but the same change also needs to be made on the `parentuuid` column on child tables created for repeat groups.

Right now I'm seeing in the auto-generated job, there is a `_` in these parentuuid column names - e.g., `boat_uuid` on L157
https://www.openfn.org/projects/p5w6xn/jobs/jvebeg

But the SQL script is correctly outputting `BoatUuid`
https://www.openfn.

[2021-04-22 07:45] aleksa-krolls commented on #102
@daissatou2 can you share the link to the Kobo form? I strangely can't find this data in OpenFn when searching `{"body":{"_id": 677799}}`

https://www.openfn.org/projects/p5x4g4/messages?endDate=2021-04-22T07%3A43%3A23.146Z&searchString=%7B%22body%22%3A%7B%22_id%22%3A%20677799%7D%7D&startDate=2020-04-22T07%3A43%3A28.356Z

[2021-04-22 08:05] dianedetoeuf commented on #102
sorry sorry my bad! ID is 72912522

[2021-04-22 08:09] aleksa-krolls commented on #102
@dianedetoeuf interesting... we last processed this data in November, so I wonder if we processed this assuming the naming convention was `bns_matrix...`, but then later adjusted it when we saw new data coming in.

Can I re-process this Message now? My guess is that is we re-run the job, the values will _not_ output correctly in the DB. https://www.openfn.org/projects/p5x4g4/messages/mj6nvrjk

[2021-04-22 08:17] dianedetoeuf commented on #102
Yes maybe the mapping was adjusted for Uganda after some of these Ndoki data came in, and as the Ndoki data were cleaned over the last few months it could be the reason why the output was then 0. Yes lets re-run!

[2021-04-22 15:28] aleksa-krolls commented on #101
@taylordowns2000 Are you sure this is done? Here is the error I'm seeing... it's showing a different IP than the static IP you told me to share with WCS (`35.245.0.180`):
https://www.openfn.org/projects/p5x4g4/runs/rn5799gd

[2021-04-22 15:46] taylordowns2000 commented on #101
@stuartc , I've confirmed that the IP address of the database we're trying to connect to with that run is the `wcs` one on this list yet their DB still appears to be blocking our requests. Is it possible that since the job attempts to connect to `wcsprograms.database.windows.net` rather than `41.79.78.106` it's not being routed through the NAT?

[code]

[2021-04-22 15:51] stuartc commented on #101
The ip address bound to that dns entry is:40.78.225.32

Using nslookup (for future reference)

So that firewall rule isn't going to redirect for that domain.

Did they change domains or dns or something?

[2021-04-22 15:56] taylordowns2000 commented on #101
Either that or I got the wrong IP initially—I'd been checking with `ping` rather than `nslookup`. I'm running `terraform apply` now with the new IP.

[2021-04-22 16:03] taylordowns2000 commented on #101
@aleksa-krolls , updated to the new IP. I think the change should be fairly quick so if you still see failures after ~10min please let me know.

I'm hoping that someone on our team (me?) got the inital IP wrong for that database. If, however, that db is accessible at multiple IPs or if their IPs are changing, this will be a continual problem. (I doubt that's the case, but it would be pretty hilari

[2021-04-23 05:45] taylordowns2000 commented on #101
@stuartc , let's take a peek at this today—see email from Steve, still doesn't seem to be working.

[2021-04-23 06:43] taylordowns2000 commented on #101
@aleksa-krolls , we added another WCS IP today and I have re-run a few—things look good but see my email for notes going forward.

![image.png](https://images.zenhubusercontent.com/566ac5e0638e718c995f5356/4f1226be-5edc-452c-b5b2-95eb939237ac)

[2021-04-23 06:43] #101 closed

[2021-04-23 10:45] lakhassane commented on #102
@aleksa-krolls I made the change and check for different path for the value of those columns.

[2021-04-23 12:54] aleksa-krolls commented on #102
@dianedetoeuf I've tested the changes and looking good my side. See these 2 examples... can you review to confirm? If looking good, we can re-process these older submissions.

`hh_assets...` format
1. Message (input): https://www.openfn.org/projects/p5x4g4/messages/mqqrnjgj
2. Run (output): https://www.openfn.org/projects/p5x4g4/runs/rzde9x3m

`bns_matrix` format
1. Message: https://www.openfn.org

[2021-04-23 13:45] dianedetoeuf commented on #102
Looking good! I've added in 1B the forms that should need resyncing.

[2021-04-27 07:38] aleksa-krolls opened #103 "Automation jobs: new handling for `select_one` questions to create 1:m relationships"
## Background, context, and business value
As discussed, Kobo `select_one` questions typically display a dropdown list of choices, which will be values on a reference table in the destination DB. Therefore WCS requested the development of a `findValue(...)` helper function to more quickly look up parent records and populate foreign keys on related tables.

## Request
Update jobs `02a` and `02b` to

[2021-04-28 21:38] aleksa-krolls commented on #102
@dianedetoeuf fyi, this was re-ran: https://www.openfn.org/projects/p5x4g4/runs/r5ew6wdm

Let us know if anything else pops up, but closing this issue for now. Thanks @lakhassane !

[2021-04-28 21:38] #102 closed

[2021-04-29 12:24] dianedetoeuf commented on #102
Thank you both!

[2021-05-03 13:41] lakhassane commented on #103
@aleksa-krolls First question here:

Here is an example of a auto-generated job for the new reference tables. You see the `undefined` in here because there is not an actual path for `CountryID` or `CountryName`.
Is it fine to just replace it with `dataValue('CountryID')` or what would you advise here?

[code]

[2021-05-03 15:39] lakhassane commented on #103
The job is correctly generated here @aleksa-krolls minus my comment on `undefined` path.
https://www.openfn.org/projects/p5w6xn/jobs/jveb4g

And here are the tables created: https://www.openfn.org/projects/p5w6xn/runs/rg5nbpwe

[2021-05-05 04:58] #96 closed

[2021-05-07 11:10] aleksa-krolls opened #105 "Don't map to DB if `survey_type='practice'`"
## Request
If `body.survey_type`=== `'practice'`, stop flow and log message `Test 'practice' survey. Not uploading data to database.`.

If `body.survey_type`=== 'real'` or is `undefined, proceed with the job as usual.

## expression
1. https://github.com/OpenFn/ConSoSci/blob/master/bns/survey.js
2. https://github.com/OpenFn/ConSoSci/blob/master/bns/price.js
3. https://github.com/OpenFn/ConSoSci/bl

[2021-05-07 11:40] aleksa-krolls opened #106 "`bns_matrix` mappings return duplicate items"
## Request
Adjust `matrix` mappings so that we don't insert multiple GS records for the same `item`. We see this has happened for Kobo survey where `_id: 74453084`. See screenshot below.

## expression
Please group these `matrix` records by `item` to only upsert 1 unique `WCSPROGRAMS_KoboBnsAnswerGS` for every 1 `item` reported.
https://github.com/OpenFn/ConSoSci/blob/9b5706a19d23e28bd095f7fa1e244

[2021-05-07 16:05] taylordowns2000 commented on #105
@aleksa-krolls , this can now be addressed via `exclusion` criteria for message filter triggers:
- https://docs.openfn.org/documentation/build/triggers#message-filter-triggers
- https://docs.openfn.org/documentation/build/triggers#message-filter-triggers
- https://docs.openfn.org/documentation/release-notes#version-19244-2021-05-07

See slack thread for questions about testing on staging and if/wh

[2021-05-07 16:46] taylordowns2000 commented on #106
check the old run for this https://www.openfn.org/projects/p5x4g4/messages/m3p5w6jz (`97` things) and the new one (`37` things) and see https://github.com/OpenFn/ConSoSci/commit/1252aca5a7e9504a8aced96fea5dd11982db4852

I think we're good to go.

[2021-05-07 16:54] taylordowns2000 commented on #106
nope, needs more

[2021-05-07 17:08] aleksa-krolls commented on #106
@taylordowns2000 please group by `gs` to determine unique records.
Then you can do cleaning like removing `_` from `item`.

[2021-05-08 06:54] taylordowns2000 commented on #105
Rather than updating the jobs, i've made updates to the 5 triggers to use "exclusion filters", a new OpenFn/platform feature:
- https://openfn.org/projects/p5x4g4/triggers/tyewax - bns/survey
- https://openfn.org/projects/p5x4g4/triggers/ty4gg5 - bns/price
- https://openfn.org/projects/p5x4g4/triggers/t9p66p - NRGT 2019
- https://openfn.org/projects/p5x4g4/triggers/t9jxxe - veg
- https://openfn.or

[2021-05-08 06:54] #105 closed

[2021-05-11 12:32] aleksa-krolls commented on #103
@lakhassane immediate feedback...
**1. foreign key mappings**
In the `findValue(...)` mappings, make sure the `where` clause points to the Kobo question name (not the destination DB column name, as discussed). For example, see `LandingSite` on L91: https://www.openfn.org/projects/p5w6xn/jobs/jveb4g

Current mapping...
`LandingSite: findValue({uuid: 'LandingSiteID', relation: 'OpenFn_Test_LandingSi

[2021-05-11 15:13] lakhassane commented on #103
@aleksa-krolls I made all the requirements in here (see image) but for the `replace()` Im still thinking about the best way. Because we don't only need to generate that function but a whole function that is wrapping the `dataValue()` and that returns values.

<img width="738" alt="Screen Shot 2021-05-11 at 15 11 31" src="https://user-images.githubusercontent.com/8411231/117839894-2bbd4080-b26b-11e

[2021-05-12 15:42] aleksa-krolls commented on #103
@lakhassane Is everything done except for the `replace(...)` question? If yes, can you please...
1. Run the automation solution to auto-generate new DB tables and (2) new job. You can connect to the `WCS ConSoSci DB` for this testing.
2. Then run the auto-generate job (2) against these states to confirm the data will sync as expected: https://www.openfn.org/projects/p5w6xn/messages/m58d8ak8
https:

[2021-05-12 16:36] aleksa-krolls commented on #103
@lakhassane new states to test with:
https://www.openfn.org/projects/p5x4g4/messages/mwba4jb3
https://www.openfn.org/projects/p5x4g4/messages/m58d7k8d

[2021-05-13 07:53] #98 closed

[2021-05-13 08:53] aleksa-krolls commented on #103
@lakhassane I've done further review of the data and have further feedback below. [See here](https://www.openfn.org/projects/p5x4g4/jobs/jyp96p) for my auto-generated job, and [see here](https://www.openfn.org/projects/p5x4g4/runs/r7xrz3bb) for the sql script.

1. We need to assign a primary key to the reference tables (e.g., `countryid`)...
![image](https://user-images.githubusercontent.com/16758

[2021-05-13 10:05] aleksa-krolls opened #107 "Change `id` to number each element in the repeat groups array for BNS and Price tables"
## Request
Currently we map the Kobo Answer `_id` to the `Id` primary key in some of these repeat group tables. This means that repeat group items (e.g., `hhmember`) will have the same primary key if they belong to the same form.
![image](https://user-images.githubusercontent.com/16758106/118110279-e6278180-b3ea-11eb-8855-15f422375466.png)
WCS wants `Id` to rather show the count of `hhmembers` in

[2021-05-14 09:54] lakhassane commented on #103
@aleksa-krolls for your point `1` here do you think using the `identity` query you sent me would solve it? Because I can change the LP now.

[2021-05-14 14:29] lakhassane commented on #107
@aleksa-krolls I mapped the counts for both those jobs

[2021-05-14 14:35] aleksa-krolls commented on #107
@dianedetoeuf thanks for all the screenshots... this should be good to go, going forward. Do we want to re-sync some or all of the BNS and Price surveys?

[2021-05-14 17:24] lakhassane commented on #103
So both of those points were implemented @aleksa-krolls . If you want to use the latest changes for postgresql, feel free to update any job on the latest adaptor version.

[2021-05-19 05:32] aleksa-krolls commented on #107
@lakhassane I'm now seeing this run failure and I think it's related to the recent change... can you check it out and please advise?
https://www.openfn.org/projects/p5x4g4/runs/r7x877a7
[code]
I'm wondering if this change we implemented won't work.... because if we have 2 households each with 3 members, the job will try to insert members `1`, `2`, `3` twice (one set for each household)... and ther

[2021-05-19 05:46] aleksa-krolls commented on #103
@lakhassane Nearly there... one thing I've noticed is that on the reference tables, if there is no value in state to insert into an available reference table (e.g., `country`, `district`, `survey`)... we still insert a "blank" row. We should expect that with every Kobo submission, a row might _not_ be upserted in the reference tables.

For example, there is the `openfn_sharks_district` reference t

[2021-05-19 07:06] aleksa-krolls opened #109 "Legacy plant json data prep help"
## Background, context, and business value
The client is trying to move legacy survey data captured outside of Kobo from an old database to their central DB (where all the Kobo data lives). This legacy data for 1 survey submission is spread across 6 tables.

## The specific request, in as few words as possible
I need your help building a new "state.json" that collapses data from across the 6 table

[2021-05-19 09:45] lakhassane commented on #107
@aleksa-krolls it's not exactly related to the recent changes.

Here are the duplicated values: `(BNS Makira 2021-aVLz2FxFcw99cv89xNY46K, 94627099, 8)`.
They correspond to `(datasetId, _id, count(hh_members))` so even if we reverted the changes we will have `(datasetId, _id, _id))` (what we had before) and we will probably have duplications because it seems like we cannot have rows in the DB with

[2021-05-19 12:48] lakhassane commented on #109
And each object is inside that big `surveys`array
[code]

[2021-05-19 13:21] lakhassane commented on #103
@aleksa-krolls yeah I think we might better consider the `upsertIf` otherwise the job is going to be hardly maintenable considering all the adds

[2021-05-19 14:54] aleksa-krolls commented on #109
@lakhassane that looks good, please push to inbox!

[2021-05-19 15:09] aleksa-krolls commented on #107
@lakhassane So I think we're inserting the repeat group records (`hh_members`) incorrectly / I may have not done a good job communicating the requirement. For example...
1. This state has 8 `hh_member` items: https://www.openfn.org/projects/p5x4g4/messages/m78nw9jp
2. I therefore expect 8 rows to be inserted in the table `WCSPROGRAMS_KoboBnsAnswerhhmembers`... 1 row for every item in the array. An

[2021-05-19 15:36] aleksa-krolls commented on #103
@lakhassane fyi, I just noticed another issue. While the reference table ids are now being set nicely...
![image.png](https://images.zenhubusercontent.com/5d691cd53295e300013f1cbd/f108141e-ab82-4dae-816a-ff6a48a3122d)
... the foreign keys on the child survey tables are still not linking back to these parent tables and shows `{}`. Can you check on that `findValue(...)` function?
![image.png](https:

[2021-05-19 16:20] lakhassane commented on #109
Done :)

[2021-05-19 16:41] lakhassane commented on #107
ahh I get it now. I understood something else through `count`. I made the correction but for the `insertMany` and not the `insert` where you put 0 as id.

I'm correcting same for `price.js`

[2021-05-19 20:14] aleksa-krolls commented on #107
@dianedetoeuf I think this `hh_members` and repeat group issue is resolved now. Can you please verify the output in the db for `"AnswerId": 94627099`?
See run here that shows how we inserted individual records for every hh member: https://www.openfn.org/projects/p5x4g4/runs/r3xmyb94

If this looks good... I can plan to bulk resync all the BNS submissions :)

[2021-05-20 07:28] dianedetoeuf commented on #109
Thank you both! Will try and create the job to send those messages.

[2021-05-20 08:49] aleksa-krolls commented on #109
@dianedetoeuf Here is the new state produced: https://www.openfn.org/projects/p5x4g4/messages/m8qvjvbr
Remember that I created the custom uid `surveyid`, which is similar to `AnswerId`.
Keep us posted on you job drafting. Mamadou and I would be happy to jump on a call to walk through your job whenever you're ready. Look for the credential `wcsprograms db` in the WCS project to test this :)

[2021-05-20 08:49] #109 closed

[2021-05-20 09:06] aleksa-krolls commented on #103
@lakhassane in case you missed it, the bottom of this comment has details for testing: https://github.com/OpenFn/ConSoSci/issues/103#issuecomment-840419490

Let me know how it goes/ how I can help with testing.

[2021-05-20 09:13] aleksa-krolls opened #110 "Cursor should check for new or updated submissions since `lastFetch`"
## Bug
The client is reporting that this job is repeatedly pulling the same submissions again and again, instead of only checking for new or updated submissions. From @dianedetoeuf ....
[code]
When I look at the latest run, the cursor date is in February... I think the cursor is being set to the latest Kobo submission `end` date, rather than the date of the last openfn fetch.
https://www.openfn.or

[2021-05-20 11:27] lakhassane commented on #103
@aleksa-krolls I ran the test. See here: https://www.openfn.org/projects/p5x4g4/runs/r44wdmzm

[2021-05-20 16:02] dianedetoeuf commented on #107
Yes we do have the 9 households!! Well done =) and thank you! Ok to do the bulk resync (I assume its ok too for the prices?)

[2021-05-21 09:18] aleksa-krolls commented on #107
@dianedetoeuf yes, please go for it... let me know if you need help/ get stuck.

[2021-05-21 12:18] dianedetoeuf commented on #109
Hi, I thought I had seen the tag at some point but now can't find it - it should be in the message right?

[2021-05-21 12:19] lakhassane commented on #109
@dianedetoeuf probably at the last line
<img width="372" alt="Screen Shot 2021-05-21 at 12 19 23" src="https://user-images.githubusercontent.com/8411231/119136114-c7e70480-ba2e-11eb-943c-c717040b0c9c.png">

[2021-05-21 12:21] dianedetoeuf commented on #109
Ha :D thanks!

[2021-05-21 12:40] aleksa-krolls commented on #110
@dianedetoeuf this looks resolved. Arcadia submissions should now only be fetched again if there are new or updated submissions :)

[2021-05-21 12:40] #110 closed

[2021-05-21 12:40] #107 closed

[2021-05-24 06:39] aleksa-krolls commented on #103
@lakhassane Same result... let's get on the phone when you're back online to test together. Also with the new vpn setup, we should be able to get you into DBeaver.
![image.png](https://images.zenhubusercontent.com/5d691cd53295e300013f1cbd/9be6c685-cd1f-44b7-b900-af5b4cf277c5)

[2021-05-24 13:55] aleksa-krolls opened #111 "Update job to handle multiple `observername` paths"
## Request
The current job references the data source value `state.data.body.observername` in several places. However, for different Kobo survey versions... the path for `observername` changes.

In all relevant places, please update the job so that `observername` may be found in...
[code]
## state
See L63 in this message: https://www.openfn.org/projects/p5x4g4/messages/m58q4qdm
See LP for `wcs pro

[2021-05-25 18:41] lakhassane commented on #103
@aleksa-krolls for this last one I think we might need to consider changing syncToOpenFn to generate an alterState with async await. I'm checking for how long it would take.
If running succesfully this job is urgent I can make the manual changes (about 10mn of work) but otherwise, I will update the automation job to try to solve this problem.

[2021-05-26 07:08] aleksa-krolls commented on #103
@lakhassane We need to make this change in the automation solution ... it's going to come up again and again. Please keep me posted on estimates and how I can support.

[2021-05-26 07:20] aleksa-krolls commented on #111
@lakhassane thanks for sharing. The challenge is that this Kobo form has been changed multiple times... so some Messages might have the paths currently referenced in the job... but then it looks like we might need to handle alternative paths for different Kobo form versions (similar to how we support multiple paths for `observername`.

Please add alternative paths for these arrays as well please..

[2021-05-26 10:32] lakhassane commented on #111
@aleksa-krolls for your second question yes you can do that. But I created a path variable that we can update so we can keep it in one place.

[code]

[2021-05-26 11:07] lakhassane commented on #111
@aleksa-krolls see line `707`in here. That snippet inserts `tree_repeat`but somehow that line has `tree_10cm`on it (which is inserted in operations below that one). Is it a typo to correct?

https://github.com/OpenFn/ConSoSci/blob/ccbdca8523bd511361ddc0ae03544a106e23d4c5/vegetation/VegetationClassficationAndTreeMeasurementForm.js#L703-L712

[2021-05-26 11:16] lakhassane commented on #111
I made the correction for the paths and left you a note in the code for my comment above.

[2021-05-26 17:52] lakhassane commented on #103
@aleksa-krolls I think we are good there. I refactor the automation to generate the `alterState` with `async/await` to make this work (see sample https://www.openfn.org/projects/p5x4g4/jobs/jyp96p).

<img width="779" alt="Screen Shot 2021-05-26 at 17 51 24" src="https://user-images.githubusercontent.com/8411231/119707710-fdcf2300-be4a-11eb-9a9e-5fc01039eade.png">

[2021-05-26 17:53] lakhassane commented on #103
Next question would be if you think it can happen we need to use findValue on nested repeat group (those operation with the big `each` and `upsertMany`.
If yes, can you open an issue for it and I might need to do the same thing as we did and it's a bit complicated than above.

[2021-05-27 09:48] aleksa-krolls opened #113 "New handling for `select` questions in nested repeat groups"
## Request
See issue #103 for details. We'll want to implement this same logic for scenarios where a `select` question is in a nested repeat group.

Your last comment about this:
Next question would be if you think it can happen we need to use findValue on nested repeat group (those operations with the big `each` and `upsertMany`.
If yes, can you open an issue for it and I might need to do the sam

[2021-05-28 09:33] aleksa-krolls commented on #103
@lakhassane This flow is currently failing so I can't test... see run: https://www.openfn.org/projects/p5x4g4/runs/rwapydwn

To replicate, please run job 1 with the following: https://www.openfn.org/projects/p5x4g4/jobs/jyd8gg
[code]

**We need this resolved today, so please pause WfW work as needed.**

[2021-05-31 15:05] aleksa-krolls opened #114 "Generate message for updated legacy plant data"
## Background, context, and business value
See issue #109 for the background and specifications to follow. WCS has cleaned some of the data so we need to repeat this again with a new set of JSON payloads.

## The specific request, in as few words as possible
Please follow those specs from the old issue to repeat this request, but using the JSON payloads linked to below. Also please use the tag `le

[2021-05-31 15:07] aleksa-krolls commented on #114
@lakhassane please take this on whenever you're ready to move to the next item in the backlog. @dianedetoeuf we can send you the new Message link when ready, but the structure should be the same... so you can continue using the older Message as reference for what this state.json will look like.

[2021-05-31 17:14] lakhassane commented on #114
@aleksa-krolls the new payload is posted to the inbox: https://www.openfn.org/projects/p5x4g4/messages/mv7q93dw
FYI, I think all the payloads are the same but the `general`one.

[2021-06-01 09:20] aleksa-krolls opened #115 "Add mssql capability to 'automation' solution"
## Background, context, and business value
Currently the automation solution integrates with Postgres DB. See issue #51 for original background, and ConSoSci docs site: https://openfn.github.io/ConSoSci/kobo-automation/

## The specific request, in as few words as possible
The client wants all the exact same functionality to work with mssql. Note that the client may still sometimes want to integra

[2021-06-01 14:09] lakhassane commented on #113
@aleksa-krolls I replicated for the other operations as well.

Find the last generated job in here: https://www.openfn.org/projects/p5x4g4/jobs/jyzq3d

[2021-06-01 15:36] lakhassane commented on #115
@aleksa-krolls so a priori the jobs will remain the same because both of those adaptors have the same set of parameters.

I will more bet on changing the adaptor from `postgres` to `mssql`.

I will open a set of issues in `mssql` as needed

[2021-06-01 16:07] aleksa-krolls commented on #115
@lakhassane I added the mssql test db cred details in the issue above. Fyi, it is a copy of their DB... so there will be existing tables and data, but it is a test environment... so no worries about running the automation solution and creating tables and all that.

[2021-06-01 16:20] #114 closed

[2021-06-02 10:48] lakhassane commented on #115
Noted @aleksa-krolls thanks

[2021-06-02 14:13] lakhassane commented on #115
Using this place to add a bunch of notes:
1. `int4`, `float4` not available in mssql. Should find a way to either alter `processForms.js` (a processForm2.js) or make a quick check in `syncToPostgres.js` to add `4`or remove it depending on the adaptor.

[2021-06-02 14:41] lakhassane commented on #115
@aleksa-krolls so it's all good for replicating for `mssql`. Minus the point 1 and 2 and 4 above everything is okae.

I need to make 1 minor change to `processForm.js` that would not affect it.

Though, I would suggest we have a `syncToMssql.js`since I'm not sure inside the job we can detect what adaptor is running and depending on it we would decide if we are using `int4` or `int`

[2021-06-03 09:34] aleksa-krolls commented on #111
@lakhassane I'm made some minor corrections per your further testing and notes... but when I went to re-run this across a couple of different forms, I noticed `observername` is still not mapping properly.

See [this Message](https://www.openfn.org/projects/p5x4g4/messages/m58q4qdm) where  `"general_observations/obsevername": "lukato namuleme"`. It looks like we reference this path, but the data va

[2021-06-03 12:51] lakhassane commented on #111
@aleksa-krolls I got what the issues is about.
this pattern below implies we expect `general_observations/obsevername` to be an array but it's not (it's a value) so the mapping after for the upsert is not correct.
[code]

But for the other operations it works because we have array in those (e.g `"liana/tree_repeat"`).
I'm fixing it but it's might always required manual corrections if the payload i

[2021-06-03 16:31] lakhassane commented on #111
drafted correction awaiting @aleksa-krolls review

[2021-06-03 16:54] aleksa-krolls commented on #111
@lakhassane Can you help me ensure we're only upserting unique `oberservername` records. See recent run failure: https://www.openfn.org/projects/p5x4g4/runs/r3xmrzwk

And please re-run until we get a success on prod! :)

[2021-06-03 17:08] lakhassane commented on #111
@aleksa-krolls Green check :D https://www.openfn.org/projects/p5x4g4/runs/rn5dbp36

[2021-06-04 09:13] aleksa-krolls opened #117 "Legacy vegetation job & job-writing support"
## Request
WCS needs to map [this legacy plant data](https://www.openfn.org/projects/p5x4g4/messages/mgk5v7dz) to their DB. @dianedetoeuf drafted an initial job to map this data, but needs some support to finish the job and ensure it runs successfully. We'll schedule time to walk through needed job changes with Diane next week, but in the meantime can you please...
1. Draft a second version of thi

[2021-06-04 09:17] aleksa-krolls commented on #117
@lakhassane Ignore my #2! Figured it out...
@dianedetoeuf fyi, I realized that you selected the `postgres` adaptor for your job, rather than the `mssql` adaptor... this is why we were seeing the strange error message.
Here is a more helpful error message... looks like the DB column name should be `Answer_ID`:
https://www.openfn.org/projects/p5x4g4/runs/rg5ej5d6

[2021-06-04 09:18] aleksa-krolls commented on #115
@lakhassane Is this ready to test? Can we meet later today to walk through it?

[2021-06-07 15:24] lakhassane commented on #117
@aleksa-krolls here is the draft of another version that "could" work https://github.com/OpenFn/ConSoSci/blob/master/vegetation/legacyVegetation_vDD_v2.js

The big take away is that data in the payload are inside arrays (general, liana_old). So you would need an `each`.
I made some comments on the job to pay attention to as when we might need to use `findValue`.

[2021-06-08 16:56] lakhassane commented on #117
hey @dianedetoeuf
So basically what you sort of missed are the closing bracket and closing parenthesis of your `findValue`functions.
Instead of having this
[code]

it should says
[code]

[2021-06-08 17:03] lakhassane commented on #117
Now working with `findValue` can be tricky. If you run this and find any unconsistency on the DB please let me know because you might need to switch that operation that is using those findValue to the new way of writing it

[2021-06-09 07:34] #111 closed

[2021-06-09 11:57] aleksa-krolls commented on #117
@dianedetoeuf As discussed, see the [Vegetation job](https://github.com/OpenFn/ConSoSci/blob/master/vegetation/VegetationClassficationAndTreeMeasurementForm.js#L85-L358) for inspiration for finishing the mappings where you will have something like...
[code]
Let me and @lakhassane know if you run into any further issues or questions.

[2021-06-09 14:57] aleksa-krolls opened #118 "Convert lat/long values to integer"
## Request
I adjusted the `Latitude` and `Longitude` mappings to include some other possible source values. However, now when I re-run the job it's failing with the error `RequestError: Arithmetic overflow error converting varchar to data type numeric.`
https://www.openfn.org/projects/p5x4g4/runs/r5e49n6g

I think this is because the `east` and `north` values I'm mapping might need to be converted

[2021-06-09 15:36] aleksa-krolls commented on #75
@lakhassane Not all the helper functions included in our auto-generated job (like `upsertIf(...)` are in the mssql adaptor). So I've created a related issue:

Fyi, see these runs for how I've run on prod: https://www.openfn.org/projects/p5x4g4/runs?endDate=2021-06-09T15%3A32%3A35.471Z&searchString=AUTO&startDate=2021-06-09T15%3A26%3A35.491Z&success=0

When the mssql adaptor changes are done, pleas

[2021-06-10 11:38] lakhassane commented on #118
@aleksa-krolls this has to do with the data type in the database. Let me explain
`Latitude` (and longitude) is set as `decimal (8, 6)`. That means when inserting we expect a total of **8** digits in the whole columns but **6** digits after decimal.

So if we insert something like:
`26.8993` it turns in the db as `26.899300`
`1` ==> `1.000000`
But in the other hand:
`278594` ==> `278594.000000` whi

[2021-06-10 12:36] aleksa-krolls commented on #118
@lakhassane We need to clean the Kobo data to align with the DB data types. So please transform `east`/`north` to output the correct Lat/Long formats.

[2021-06-10 13:04] aleksa-krolls commented on #118
@lakhassane I am asking the client how to transform these values.

[2021-06-10 14:15] dianedetoeuf commented on #117
It looks like I've managed to use the alterstate(async ...) function but have an issue on the handleValue that I don't know how to solve :)

See [here](https://www.openfn.org/projects/p5x4g4/jobs/jywrew/edit?runId=r89b9kde) line 127.

[2021-06-10 17:20] lakhassane commented on #117
Hey @dianedetoeuf sorry for the delay.

`state.handleValue` is a function so it should be created somewhere. If you look at the `vegetationClassification` job you can create something like this.
https://github.com/OpenFn/ConSoSci/blob/master/vegetation/VegetationClassficationAndTreeMeasurementForm.js#L45-L71

I drafted it on your job so you can see.

[2021-06-10 17:41] lakhassane commented on #117
I also commented it out from line 15 to 125 and drafted a way for using `async/await `with `findValue` (in replacement of the operation below the one I drafted. It's a bit tricky because of mssql constraint. Feel free to replicate for that big operation that is using findValue again
https://github.com/OpenFn/ConSoSci/blob/master/vegetation/legacyVegetation_vDD.js#L127-L152

Beside that I run the j

[2021-06-10 18:08] lakhassane commented on #75
@aleksa-krolls I re-run the whol flow to test and here is the output for the job generation and DB generation.
https://www.openfn.org/projects/p5x4g4/runs?endDate=2021-06-10T17%3A50%3A35.726Z&startDate=2021-06-10T17%3A48%3A00.000Z&success=0

TESTING:
Here are two runs of the generated job. One failing (https://www.openfn.org/projects/p5x4g4/runs/rn5j6xed), one succeeding (https://www.openfn.org/pr

[2021-06-11 05:30] aleksa-krolls commented on #117
thanks for the feedback @lakhassane!

@dianedetoeuf Fyi, I think most of the AnswerId columns are labeled as `Answer_ID` for these Veg tables.
See the main Vegetation job for reference: https://github.com/OpenFn/ConSoSci/blob/master/vegetation/VegetationClassficationAndTreeMeasurementForm.js

[2021-06-11 05:52] aleksa-krolls commented on #75
@lakhassane Can we use the `datetime` data type? https://docs.microsoft.com/en-us/sql/t-sql/data-types/datetime-transact-sql?view=sql-server-ver15

[2021-06-11 14:11] dianedetoeuf commented on #117
Hi, ok thanks for this new alternative! and fixed the Answer_ID. Seems like we have a new type of error:
https://www.openfn.org/projects/p5x4g4/runs/rk53ky37

[2021-06-11 14:51] lakhassane commented on #117
@dianedetoeuf I check the error and corrected. You were missing a `(state)`after the last parenthesis of findValue.

I run it locally but it was failing due to 2 issues now:
- `RequestError: Invalid column name 'PlotGPS'.` (I comment it out at line `27`)
- `Cannot insert the value NULL into column 'WCSPROGRAMS_VegetationName'` (it's not in the mapping).

[2021-06-11 15:09] lakhassane commented on #75
I tried and it seems to work. So the same insert query work for both sql server (datetime) an postgres (timestamp).
Im making the change on the job and push again

[2021-06-11 15:18] lakhassane commented on #75
So you should be good to go whenever

[2021-06-11 15:43] dianedetoeuf commented on #75
Great, thanks a lot!

[2021-06-11 15:46] dianedetoeuf commented on #75
hmm I'm running A1 but A3 doesn't seem to be going...

[2021-06-11 15:52] aleksa-krolls commented on #75
@dianedetoeuf Clear state in Job 1 and try again: https://www.openfn.org/projects/p5x4g4/jobs/jyd8gg

(We've been testing with this, so OpenFn sees that the Kobo form hasn't changed since the last run and is therefore not doing anything... so if you clear state on this job - see trashcan icon - and run again, this will reset.)

Then, you'll see two A3 runs now... one for Postgres and one for Mssql

[2021-06-11 15:55] dianedetoeuf commented on #75
Thanks. How do I get the table names to start with WCSPROGRAMS? I've tried putting that into p1 and tableID but it doesn't appear.

[2021-06-11 15:57] aleksa-krolls commented on #75
@dianedetoeuf so p1 + p2 + tableId make up the table name... so try this...
[code]

[2021-06-11 16:00] dianedetoeuf commented on #75
Hmm with that the table name I get is "wcsprograms_formgroup_surveytype"

[2021-06-11 16:06] aleksa-krolls commented on #75
@daissatou2 Ah, so remember this script is creating lots of tables, including reference tables to capture the Kobo choices like SurveyType, District, etc. Therefore, to know these reference tables belong to this form... I'd recommend that we actually leverage `p2` to say `Sharks` or `SharksRays` so that you know that these reference tables belong to this form.

@lakhassane fyi, looks like if no `p

[2021-06-11 16:49] dianedetoeuf commented on #117
I've added some missing fields (and there might be others) but for now running into a new type of error about conflict with foreign key constraint: https://www.openfn.org/projects/p5x4g4/runs/rk53knjp

[2021-06-14 11:50] lakhassane commented on #75
@lakhassane done for `p2` @aleksa-krolls

[2021-06-14 13:09] lakhassane commented on #117
Hey @dianedetoeuf it seems like the column `WCSPROGRAMS_VegetationPhysiographyID` in that table is empty while it shouldn't because that's a foreign key. Below is the query that should fetch the ID for that column but it returns empty because there is no `Plain (flat)`in the database (but there is `plain`?)

[code]

[2021-06-15 06:01] #113 closed

[2021-06-15 06:01] #103 closed

[2021-06-15 06:07] aleksa-krolls commented on #117
@dianedetoeuf Following up on @lakhassane's comment... it looks like `Plain (flat)` matches the `Name` (not ExtCode) of a Physiography record...
<img width="517" alt="Screen Shot 2021-06-15 at 9 05 26 AM" src="https://user-images.githubusercontent.com/16758106/122001510-18951780-cdb9-11eb-82c7-eff61cbf6716.png">

So you could consider changing L58 to reference `WCSPROGRAMS_VegetationPhysiographyNa

[2021-06-15 06:34] aleksa-krolls opened #119 "Kobo automation flow - data dictionary expansion"
## Background, context, and business value
Extension to the automation solution - [see docs & diagrams](https://openfn.github.io/ConSoSci/kobo-automation/)

## The specific request, in as few words as possible
See summary of request and sample output in [this sheet](https://docs.google.com/spreadsheets/d/1MemLYtWkzQosf0jlpVnWLepAuwnUHohCCcUG4tE4MR8/edit#gid=151768242).

This should be a separate j

[2021-06-15 12:30] dianedetoeuf commented on #117
Ok thanks, I've fixed that ! How come that it seems to work well with ExtCode in the other job (VegetationClassficationAndTreeMeasurementForm.js) ?

[2021-06-15 14:29] dianedetoeuf commented on #117
I have the same issue with ForestType, but here changing the ExtCode to Name doesn't solve it, see https://www.openfn.org/projects/p5x4g4/runs/rbgzywg9. (We've updated all the lookup tables in the DB)

[2021-06-15 14:44] aleksa-krolls commented on #117
@dianedetoeuf You'll need to review the DB reference data to see what columns (e.g., `Name`, `ExtCode`, `Code`) can be used to link the survey tables with these reference tables.
For example, with `ForestType`... it doesn't look like `ExtCode` is filled in for all records... and because the Kobo value is `Open Grassland`, maybe it will be better to use the `Name` or `Code` column.
<img width="825"

[2021-06-15 16:41] lakhassane commented on #119
@aleksa-krolls after reading through the sheet, here are the differents steps I think should be taken,
1. A new job that will build the form structure (similar to `01-processForm`). A new job because you said some might choose not to activate this so we cannot use `01` for this.
2. 1 new job that generate the tables from point 1 output
3. 1 new job that upsert the data in the 3 generated tables.

[2021-06-16 10:17] dianedetoeuf commented on #117
Thanks, Name gives me the same issue and Code gives a completely different error: Cannot read property '0' of undefined. (https://www.openfn.org/projects/p5x4g4/runs/rg5ry6bg)

[2021-06-16 10:21] aleksa-krolls commented on #117
@dianedetoeuf again, it doesn't look like `Open Grassland` doesn't exist as a record on the ForestType table ... would you like us to add it so that you can map using `Name`?

@lakhassane why is this TypeError being thrown here? Not an error I'd expect.

[2021-06-16 10:23] dianedetoeuf commented on #117
hmm ok I thought we had added all the new values, will check again!

[2021-06-16 10:26] lakhassane commented on #117
@aleksa-krolls @dianedetoeuf I don't think the job is executed on the right payload.
That one has no `surveys` array and the others (`general`, `liana_old`) aren't there neither

[2021-06-16 10:29] aleksa-krolls commented on #117
@dianedetoeuf yes, now sure how... but it looks like you ran this legacy job against BNS data?
<img width="738" alt="Screen Shot 2021-06-16 at 1 27 28 PM" src="https://user-images.githubusercontent.com/16758106/122203636-e82ba700-cea6-11eb-939f-edb8054d49a8.png">

Here is the message to be testing against:
https://www.openfn.org/projects/p5x4g4/messages/mgk5v7dz

[2021-06-16 12:13] dianedetoeuf commented on #117
Ha don't know how this happened but havn't changed anything to the trigger... And the left panel in the job writting still shows me the right plant legacy data.

[2021-06-16 17:09] lakhassane commented on #119
@aleksa-krolls so finally only one job per database (postgresql, mssql) is enough (a total of 2 jobs for the whole flow).

This small change in `01-processForm` ensures we always keep the form definition. Then it can triggers `dataDictionary/02a-syncToProgres` if needed.
https://github.com/OpenFn/ConSoSci/blob/master/automation/01-processForm.js#L2

[2021-06-16 17:13] lakhassane commented on #119
Could you advise for the `uuid` for `kobo_choices`. I think if we add choice_name to list_id we can use that one for it (list_id: `${x.list_name}${formId}${x.name}`),

[2021-06-17 06:10] aleksa-krolls commented on #119
@lakhassane great suggestion, let's do that! Whenever complete, let me know and will test... might also ask to jump on a call tomorrow to walk through it :)

[2021-06-17 07:24] #115 closed

[2021-06-17 07:24] #75 closed

[2021-06-17 08:03] aleksa-krolls commented on #117
@dianedetoeuf I think what happened is a bug... when you clicked `Save & Run`, the job was executed against the wrong Message state (BNS message instead of Veg data). I've reported it to the product team to check out. cc @taylordowns2000

In the meantime, please continue to let me and @lakhassane know if you encounter further issues and questions during your job testing.

[2021-06-17 09:44] aleksa-krolls commented on #118
@lakhassane WCS wrote a custom function in sql called `fn_WCS_UTIMtoCoord` to do this conversion. From the client:
[code]
**Can you add a select statement to the end of the job to call this function?**

To test - you can run this job against the message linked to in the issue above. Then, run this query in the DB to check that Lat and Long have been populated:
[code]
cc @dianedetoeuf

[2021-06-22 10:44] lakhassane commented on #118
Hey @aleksa-krolls I was checking this and how to use that function. However, Im not sure if `( Zone, East, North )` are litterals or values from state. If it's the latter, we also don't have `Zone` in the state which might be a blocker.

[2021-06-22 13:25] dianedetoeuf commented on #117
Hi, I'm still lost in the parenthesis for the findvalue function on all the TaxaID and observers... @lakhassane could you maybe have a look at [the job](https://www.openfn.org/projects/p5x4g4/jobs/jywrew/edit?runId=rd7m6gba) please? Thanks!

[2021-06-22 13:34] lakhassane commented on #117
Hey @dianedetoeuf could you indicate me which line I should look at. I don't see `observers` in the current job and for `TaxaID` the parenthesis looks correct.

[2021-06-23 07:33] dianedetoeuf commented on #117
Sure, for the observer its lines 214, 221 and 228, and for the parenthesis I have red crosses on lines 166, 174, 183, 191, 199 and 207.

[2021-06-23 11:41] aleksa-krolls commented on #118
@lakhassane See slack thread and convo with Steve on Asana task. Feel free to message him directly: https://openfn.slack.com/archives/G2LJCFFDW/p1624387848041000?thread_ts=1624358687.032100&cid=G2LJCFFDW

[2021-06-24 17:34] lakhassane commented on #118
@aleksa-krolls I made the conversion to latitude/longitude.
<img width="311" alt="Screen Shot 2021-06-24 at 17 34 37" src="https://user-images.githubusercontent.com/8411231/123307816-74c30e80-d512-11eb-8d54-6109d404dccb.png">

[2021-06-28 06:23] aleksa-krolls commented on #119
@lakhassane This fails when running on prod: https://www.openfn.org/projects/p5x4g4/runs/rn5jg87y

See run for A1 (job `00`) that triggered this failure to replicate: https://www.openfn.org/projects/p5x4g4/runs/rbgzrwep

Please run successfully on prod! @ritazagoni I configured this new job as job `AD` for now that is triggered by the same automation flow (see specs above for: https://www.openfn.o

[2021-06-28 06:25] aleksa-krolls commented on #117
@lakhassane Did you see Diane's latest comment above? @dianedetoeuf feel free to coordinate with Mamadou if helpful to jump on a call to walk through your last issues. I'm still off and in the US for part of this week, but you two can certainly sync, and @ritazagoni can join if additional Kobo context is needed.

[2021-06-28 10:06] lakhassane commented on #117
Hey @dianedetoeuf I was looking at the wrong place. So what you might be missing for the red crosses is the fact that if you want to use `await findValue({...})` you have to put it inside an `alterState(async ...)` just like the draft we made for the operation starting line `15`.
I corrected the 4 last operations starting from line `160` so you could see.

[2021-06-28 11:35] dianedetoeuf commented on #117
Great, thank you @lakhassane !

[2021-06-28 15:42] lakhassane commented on #119
hey @aleksa-krolls so this issue is solved.
However, we might encounter another one about duplicates tuples we are inserting for `kobo_choices`.
Example:
This is how we build list_id ```list_id: `${x.list_name}${formId}${x.name}```. But in the form metadata we might have two question with the same `list_name` and `name` (it's the case for `list_id = gear `and `name = harpoon`) and the difference i

[2021-06-29 03:02] aleksa-krolls commented on #119
@lakhassane Using `country` sounds like a great suggestion... let's go with that, unless there is something similar to `$kuid` on the list-level? (I see this available for choices, so wondering if there is a similar id we can use.)

[2021-06-29 03:24] #118 closed

[2021-06-29 09:39] lakhassane commented on #119
@aleksa-krolls using the kuid was a good idea. I dropped name from kobo_choices and replace with that one.

So far working fine with that green check: https://openfn.org/projects/p5x4g4/runs/r6g45xdz

[2021-07-06 12:56] dianedetoeuf commented on #117
Hi, I'm running into a new issue as some TaxaID fields are null and we'd like it to transform those nulls into "unknown". Tried adding something for this transformation line 11 but not sure how to insert that in the job ?

[2021-07-06 18:42] lakhassane commented on #117
Hey @dianedetoeuf is it better if we schedule a meeting tomorrow and work on that issue together?

[2021-07-07 07:33] dianedetoeuf commented on #117
Hi, thank you, and yes lets discuss today on a call!

[2021-07-07 10:03] dianedetoeuf commented on #117
Weirdly the same for native_tree_shrub doesn't seem to be working...

[2021-07-07 10:16] lakhassane commented on #117
@dianedetoeuf can I see the output? Or we go back to zoom? I tested your code and Im seeing `unknown`

[2021-07-07 10:16] lakhassane commented on #117
what do you have if you add this code in line 24 `console.log(state.data.surveys[0].native_tree_shrubs)`

[2021-07-07 13:02] dianedetoeuf commented on #117
The run is here with console log added line 24 : https://www.openfn.org/projects/p5x4g4/runs/ryapajpz

[2021-07-07 13:04] lakhassane commented on #117
It looks correct. If you look at the message you are running you have `"Native_tree_Shrub": "Dichrostachys cinerea",`. Since it's not null it won't be set to `unknown`

[2021-07-07 13:08] dianedetoeuf commented on #117
okay but then why there is still this error : "TypeError [Error]: Cannot read property 'native_tree_shrubs' of undefined" at the end?

[2021-07-07 15:33] lakhassane commented on #117
@dianedetoeuf we were missing this `(state)` after the closing parenthesis of the `upserMany` :/ You can re-run and check the new error (probably because you need to apply the unknown logic to the rest of the arrays.)
<img width="301" alt="Screen Shot 2021-07-07 at 15 32 41" src="https://user-images.githubusercontent.com/8411231/124788064-92dc3600-df38-11eb-8528-d858c0493ab5.png">

[2021-07-07 16:09] dianedetoeuf commented on #117
ok not sure where I need to apply this again as the error still seems to be on the VegetationGrass that take data from the ground_species : https://www.openfn.org/projects/p5x4g4/runs/r3x3x9w6

is it saying that it doesn't recognize the "unknown"?

[2021-07-07 16:15] lakhassane commented on #117
@dianedetoeuf from the error it seems like we are trying to insert `Null` in a column that SHOULD NOT be null (which is: `WCSPROGRAMS_VegetationGrassName`).

Now if we look closely to the mapping from line `151` to `174`about `WCSPROGRAMS_VegetationGrass` that column we talked about above is absent, so when the upsert will run the database is going to put it to null which is incorrect thus the err

[2021-07-07 16:15] lakhassane commented on #117
Want us to chat about it through zoom?

[2021-07-07 16:23] dianedetoeuf commented on #117
sure! https://us02web.zoom.us/j/86166669972?pwd=akpiVElLRGFGTllSOHMySjN4bUh5Zz09

[2021-07-07 16:40] dianedetoeuf commented on #117
Problem with merging now : https://www.openfn.org/projects/p5x4g4/runs/rg5g5n9a

[2021-07-07 16:44] lakhassane commented on #117
Hmm this one is a bit trickier. let me jump on the code.

[2021-07-07 16:52] lakhassane commented on #117
@dianedetoeuf it might be more complex. The issue is that we try to insert multiple time the same row because all the objects in the `ground_species` array have the same `surveyid`.

I tried building a unique `AnswerID` using this `${data.surveyid}${data.Ground_Spp_No}`. But Im not sure if it's the right value for the database.
cc @aleksa-krolls

[2021-07-07 17:01] dianedetoeuf commented on #117
Green check!!! and now I'm going to open a bottle of champaign 🍾

[2021-07-07 17:04] lakhassane commented on #117
😂 amen! Have a sip for me 🎉

[2021-07-08 11:31] aleksa-krolls commented on #119
@lakhassane I've tested by running this form: https://www.openfn.org/projects/p5x4g4/runs/rn5n656d

Overall looking good, except for some minor questions/feedback on the Dictionary tables:
1. When we upsert 1 row in the `kobo_forms` table, I see that `languages` column is null... but there should be multiple.
![Screen Shot 2021-07-08 at 1.23.55 PM.png](https://images.zenhubusercontent.com/5d691cd5

[2021-07-08 12:28] dianedetoeuf commented on #117
Hi again, the message that is being processed by the job has only 1 survey (https://www.openfn.org/projects/p5x4g4/messages/mgk5v7dz) - do you know which is the message with all the surveys?

[2021-07-08 12:47] aleksa-krolls commented on #117
@dianedetoeuf I think this is the right Message: https://www.openfn.org/projects/p5x4g4/messages/m8qvjvbr

You can filter the inbox by the Trigger `Uganda Legacy Plant Data` to see matching Messages - see here: https://www.openfn.org/projects/p5x4g4/messages?dateRange=4320&endDate=2021-07-08T12%3A47%3A21.786Z&jobStates=&page=1&perPage=10&searchString=&startDate=2021-01-09T12%3A47%3A21.786Z&trigger

[2021-07-08 12:48] lakhassane commented on #119
@aleksa-krolls
1. I was missing the correct path for `languages`. It's solved now.
2. is because of how it is written in the form. What would you advise (sometimes it is different values and not repeted values)? I think each value is supposed to be for one language translation
<img width="587" alt="Screen Shot 2021-07-08 at 12 36 59" src="https://user-images.githubusercontent.com/8411231/124922625

[2021-07-08 12:51] dianedetoeuf commented on #117
Thanks Aleksa! I have a new error about ground_species not iterable... https://www.openfn.org/projects/p5x4g4/runs/rzdpwwme

[2021-07-12 06:13] aleksa-krolls commented on #117
@dianedetoeuf @lakhassane is looking into it... now that we're using a different Message as state (that has a lot of different survey inputs, rather than just the 1... we might need to make some other small adjustments so that the job will support all the versions of state).

[2021-07-12 07:58] dianedetoeuf opened #120 "Use manual cursor in "Fetch Form Responses" job"
## Describe the bug
I'd like to tun the "Fetch Form Responses" job using the manual cursor. It is currently set up as 2020-05-01 but the job seems to not take that into account and still uses the last time of running the job as the cursor.

## To Reproduce
1. Last run : https://www.openfn.org/projects/p5x4g4/runs/r9w966dn

### expression.js
Link to the job itself in Github: https://github.com/Open

[2021-07-12 12:16] ritazagoni opened #121 "Manual cursor not set after clearing job state"
## Describe the bug
After clearing job state, `Fetch Form Responses` doesn't fetch submission data submitted after manual cursor time. See run https://www.openfn.org/projects/p5x4g4/runs/rwa85g4b.

### expression.js
Link to the job itself in Github: https://github.com/OpenFn/ConSoSci/blob/master/automation/03-getKoboData.js

### state.json

Kobo: `openfn_kobo`
DB: `WCS ConSoSci`

## Expected behav

[2021-07-12 14:19] #120 closed

[2021-07-12 16:36] lakhassane commented on #121
@ritazagoni I have checked on the browser using this url (which should fetch submissions if they exist)
https://kf.kobotoolbox.org/api/v2/assets/REPLACE_UID/data/?format=json&query={"end":{"$gte":"REPLACE_WITH_MANUAL_CURSOR"}}
However it shows this.
<img width="449" alt="Screen Shot 2021-07-12 at 16 36 15" src="https://user-images.githubusercontent.com/8411231/125324266-48d7c380-e32f-11eb-8a12-df0

[2021-07-12 17:29] lakhassane commented on #121
ok this is up and running after using `_submission_time` for query filter

[2021-07-12 17:38] aleksa-krolls commented on #121
@dianedetoeuf @ritazagoni We before used the Kobo `end` field to filter by date, but this form for some reason doesn't seem to have that in its JSON body, while we had assumed all forms did. We've switched to using `_submission_time` to filter by dates... can you please test out Mamadou's changes to verify this works now? Process is still the same... specify a date for `manualCursor`, clear state,

[2021-07-12 18:11] lakhassane commented on #117
Hey @dianedetoeuf I have rework the job to take into account the fact that we should insert arrays and not only one element.
What we did so far:
1. iterate through the `surveys` array and build different arrays (`general`, `ground_species`, `native_tree_shrubs`).
2. Use those arrays in the next operations to `upsertMany`

So the job remains quite similar to what you had before.

[2021-07-13 08:24] dianedetoeuf commented on #121
Hi, great it works! Now I need to figure out why the messages being fetched are not going into the auto/vegetation job... I've added "formType: vegetation" to that form in the job "Fetch form responses", but it doesn't seem to appear in the messages so the trigger for the vegetation job is not activated. Should I add the formType somewhere else?

[2021-07-13 09:10] dianedetoeuf commented on #117
Hi, thank you! I've run the message https://www.openfn.org/projects/p5x4g4/messages/m8qvjvbr and have a new error : "The MERGE statement conflicted with the FOREIGN KEY constraint "FK_WCSPROGRAMS_Vegetation_WCSPROGRAMS_VegetationSoilDescriptionID". The conflict occurred in database "wcsprograms", table "dbo.WCSPROGRAMS_VegetationSoilDescription", column 'WCSPROGRAMS_VegetationSoilDescriptionID'."

[2021-07-13 09:20] lakhassane commented on #117
It's likely that we have duplications in the arrays and we try to insert the same row twice (cc @aleksa-krolls).

I remember in some cases we build a unique array of what we want to insert before going ahead. Should we do the same here? Using which fields to check for uniqueness?

[2021-07-13 09:28] lakhassane commented on #117
Oh ignore the above comment actually. I just saw the constraint on the column `WCSPROGRAMS_VegetationSoilDescriptionID`. We have a foreign key constraint on that column and actually it seems like we are inserting data on that column for table `WCSPROGRAMS_Vegetation` that does not exist in the parent table (`WCSPROGRAMS_VegetationSoilDescription`) @dianedetoeuf

[2021-07-13 09:38] lakhassane commented on #117
@dianedetoeuf for more investigation in the job we have those `findValue` operations that look for foreign key. One example is this one:
[code]

However, in the message sometimes `Soil Description` is set to null thus the `findValue` will proly return `undefined` instead of an existing value in table `WCSPROGRAMS_VegetationSoilDescription`. Then we try to insert undefined when we shouldn't. Is the

[2021-07-13 11:00] aleksa-krolls commented on #121
@dianedetoeuf @ritazagoni hmm... looks like `formType` wasn't being appended to the Messages created via this job. I just [made a change](https://github.com/OpenFn/ConSoSci/commit/c15fdc063dce740ccc58f5df982d440ae093123f#diff-dbf060365718967028cc34c734ca72cc8657e38fd707d603a8932ea4384797aa) that should fix that... want to try re-running now to confirm?

[2021-07-13 11:08] aleksa-krolls commented on #117
@lakhassane To clarify, it looks like we can't insert a `null` value into the column `WCSPROGRAMS_VegetationSoilDescriptionID`?  If there is no value to map, then I'd assume we don't need to `findValue(...)` and can just return `undefined` as a value, no?

@dianedetoeuf Should `WCSPROGRAMS_VegetationSoilDescriptionID` be a required column? (And if yes, is there a default value (e.g., `No Soli`) fo

[2021-07-13 11:10] lakhassane commented on #117
@aleksa-krolls no we can't return `undefined` (that's the case currently) because it's a foreign key column so it should always map a value that exists in the parent table. Plus that's a` Not Null `column also

[2021-07-13 11:24] aleksa-krolls commented on #117
Got it, thanks. So @dianedetoeuf looks like the DB requires soil description... therefore you can either create a `Not Defined` record or something like that that lives in the reference table `WCSPROGRAMS_VegetationSoilDescription` so that you have something to relate these new Vegetation records to...
Or you can ask Steve if it's okay to remove the NOTNULL() constraint from the column `WCSPROGRAM

[2021-07-13 13:42] ritazagoni opened #123 "Change `text` column type support `unicode`"
## Describe the bug
In the automation solution, `text` type DB columns need to handle `unicode` characters. Let's switch to a column data type (`nvarchar`?) that supports `unicode`.

Job to update:
https://github.com/OpenFn/ConSoSci/blob/4f0b97a9d58434272e5177194b6247a062380dbd/automation/01-processForm.js#L21-L35

### state.json

See LP for `OpenFn Kobo`, `WCS ConSoSci DB (postgres)`, and `WCS Te

[2021-07-13 15:46] ritazagoni opened #124 "Use `integer` DB columns for `calculate` Kobo question type"
## Describe the bug
in the automation soution, if the Kobo question type is `calculate`, we currently map to a `varchar` DB data type. We need to use `integer` instead.

Job to update:
https://github.com/OpenFn/ConSoSci/blob/4f0b97a9d58434272e5177194b6247a062380dbd/automation/01-processForm.js#L22

### state.json
See LP for `OpenFn Kobo`, `WCS ConSoSci DB (postgres)`, and `WCS Test Mssql DB`
You c

[2021-07-14 07:55] #121 closed

[2021-07-19 06:47] aleksa-krolls opened #125 "Add standard WCS fields & constraints to the automation solution"
## Background, context, and business value
The automation solution will auto-generate DB tables in both Postgres and Mssql based on Kobo forms. The number of tables we create depend on the Kobo form... but ALL tables auto-generated need to include WCS standard columns and configuration settings to ensure they can more quickly use and report on the data.

See the solution docs: https://openfn.githu

[2021-07-19 11:18] taylordowns2000 commented on #125
Breaking for lunch and some BD work this afternoon. Have pushed a concept on the `standard_columns_and_constraints` branch

[2021-07-19 11:49] ritazagoni opened #126 "When `gps` field is received in Kobo, create `latitude` and `longitude` columns in DB"
## Background, context, and business value

The automation solution will auto-generate DB tables in both Postgres and Mssql based on Kobo forms. See solution docs: https://openfn.github.io/ConSoSci/kobo-automation/

## Request
We need to make updates to always capture `latitude` and `longitude` in the connect DB.
1. If a Kobo form includes a question with question `name:` `gps`, we want to also cr

[2021-07-19 13:03] taylordowns2000 commented on #125
Draft PR opened, outstanding questions needing answers before work continues: https://github.com/OpenFn/ConSoSci/pull/127/files

1. How do we map data to these new columns?
2. Which prefix is Steve referring to when he says `TablePrefix`

[2021-07-19 14:14] dianedetoeuf commented on #117
Hi, on my new job for the 2nd vegetation form (most recent data), I have an error about converting data type varchar to numeric but don't know which field this refers to - how do I know that? See run here : https://www.openfn.org/projects/p5x4g4/runs/r7xnbdp6

[2021-07-19 15:29] dianedetoeuf commented on #117
For the Legacy job, we've added "unknown" in the soil table, and I've added the code to replace nulls by unknown but I still have the issue on the FK constraint. Not sure my code to replace the null is right as the field "Soil description" as a space rather than an "_" between the 2 words but it did not seem to work with the space so I've used "Soil_description".
See line 31 of https://www.openfn.

[2021-07-20 08:08] aleksa-krolls commented on #117
@taylordowns2000 while Mamadou is off this week, can you please help Diane troubleshoot? I think adding some logs could also help out.
- See her run failure (https://www.openfn.org/projects/p5x4g4/runs/ryapmmew ) when connecting with the `WCS Programs Database (central db)`
- See here for the list of available `WCSPROGRAMS_VegetationSoilDescription` records in the DB that we're trying to look up t

[2021-07-20 16:19] taylordowns2000 commented on #117
Hello @dianedetoeuf ! This is great, and your instinct was spot on... I think it _is_ the space that's causing you problems.

## tl:dr;
replace
[code]
with
[code]

## better understanding

Check out how to access properties in javascript: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Property_accessors#syntax

Using that second style allows for much more flexibility..

[2021-07-21 06:49] aleksa-krolls commented on #126
@ritazagoni Need your help on feedback below. Please update, assign to TD, and add to backlog.
For 1. Confirming this is the right table where these new columns should live. (And not `KoboData`? Please adjust as needed)
For 2. In one you say the columns are `latitude` and `longitude`, but in 2 you say these are called `lat` and `lon`... please be consistent otherwise these mappings won't work.

[2021-07-21 07:10] ritazagoni commented on #126
thanks @aleksa-krolls, 1. yes correct, these are the tables for the new columns. 2. edited

[2021-07-21 07:48] ritazagoni commented on #126
@taylordowns2000 When ready to test just let me know, we'll test it on prod.

[2021-07-21 12:40] dianedetoeuf commented on #117
Hi, thanks Taylor! It seems to work and so I added some more nulls replacement in other columns (soil colour, moisture, erodability, seasonality). Stilll have an error about FK constraint for soil seasonality, see run here: https://www.openfn.org/projects/p5x4g4/runs/r6g7b9p4

[2021-07-22 11:25] taylordowns2000 commented on #117
Fantastic. OK, for this next one the error I'm reading is `The MERGE statement conflicted with the FOREIGN KEY constraint "FK_WCSPROGRAMS_Vegetation_WCSPROGRAMS_VegetationSoilSeasonalityID". The conflict occurred in database "wcsprograms", table "dbo.WCSPROGRAMS_VegetationSoilSeasonality", column 'WCSPROGRAMS_VegetationSoilSeasonalityID'.`

For the following upsert:
[code]

Off the bat, it would b

[2021-07-22 12:08] dianedetoeuf commented on #117
okay thank you, not sure I understand everything but will try the write sql thing and see what I've got. Steve did set up the DB, how can we loop him in in this conversation?

[2021-07-22 13:53] taylordowns2000 commented on #117
OK, great! Re: Steve, it doesn't look like he's been active on this thread... he may have GitHub, but I'm not sure. You could always send him a direct link to the comment: https://github.com/OpenFn/ConSoSci/issues/117#issuecomment-884839573 . How do you usually handle questions related to this database?

My guess is still that it comes down to what you've got in that `WCSPROGRAMS_VegetationSoilSea

[2021-07-22 14:44] taylordowns2000 commented on #126
@ritazagoni , please see the [PR above](https://github.com/OpenFn/ConSoSci/pull/129) and review the code there. it's a very small change, but I think it's doing what you want. Have a look at the code and the questions on the PR, and then we're good to merge and test on prod.

[2021-07-22 15:04] dianedetoeuf commented on #117
Yes Steve is on Github as wcs-sgallo :)

In theory all the values from the legacy data should be in the lookup tables but will check again... thanks!

[2021-07-22 15:09] taylordowns2000 commented on #117
Ok brilliant. I'll at mention him here! Do you know what value you're trying to put in `WCSPROGRAMS_VegetationSoilSeasonalityID` when the job fails?

@wcs-sgallo , in this job @dianedetoeuf is having trouble with a foreign key constraint: `The MERGE statement conflicted with the FOREIGN KEY constraint "FK_WCSPROGRAMS_Vegetation_WCSPROGRAMS_VegetationSoilSeasonalityID". The conflict occurred in dat

[2021-07-22 15:34] dianedetoeuf commented on #117
Yeah so I thought the problem was coming from the nulls that I replaced by the value "unknown", but Steve already added unknown to all those tables. And we added the other values also. No idea which value is causing the issue, should I be able to see that in the run?

[2021-07-22 15:42] dianedetoeuf commented on #117
It looks like the last value the job is trying to import for seasonality is "Wet" but we do have this value in the table.

[2021-07-22 16:06] taylordowns2000 commented on #117
Understood. OK, so I've sent a new message to the inbox that's a little easier to work with... about 80 lines of JSON instead of 330,000!

I've also added a console.log so you can see the data you're about to upsert. Check out the logs here: https://www.openfn.org/projects/p5x4g4/runs/rwa8xaww

Maybe it would be easiest to work with individual submissions like this (or several, instead of thousand

[2021-07-23 06:32] aleksa-krolls commented on #117
@taylordowns2000 Wondering if we can go ahead and split up the 1 massive Message into individual Messages? Because I'm sure this is not the only survey with issues.
- This is the master Message with all the legacy survey csv data: https://www.openfn.org/projects/p5x4g4/messages/m8qvjvbr
- This is the trigger all the Messages need to match: https://www.openfn.org/projects/p5x4g4/triggers/ty5v8g

@d

[2021-07-23 07:41] aleksa-krolls commented on #126
@ritazagoni does this look okay to you? If yes, will have Taylor merge this so that I can test... will plan to run a couple of tests to change all the other field type changes as well.

[2021-07-23 09:30] dianedetoeuf commented on #117
Ok I can try with individual messages then. Is it possible to archive the message that contains all the data then so that the job doesn't try it everytime? Thanks!

[2021-07-23 09:38] aleksa-krolls commented on #117
Yes @dianedetoeuf ... I changed the tags in the "master" Message that contains all the data. You can now filter Inbox using this trigger.
![Screen Shot 2021-07-23 at 12.36.23 PM.png](https://images.zenhubusercontent.com/5d691cd53295e300013f1cbd/c32d19b9-4491-48ca-b703-6ddc482352a8)
And as Taylor creates the new Messages, he will include the tag below so you can keep filtering by this only to test

[2021-07-23 13:57] taylordowns2000 commented on #117
Hi @dianedetoeuf and @aleksa-krolls , they're all in there! Use this setup to select them:

https://www.openfn.org/projects/p5x4g4/messages?dateRange=24&endDate=2021-07-23T13%3A56%3A33.963Z&jobStates=&page=1&perPage=10&searchString=&startDate=2021-07-22T13%3A56%3A33.963Z&triggerId=ty5v8g

and then click re-process and you should see a preview interface like this:

![image.png](https://images.zenhu

[2021-07-26 09:58] aleksa-krolls commented on #125
@taylordowns2000 Feedback from the client...can you or Mamadou take this on today? @ritazagoni can then support with testing on prod when implemented.

1. For standard fields, no need to map data to these new columns because they all have default values. Therefore these standard fields only need to be included in the auto-generated SQL (jobs `02a` and `02b`)... but NOT in the auto-generated OpenFn

[2021-07-26 10:06] taylordowns2000 commented on #125
@lakhassane , let's discuss this and my [PR](https://github.com/OpenFn/ConSoSci/pull/127) when you're done with itau 44.

[2021-07-26 12:00] ritazagoni commented on #126
hey @taylordowns2000 and @lakhassane  Ran a few tests, Postgres DB updates look good but ran into a `ReferenceError [Error]: col is not defined` error for Mssql, see run log https://www.openfn.org/projects/p5x4g4/runs/rg5gd958. Not sure which recent change is causing it.

[2021-07-26 12:47] lakhassane commented on #125
@aleksa-krolls this is ready to go. However note Taylor comment about the missing default value for some fields.

[2021-07-26 12:57] taylordowns2000 commented on #125
@lakhassane , we also need to add in a section of "constraints" — see the second and third section of https://docs.google.com/document/d/1AgFIkYzyCOxzigIdLR-LsUkZgnMuOA6EQQRSWsXaeig/edit?ts=60fea075

[2021-07-26 16:47] ritazagoni commented on #126
Solved, see https://www.openfn.org/projects/p5x4g4/runs/ryapdmzx

[2021-07-26 16:47] #126 closed

[2021-07-27 06:06] aleksa-krolls commented on #123
@taylordowns2000 @lakhassane When I turn on 'execute: true' settings and run this job `02a` to auto-execute the sql script in Postgres, it fails with the error `error: type "nvarchar" does not exist`.
https://www.openfn.org/projects/p5x4g4/runs/rmk79jyp

See here for the triggering run for job `00`: https://www.openfn.org/projects/p5x4g4/runs/r9w9gpy9
Feel free to clear state & re-run this job on

[2021-07-27 06:07] aleksa-krolls commented on #125
@lakhassane Is this done? I've been testing this morning, but wondering if there are more changes coming that I should plan time to test later.

[2021-07-27 07:39] aleksa-krolls commented on #125
@lakhassane @taylordowns2000 I'm wondering if we _do_ need to map the default values of the [WCS standard fields](https://docs.google.com/document/d/1AgFIkYzyCOxzigIdLR-LsUkZgnMuOA6EQQRSWsXaeig/edit#) when we insert records into the DB.

Check out this run failure when trying to sync [this message](https://www.openfn.org/projects/p5x4g4/messages/mbp3nq4p) to the test mssql DB:
https://www.openfn.o

[2021-07-27 12:26] aleksa-krolls commented on #125
@lakhassane I see you have green checks for the output. Now I'm running the auto-generated job against a real Message ( https://www.openfn.org/projects/p5x4g4/messages/mbp3nq4p) and changing the adaptor and credentials on this job (https://www.openfn.org/projects/p5x4g4/jobs/jy3kr6) to test. I'm seeing...
1. postgres sync error: `error: column "answerid" of relation "wcsprograms__sharksrays" does

[2021-07-27 14:45] aleksa-krolls opened #130 "Vegetation EU: `Error converting data type varchar to numeric`"
## Describe the bug
See list view for all the run failures on prod we need to help @dianedetoeuf troubleshoot. Can you please help to triage these errors and assign to Mamadou for further troubleshooting support if dev help is needed?
https://www.openfn.org/projects/p5x4g4/runs?dateRange=720&endDate&jobId=jvm5bk&page=1&perPage=10&searchString=&startDate=2021-06-27T14%3A42%3A03.857Z&success=1

Look

[2021-07-27 15:38] aleksa-krolls opened #131 "Automation: `select_multiple` Kobo questions should auto-generate tables to create m:m relationships"
## Background, context, and business value
Follow up to issue #103... keep the logic for `select_one` as is. But for `select_multiple` Kobo questions, we want to generate tables that will automatically create many-to-many relationships between related tables.

## The specific request, in as few words as possible
If Kobo question `select_multiple` type...
1. Modify the automated DB sql script outpu

[2021-07-27 17:33] lakhassane commented on #125
Quick update on here.

It's all good minus the constraint part. I need few testing about the variables in this script before pushing to prod

[2021-07-28 05:44] aleksa-krolls commented on #125
@lakhassane thanks for the update.Keep me posted on how I can help with testing or questions!

[2021-07-28 06:41] aleksa-krolls commented on #123
@lakhassane is this issue resolved? can we close?

[2021-07-28 06:45] #124 closed

[2021-07-28 08:39] ritazagoni opened #132 "Error converting data type varchar to numeric"
## Describe the bug

Multiple failures indicating `Error converting data type varchar to numeric.`
See for example: https://www.openfn.org/projects/p5x4g4/runs/rwa9r6w4
https://www.openfn.org/projects/p5x4g4/runs/rrk8x95d
https://www.openfn.org/projects/p5x4g4/runs/rmkga56z

### expression.js
https://github.com/OpenFn/ConSoSci/blob/master/vegetation/VegetationClassficationAndTreeMeasurementForm.js

[2021-07-28 08:41] #130 closed

[2021-07-28 08:51] aleksa-krolls commented on #132
@ritazagoni please always include the `adaptor` on wcs issues. Added mssql here.

[2021-07-28 08:56] lakhassane commented on #123
@aleksa-krolls I just saw this issue. I don't think it was assigned yet. I will ask Taylor

[2021-07-28 09:07] aleksa-krolls commented on #123
Ok thanks @lakhassane... it might be resolved if we're now getting green checks on job `02a` and able to execute sql in postgres.

[2021-07-28 09:41] taylordowns2000 commented on #123
@aleksa-krolls , the [run you've added above](https://www.openfn.org/projects/p5x4g4/runs/rmk79jyp) is for the postgres job, not the mssql job. As far as I can tell this issue is closed, but that failing run on the postgres job might be evidence of a new issue.

@lakhassane , while this is probably (confusingly) _unrelated_ to the `text` to `nvarchar` conversion that was required in _this_ issue,

[2021-07-28 14:51] lakhassane commented on #125
@aleksa-krolls quick question
In the google doc we have this
[code]

That should add constraint to let’s say a table like this => `WCSPROGRAMS_SharksRays_District_SecuritySetting`
However there is no table ending with `SecuritySetting`

It’s the same for `Organization`

[2021-07-28 14:56] lakhassane commented on #123
I think I got it @taylordowns2000
We had `nvarchar` in `processForm` which then would try to insert that datatype to `postgresql` but nvarchar exists only in `mssql`.

What we should note here is that whatever datatype you used in `processForm` should be something that is VALID in postgresql (because it is the default).

If you want the equivalent in mssql, you shoul go in `syncToMssql` and make t

[2021-07-28 15:05] taylordowns2000 commented on #123
to be clear, what @lakhassane suggests here "If you want the equivalent in mssql, you shoul go in syncToMssql and make the conversion." has already been done in https://github.com/OpenFn/ConSoSci/commit/383037060e4c96e10f2fa594baffd659e77f2d25 and https://github.com/OpenFn/ConSoSci/commit/a80d8decbc6025eda9e72f7b7ad30af63c62ccca .

there was an unrelated issue with #125 causing the behaviour on th

[2021-07-28 15:42] lakhassane commented on #125
@aleksa-krolls I added the scripts for foreign keys.
However, I ignored the one at the section **`Constraints to add?`** (check Doc) because we already handled in the adaptor to add a `PRIMARY KEY` for any `identity` column.

https://github.com/OpenFn/language-mssql/blob/0efc250ddefbb82c4676bf0731cb571ba7d402fb/src/Adaptor.js#L714

[2021-07-28 16:06] aleksa-krolls commented on #125
Okay cool. @lakhassane let me know on Slack when everything is pushed to prod so I can test?

@taylordowns2000 can you review this `Constraints to add?` ([see here](https://docs.google.com/document/d/1AgFIkYzyCOxzigIdLR-LsUkZgnMuOA6EQQRSWsXaeig/edit#heading=h.japhusj120gc)) and confirm with Mamadou no other changes need to be made/ no follow up questions should go to Steve? I don't full understand

[2021-07-28 16:25] lakhassane commented on #132
@ritazagoni I corrected the issue:https://www.openfn.org/projects/p5x4g4/runs/rpd6g3yb

[2021-07-28 16:40] aleksa-krolls commented on #132
@lakhassane as discussed on our slack thread: https://openfn.slack.com/archives/G2LJCFFDW/p1627488400056500

This error is popping up again on sharks and rays: https://www.openfn.org/projects/p5x4g4/runs?dateRange=1&endDate&jobId=jy3kr6&page=1&perPage=10&searchString=&startDate=2021-07-28T15%3A36%3A55.295Z&success=

Fyi, these Messages were generated by sending a GET to Kobo via this job:
https://

[2021-07-28 17:37] lakhassane commented on #125
Feedback on this @aleksa-krolls.
Considering we should use the queries in the script to alter table, we drop the use of `identity` for the `standard columns` from WCS.
The use of identity was to directly make the adaptor specify any column that should be primary key.
This will not affect any other table but only the tables that are using the standard WCS fields.
The script with the `alters table`

[2021-07-28 18:32] lakhassane commented on #131
@aleksa-krolls I ran some tests.
In the provided form, we have 2 select_mulitples questions.

They are created as tables but also here are the junctions tables
<img width="427" alt="Screen Shot 2021-07-28 at 18 31 26" src="https://user-images.githubusercontent.com/8411231/127376856-714810b4-61d2-49c7-927c-95b5270947a0.png">

For now both the columns in those tables are `int` let me know if they sh

[2021-07-28 18:34] lakhassane commented on #131
By the way, I saw an invisible bug that we had and never realized. We had a lot of `select_one` questions that weren't created as tables for a reason. I corrected that and now we see a lot more tables than before that are all select_one questions in the form.

<img width="383" alt="Screen Shot 2021-07-28 at 18 34 07" src="https://user-images.githubusercontent.com/8411231/127377214-21d97376-6705-4f

[2021-07-28 18:38] lakhassane commented on #132
@aleksa-krolls can't figure out yet what is the intruded here. Will focus more on it tomorrow morning.

[2021-07-29 06:00] aleksa-krolls commented on #125
@lakhassane DB sql output looking good, but now...

I'm trying to load [this message](https://www.openfn.org/projects/p5x4g4/messages/m78n56jd) into the DB, and I'm encountering these run failure... could this be related to the identity and constraint changes made yesterday?
cc @taylordowns2000 re: our `Constraints to add?` debate

1) mssql error:
[code]
https://www.openfn.org/projects/p5x4g4/runs

[2021-07-29 06:01] aleksa-krolls commented on #131
@lakhassane Great catch on the bug :D
At a glance, looking good... but will validate when able to test. See my comment on #125.

[2021-07-29 14:15] aleksa-krolls commented on #125
Client asked us to ignore the `constraint to add?` for now and keep identity fields as-is. Now working in latest re-run: https://www.openfn.org/projects/p5x4g4/runs/r7xbxp4z

[2021-07-29 14:21] aleksa-krolls commented on #131
@lakhassane I'm inspecting the data I was able to successfully upload, and I'm not sure the foreign key columns are populating correctly on any child tables that have relationships with other parent tables.
See my auto-generated job: https://www.openfn.org/projects/p5x4g4/jobs/jy3kr6
(It was produced by this run: https://www.openfn.org/projects/p5x4g4/runs/rn5m53k8)

For example, see this Message

[2021-07-29 14:24] aleksa-krolls commented on #132
@lakhassane For next steps, here is the run to troubleshoot: https://www.openfn.org/projects/p5x4g4/runs/rzdmd8ed

This connects with the `WCS Test Mssql DB`. If you don't get to this today or still need help troubleshooting... let me know and I can pick this up tomorrow morning.

[2021-07-29 16:11] lakhassane commented on #131
@aleksa-krolls are you able to retry to give more feedbacks.
I just try running the same job with the same message and got it in the database.
<img width="589" alt="Screen Shot 2021-07-29 at 16 11 25" src="https://user-images.githubusercontent.com/8411231/127527279-94bda0ad-d4d8-48c2-9e7f-c60e749b4246.png">

[2021-07-30 05:44] aleksa-krolls commented on #125
@lakhassane Based on Skype chats, here is the feedback from WCS I think we need to implement... let me know if you want to discuss. Fyi, I'm referencing this SQL script output as an example: https://www.openfn.org/projects/p5x4g4/runs/r7xbxp4z

1. [Standard fields](https://docs.google.com/document/d/1AgFIkYzyCOxzigIdLR-LsUkZgnMuOA6EQQRSWsXaeig/edit) need to be included in ALL tables we auto-genera

[2021-07-30 05:47] aleksa-krolls commented on #123
@lakhassane WCS shared that for mssql, we should use `nvarchar` instead of `varchar`.

https://github.com/OpenFn/ConSoSci/blob/master/automation/02c-syncToMssql.js

[2021-07-30 11:30] lakhassane commented on #123
replacement made for `varchar` and `text` to use `nvarchar` in `mssql`

[2021-07-30 12:21] aleksa-krolls opened #133 "Update auto-generate job mappings to the `select` tables"
## Background, context, and business value

Related to #125 and #131

## The specific request, in as few words as possible

In the auto-generated job created via job `02b`... make sure all the mappings to the `select` tables are correct. We now made sure these select tables' columns include the prefix in the column name (e.g., `WCSPROGRAMS__CountryID` vs. `CountryID`) so need make sure the data wi

[2021-07-30 12:27] aleksa-krolls commented on #133
@lakhassane fyi, when I'm testing now... the mssql script is generating ok so far... but the job to auto-create openfn jobs immediately fails: https://www.openfn.org/projects/p5x4g4/runs/rrk8nmr4
<img width="1038" alt="Screen Shot 2021-07-30 at 3 26 57 PM" src="https://user-images.githubusercontent.com/16758106/127652850-d8806454-ab72-43a5-bf86-71a59b08493f.png">

[2021-07-30 20:18] lakhassane commented on #133
Corrections made for this issue.
Check slack thread for more context: https://openfn.slack.com/archives/G2LJCFFDW/p1627674454028500

[2021-08-02 06:00] ritazagoni opened #134 "Vegetation EU `Error converting data type varchar to numeric`"
### Describe the bug

We have a failed [run](https://www.openfn.org/projects/p5x4g4/runs/rn5mapx3) on this [message](https://www.openfn.org/projects/p5x4g4/runs/rmkgbmxp)  with ``Error converting data type varchar to numeric` error.

### expression.js
Link to the job itself in Github: https://github.com/OpenFn/ConSoSci/blob/master/vegetation/VegetationClassficationAndTreeMeasurementForm.js

### ad

[2021-08-02 08:55] aleksa-krolls commented on #133
@lakhassane See my last Slack comment and let me know if you want to discuss.

[2021-08-02 08:55] #123 closed

[2021-08-02 08:56] #131 closed

[2021-08-02 08:58] aleksa-krolls commented on #134
@ritazagoni The logic before was incorrectly reversed `!isNaN(...)`... changed to `isNaN(...)` and now getting a new error:
https://www.openfn.org/projects/p5x4g4/runs/rn5mapx3

[2021-08-02 09:09] aleksa-krolls commented on #134
@ritazagoni going to assign back to you... the new error seems to indicate we're inserting the wrong datatype into a column. Can you pinpoint where? This will hint how we might need to change job transformations.

[2021-08-02 09:23] aleksa-krolls opened #135 "landscape returning no value in the DB"
## Description
@dianedetoeuf has reported that `landscape` column in DB showing undefined value... `landscapeMap` mapping does not seem to be mapping properly.

## expression
https://github.com/OpenFn/ConSoSci/blob/c1edef53d804b0d22e5774b1d32dbf232a6ab16c/bns/survey.js#L137-L141

## state
Feel free to re-run on prod: https://www.openfn.org/projects/p5x4g4/messages/mv7vm3e3
See LP for `wcsprograms

[2021-08-02 09:24] aleksa-krolls commented on #135
@taylordowns2000 Mamadou is focused on the other wcs issue... can you please check this one out sometime today and let me and @dianedetoeuf know how you resolved for our learning?

[2021-08-02 09:58] aleksa-krolls commented on #132
@lakhassane On this one looks like we're trying to send string values (e.g., `'1'`) to `int` columns...could this be the problem?
Here is state...
https://www.openfn.org/projects/p5x4g4/messages/m664zm5v
[code]

This is the job output...
[code]

Here is the destination DB config for TABLE `wcsprograms_opiant.dbo.WCSPROGRAMS__SharksRays_Boat`
[code]

[2021-08-02 10:15] aleksa-krolls opened #136 "Estimation for test harness for automation solution"
To allow us to test offline. Search project for the `AUTO` jobs to see what's relevant.
https://www.openfn.org/projects/p5x4g4/jobs

## Taylor's initial spec here:
https://docs.google.com/document/d/1vMP0WWhcO4cecHsex0aDWlJYh4xRYi9Lz0HJRZUCwC8/edit#

[2021-08-02 12:55] ritazagoni commented on #134
In state: https://openfn.org/projects/p5x4g4/messages/mv7v4883 I'm seeing
`"bareground": "5",`, we're not doing any conversion in the job. The DB expect an `int`
`Bareground int NULL,`
See run https://openfn.org/projects/p5x4g4/runs/rn5mapx3

[2021-08-02 13:04] ritazagoni commented on #134
edited issue description to reflect current error.

[2021-08-03 08:36] aleksa-krolls commented on #135
@taylordowns2000 can you provide some quick troubleshooting help sometime today? cc @ritazagoni

[2021-08-03 08:38] #125 closed

[2021-08-03 10:27] aleksa-krolls commented on #133
@lakhassane I'm not sure if everything is on prod? Seeing this weird error when trying to run the job for language-mssql: https://www.openfn.org/projects/p5x4g4/runs/rpd64erx

To test on prod...
Here is the related Message: https://www.openfn.org/projects/p5x4g4/messages/mbp3nq4p
Here is the auto-generated job: https://www.openfn.org/projects/p5x4g4/jobs/jy3kr6

[2021-08-03 10:41] aleksa-krolls commented on #135
@taylordowns2000 see here for the original requirement: https://github.com/OpenFn/ConSoSci/issues/95

`landscape` is linked to the Site where data was collected. Based on the Site defined in the `formName`, we want to return a corresponding default value for `landscape`. If no matching `landscape` can be found... then return `''`.

[2021-08-03 13:45] dianedetoeuf commented on #135
Hi, as discussed in our meeting, for Prices we need to use the form name to map as the landscape field is not always in the forms, however on the BNS survey job there is always a landscape value so it might be easier to use that value and map as follow:
    tns: 'ndoki',
    'ltlt': 'lac_tele',
    mtkb: 'kahuzi',
    crossriver: 'crossriver',
    mamabay: 'makira'
The other landscape names don't

[2021-08-03 13:49] aleksa-krolls commented on #135
Thanks @dianedetoeuf. So @taylordowns2000 this means...
1. **BNS price** --> we want to use `formName` to inform how `landscape` is set (re: issue #95 ). Sounds like it's still worthwile re-writing this to return `''` if a `landscape` name matching the `formName` is not found (as discussed).

2. **BNS Survey** --> this is more of a typical mapping table requirement. Check if Kobo value is in `land

[2021-08-03 14:08] dianedetoeuf commented on #135
Exactly! And for BNS price keep the name matching as it is currently mapped in the price job. Hope this is not too confusing :)

[2021-08-03 16:46] lakhassane commented on #133
@aleksa-krolls re-ran the failed message after changes on the adaptor.
green check here for the conversion error https://www.openfn.org/projects/p5x4g4/runs/renrgza6

[2021-08-03 16:54] lakhassane commented on #134
@ritazagoni for this one and potentially the other issues where we have this error, you need to use `v2.6.0` for `mssql`.
and also set options in your operation as this:
[code]

The novelty here is using setNull so that any value that is empty of undefined will be set to `Null`

[2021-08-03 16:57] lakhassane commented on #132
Solved with this run: https://www.openfn.org/projects/p5x4g4/runs/renrgza6

[2021-08-04 05:46] aleksa-krolls opened #137 "Auto sql script error: `EndDate` duplicated but column names in each table must be unique"
## Describe the bug
@dianedetoeuf ran the automation solution for this SocioEcoDB form `aukhdejQU76K33caCkF4rP`

Job `02c-syncToMssql.js` throws the error...
https://www.openfn.org/projects/p5x4g4/runs/r7xb4jjz
[code]

## To Reproduce
Re-run job 00 using this form info: https://www.openfn.org/projects/p5x4g4/runs/raaxnyyr

### adaptor
mssql

### expression.js
https://github.com/OpenFn/ConSoSci/blo

[2021-08-04 06:03] aleksa-krolls commented on #134
@lakhassane I thought I implemented this correctly on the Vegetation job ([see L429](https://github.com/OpenFn/ConSoSci/blob/master/vegetation/VegetationClassficationAndTreeMeasurementForm.js#L429)), but it still fails with the error `RequestError: Error converting data type varchar to numeric`.

Can you please check it out and let me know if I'm doing something wrong?

[2021-08-04 06:04] aleksa-krolls commented on #132
fyi, seems to be working well with Sharks & Rays

[2021-08-04 06:04] #132 closed

[2021-08-04 07:03] taylordowns2000 commented on #135
@aleksa-krolls and @dianedetoeuf , I've left `bns/price.js` how it is... that logic looks good.

For a normal mapping, there are two things you need to do:

1. add a mapping object (`landscapeMap`, in this case) to state. here, the issue is that it was added as a constant inside a custom code block, but never added to state so not available to subsequent operations. see https://github.com/OpenFn/C

[2021-08-04 07:03] #135 closed

[2021-08-04 07:49] aleksa-krolls commented on #135
@dianedetoeuf do you want to verify the output in the DB for this run? Comment @ taylordowns2000 if any questions on the above. https://www.openfn.org/projects/p5x4g4/runs/r7xbda96

Then, if everything looks good... is it okay if you wait until end of day to re-process the BNS surveys? (We're actively testing some of the other issues, so it would be great not to fill up the runs queue with BNS run

[2021-08-04 09:26] taylordowns2000 commented on #137
@aleksa-krolls , @dianedetoeuf , previously we decided to convert any question called `end` to `end_date` because we are not allowed to create columns in the DB called `end`—it's a "reserved word".

Line 76 of `automation/01-processForm.js` does this conversion:
[code]
If a form (like `aukhdejQU76K33caCkF4rP`) has two different questions: `end` and `end_date`, then we'll end up with two different

[2021-08-04 09:30] lakhassane commented on #134
@aleksa-krolls in this one there was a misuse of `isNaN`

The condition was written as this
[code]
but it should be like this below. Because isNaN tests if latitude is not a number then we use plot_gps
[code]

It's solved here https://openfn.org/projects/p5x4g4/runs/ryagmm3e

[2021-08-04 09:37] aleksa-krolls commented on #137
Thanks @taylordowns2000. Maybe if we see `end`, we configure this as a column called `form__end_date` (making use of the double underscores). @dianedetoeuf do you have a preference for what this column name should be for the Kobo standard question `end`?

[2021-08-04 09:48] aleksa-krolls commented on #134
@lakhassane Thank you!

@ritazagoni Realizing the other thing causing the split error what that we weren't checking if `plot_gps` was defined before splitting... we were only checking if lat/long were defined.

@dianedetoeuf All Vegetation EU errors are now resolved except for this last one below that affects [5 messages](https://openfn.org/projects/p5x4g4/messages?dateRange=720&endDate=2021-08-04

[2021-08-04 09:59] taylordowns2000 commented on #137
Happy to go with whatever @dianedetoeuf decides! Just let me know and I'll implement.

My two cents on naming: I might actually go with `form_date__end` instead of `form__end_date`... the idea being that we'd want to use the `__` to denote separation between what the question is actually called (`end`) and _the stuff that we're arbitrarily writing_ to keep it from being rejected by the DB. So some

[2021-08-04 11:17] dianedetoeuf commented on #135
Oh no sorry I’m just seeing this!!

How do I kill the ongoing runs? :)

Diane
Le 4 août 2021 à 09:49 +0200, Aleksa Krolls ***@***.***>, a écrit :

[2021-08-04 11:22] dianedetoeuf commented on #137
Hi, alright, then form_date__end seems like a good option to avoir future conflicts. Lets fo with that, and I'll inform Steve about the change.
Thank you so much!

[2021-08-04 11:47] #137 closed

[2021-08-09 07:51] #134 closed

[2021-08-09 07:51] #133 closed

[2021-08-09 07:51] #117 closed

[2021-08-10 11:22] aleksa-krolls opened #138 "Auto-generated job fails to sync data even when `setNull` option is specified"
## Describe the bug
See run failure with error `Error converting data type varchar to numeric`: https://www.openfn.org/projects/p5x4g4/runs/r9wn4e6k

I thought this was resolved with #134 ... but even when I think this `setNull` option is specified and the adaptor version looks updated, the job still fails.

## To Reproduce
1. You can run the auto-generated job ( https://www.openfn.org/projects/p5

[2021-08-10 11:24] aleksa-krolls commented on #138
@lakhassane We're testing the automation solution with some new Kobo forms and encountered this issue. Please let @daissatou2 know when ready to test again and she can re-run the flow from the beginning starting with the `A1` job.

[2021-08-10 15:04] aleksa-krolls opened #139 "Automation solution - repeat group table adjustments"
## Background, context, and business value
The client is reviewing the auto-generated SQL script and OpenFn job for the Sharks & Rays form and has provided the following feedback.
- MSSQL: https://www.openfn.org/projects/p5x4g4/runs/r6g8nb36
- Job: https://www.openfn.org/projects/p5x4g4/jobs/jy3kr6
https://github.com/OpenFn/ConSoSci/blob/master/sharks_rays/autoSharksRays.js

## The specific reques

[2021-08-10 15:10] aleksa-krolls opened #140 "Automation: FK definitions for `select` reference tables missing"
## Describe the bug
Follow up to issues #131  and point 2 in #139. The client is saying that FK definitions are also missing in the lookup reference tables auto-generated from Kobo `select` questions.

For example, the m:m table `WCSPROGRAMS__SharksRaysSGearType `is created by not referenced in FK definitions.
- MSSQL script: https://www.openfn.org/projects/p5x4g4/runs/r6g8nb36
- Auto Job: https:/

[2021-08-10 15:15] aleksa-krolls opened #141 "Automation: Ensure no double underscore `_` in table names"
## Background, context, and business value
Follow up to issue #62. WCS wants to make sure all table names always follow the naming convention `{prefix}_{tableName}` (only 1 underscore)... _unless_ there are 2 prefixes: `{p1}_{p2}_{tableName}` (but even this will only have 1 `_` between prefixes and never `__`).

## The specific request, in as few words as possible
Currently if a user enters the fo

[2021-08-10 16:51] aleksa-krolls commented on #139
@lakhassane For point 2, I think WCS wants to not only rely on the AnswerId and generated uuids to link the repeat group tables. Therefore...
- Every time we create a repeat group table, there should be a `ID` column that is configured as the FK to the parent table.
- This column should be an `int` with a FK constraint.
- The naming convention should be `{parentTableName}ID`.

For example, if we h

[2021-08-10 17:54] lakhassane commented on #141
handle with commit #4c7aec5

[2021-08-10 18:22] lakhassane commented on #139
@aleksa-krolls @daissatou2 this is done and ready.
if you check the DB in table (e.g `WCSPROGRAMS_SharksRaysSales`) you will have the new foreign key created as well as the column `WCSPROGRAMS_SharksRaysID`

[2021-08-11 18:03] lakhassane commented on #140
@aleksa-krolls finally there. I made the change. So additionally to what we did in #139 we will also have FKs in the m:m relationships (junction tables). So you might see 2 new FKs one for the master table and another one linking the select_multiple table.

<img width="540" alt="Screen Shot 2021-08-11 at 18 00 22" src="https://user-images.githubusercontent.com/8411231/129080088-c0b15fb8-41a6-4c57-

[2021-08-13 11:08] lakhassane commented on #138
Few feedbacks on this one @aleksa-krolls:
1. The job to check now has change since we made updates on how we named tables. Here is the new one: https://www.openfn.org/projects/p5x4g4/jobs/jvgkze (`WCSPROGRAMS_SocioEcoDB` instead of `WCSPROGRAMS__SocioEcoDB`

2. the error was due to value we had for the column `__version__`. In the form definition the type is `calculate`. From previous specs `calcu

[2021-08-17 13:09] aleksa-krolls commented on #138
@lakhassane Feedback here...
1. thank you... will test now that the DB tables are being names properly.
2. We're learning that `calculate` fields are typically `numbers`, but they might sometimes be `text` or `date` values. Therefore would you recommend that the default column type should be varchar or whatever mssql data type we use to capture text values?

[2021-08-17 13:14] lakhassane commented on #138
yess @aleksa-krolls changing to `varchar` or `text` should be good

[2021-08-17 13:17] aleksa-krolls commented on #136
@taylordowns2000 @stuartc What's the latest here? Is there more of a concrete estimate/ pitch I can share back to WCS this week?

[2021-08-17 13:19] aleksa-krolls commented on #138
Great @lakhassane ... please go ahead and use varchar or nvarchar (or whatever in mssql supports unicode).

Let me and @daissatou2 know whenever ready to test.

[2021-08-17 13:28] lakhassane commented on #138
@aleksa-krolls I made the change

[2021-08-17 13:43] aleksa-krolls commented on #141
@lakhassane See my latest test.... `WCSPROGRAMS__KoboDataset` still has a double underscore. Please change to 1 `_`.
https://www.openfn.org/projects/p5x4g4/runs/r8974db6

[2021-08-17 14:24] aleksa-krolls commented on #140
@lakhassane These FKs are looking good when I'm reviewing the DB output in the test mssql DB... but I don't see any reference to these `FK`s in the SQL script generated in the run log: https://www.openfn.org/projects/p5x4g4/runs/r8974db6
See after L778 `Logging queries` - there is no mention of these FKs in this SQL script. WCS will probably be manually running the sql script rather than auto-exec

[2021-08-17 15:37] lakhassane commented on #141
@aleksa-krolls I corrected this one

[2021-08-17 16:00] lakhassane commented on #140
change made here. Just noting that for `sql()` now you have to add the options if you want to log the queries.

[code]

Im adding this to the readme

[2021-08-17 20:32] aleksa-krolls commented on #141
@lakhassane Looks like the auto-generated job still needs to be updated to ensure no tables include double underscores.
For example, see `WCSPROGRAMS__Country` in the auto job: https://www.openfn.org/projects/p5x4g4/jobs/jy3kr6

See run failure + sample data to test against: https://www.openfn.org/projects/p5x4g4/runs/rg56ypj7

[2021-08-18 12:08] lakhassane commented on #141
Check slack thread for feedback https://openfn.slack.com/archives/G2LJCFFDW/p1629276327000300?thread_ts=1629232368.032300&cid=G2LJCFFDW

[2021-08-18 15:32] #141 closed

[2021-08-18 21:04] taylordowns2000 commented on #136
hey @aleksa-krolls , sorry for the delay here. 3-4 days of WCS-specific work is our best estimate. There may be a bit more, beyond that, rounding out to about a week, but OpenFn could invest that chunk as it would be re-usable, if WCS could raise money for the ~3.5d.

[2021-08-19 06:53] #139 closed

[2021-08-24 14:20] aleksa-krolls opened #142 "Duplicate key error when inserting `WCSPROGRAMS_KoboBnsAnswerhhmembers` row"
## Describe the bug
New BNS survey data coming in is throwing the error below.
[code]
## To Reproduce
Re-run this failure (and feel free to do on prod): https://www.openfn.org/projects/p5x4g4/runs/r44g936z

### expression.js
bns/survey.js

### adaptor
mssql

### state.json
See LP for `WCS Programs Database`
https://www.openfn.org/projects/p5x4g4/messages/m8qjevme

## Expected behavior
We insert 1

[2021-08-24 16:54] aleksa-krolls commented on #142
@lakhassane can you please check this out today or tomorrow morning?

[2021-08-24 17:21] lakhassane commented on #142
@aleksa-krolls I wasn't able to replicate :/

Run the same message and had this green check: https://www.openfn.org/projects/p5x4g4/runs/raa4nr7e

[2021-08-24 17:25] aleksa-krolls commented on #142
Interesting... so @dianedetoeuf all errors re-process successfully when we re-run them. This is done.

This solves the current errors, but I wonder if there's a way we can prevent this issue going forward? I'll monitor to see if this error happens again, but I wonder if it happens when we're trying to insert multiple surveys into the DB at the same time? Should we consider adjusting the WCS projec

[2021-08-25 05:21] #138 closed

[2021-08-25 05:32] aleksa-krolls commented on #140
@lakhassane it doesn't look like the FK definitions exist for `select_one` questions between the main survey tables and the lookup tables.

See MSSQL script: https://www.openfn.org/projects/p5x4g4/runs/r5e8dnyw
See ERD diagram the client made of the config to be generated... no direct relationships between these tables and the lookup ones?
![sharks and rays tables](https://user-images.githubuserco

[2021-08-25 07:54] dianedetoeuf commented on #142
Ok, thanks for re-processing them! do you know how many were synced?

[2021-08-25 10:43] aleksa-krolls commented on #142
@dianedetoeuf These ones were re-synced: https://www.openfn.org/projects/p5x4g4/runs?dateRange=custom&endDate=2021-08-24T17%3A40%3A00.000Z&jobId=jykm75&page=1&perPage=10&searchString=&startDate=2021-08-24T16%3A30%3A00.000Z&success=0

[2021-08-25 15:30] lakhassane commented on #140
@aleksa-krolls I corrected this to allow FK for select_one columns.

One impact is also select_one questions that were created as `nvarchar` in the main will now be `int` to reference the PK in `lookupTables`.
<img width="982" alt="Screen Shot 2021-08-25 at 15 29 39" src="https://user-images.githubusercontent.com/8411231/130819829-a571d715-42cc-46d7-bcd9-3740e6d521fa.png">

[2021-08-25 16:32] aleksa-krolls commented on #140
@lakhassane The changes sound good. I've tried to test, but two things have come up...
1. Failing on prod with error `RequestError: Could not create constraint or index. See previous errors.`
https://www.openfn.org/projects/p5x4g4/runs/r9w8en65

2. Before testing on prod, I was reviewing the config in the test DB and I noticed that a `select_one` column on a repeat group table `WCSPROGRAMS_SharksR

[2021-08-30 10:59] lakhassane commented on #140
@aleksa-krolls Im back on this to have a look.

This error might happen because the tables were not created in order. Is it possible to go on a fresh test. Can you delete all the tables related to this form so I can re-run on local and test. I might have problem knowing exactly what those tables are

[2021-08-30 18:06] aleksa-krolls opened #144 "Automation: Remove `Payload` column from all select lookup tables"
## The specific request, in as few words as possible
Currently it looks like we're uploading the whole JSON payload to almost every auto-generated table. This `Payload` column really only needs to exist on the main survey table (i.e., `WCSPROGRAMS_SharksRays`).

See latest auto-generated script: https://www.openfn.org/projects/p5x4g4/runs/rbg47p46
For example, see `WCSPROGRAMS_Country.Payload`...

[2021-08-31 10:13] lakhassane commented on #144
@aleksa-krolls I removed payload from the other tables.

[2021-08-31 15:28] aleksa-krolls commented on #140
@lakhassane Is there still work on this? You moved to `backlog`?

[2021-08-31 15:29] lakhassane commented on #140
@aleksa-krolls probably a mistake. But it was fully done

[2021-08-31 15:36] aleksa-krolls commented on #119
@lakhassane walked WCS through this today. Here is the latest run:

Some next steps:
1. On `kobo_questions` table looks like we have 2 columns: `label_en` and `label_fr`... but only `label_en` is filled in and it has ALL of the languages added to this column. Can we therefore then just have 1 `label` column that has all of the translations listed?
![Screen Shot 2021-08-31 at 6.33.28 PM.png](https:

[2021-09-01 09:18] ritazagoni opened #145 "BNS: Use `geolocation` field if `lat` and `long` are not in state"
## Background, context, and business value

In [[BNS-2B] BNS Survey](https://github.com/OpenFn/ConSoSci/blob/master/bns/survey.js) we are currently using the `gps/lat` and `gps/long` fields to [map to the DBs `lat` and `long` columns](https://github.com/OpenFn/ConSoSci/blob/37f59e1e6c3dd10e2411d89b3f36c06a76af3e9d/bns/survey.js#L242-L243).
These fields are not always available in `state`.

## The

[2021-09-01 09:22] aleksa-krolls commented on #145
@ritazagoni @dianedetoeuf moved to the backlog for Mamadou to look at

[2021-09-01 10:23] lakhassane commented on #119
@aleksa-krolls this was already done yesterday. I couldn't push due to internet issues.

I replicated on mssql and you can see the tables with the data in the opiant DB. I aslo use `label` as by the 1st point.

<img width="290" alt="Screen Shot 2021-09-01 at 10 23 04" src="https://user-images.githubusercontent.com/8411231/131655423-16b3b759-a7f9-4422-ab9e-f6fb1808d68c.png">

[2021-09-01 10:31] aleksa-krolls commented on #119
Amazing @lakhassane!! For next steps, can you please..
1. Link the new mssql file to this job on prod, and make sure the adaptor version and sql `write` settings are correct (if needed): https://www.openfn.org/projects/p5x4g4/jobs/jv79zn
2. Then run this job `A1` which will trigger that job to run... to make sure it succeeds on prod: https://www.openfn.org/projects/p5x4g4/jobs/jyd8gg

I will then

[2021-09-01 10:55] lakhassane commented on #119
Done @aleksa-krolls see here:
https://www.openfn.org/projects/p5x4g4/runs?dateRange=custom&endDate=2021-09-01T10%3A53%3A10.587Z&jobId=&page=1&perPage=10&searchString=&startDate=2021-09-01T10%3A51%3A00.000Z&success=

[2021-09-01 11:25] lakhassane commented on #145
@ritazagoni I made the change to use _geolocation whenever needed.

<img width="247" alt="Screen Shot 2021-09-01 at 11 24 17" src="https://user-images.githubusercontent.com/8411231/131663166-0b5f8f4f-ded2-4968-8379-b32701d202c0.png">

[2021-09-01 11:35] ritazagoni commented on #145
thanks @lakhassane!

[2021-09-01 11:36] #145 closed

[2021-09-01 13:22] dianedetoeuf commented on #145
Thank you!!

[2021-09-02 13:53] dianedetoeuf opened #146 "Landscape update for NRGT jobs"
## Describe the bug
I'm trying to update the landscape names in the NRGT data, the same way as we did for the BNS jobs. Used the same coding, the run fails but without giving any message.

## To Reproduce
1. Run for NRGT 2019: https://www.openfn.org/projects/p5x4g4/runs/rrkpmaee
2. Run for NRGT historical: https://www.openfn.org/projects/p5x4g4/runs/ryaz4j37

### expression.js
NRGT historical: htt

[2021-09-02 15:04] aleksa-krolls commented on #146
@dianedetoeuf It looks like your copy/pasted the code _outside_ of `alterState(...)`. We also need to do transformations _within_ a custom function where we call `state`... if it standards alone the job won't compile properly and you'll run into issues like TypeErrors.  Check out my commit here and now re-run to test!
https://github.com/OpenFn/ConSoSci/commit/06d4f2ffed998bc8c80db70363d71694fcf4ef

[2021-09-02 15:21] dianedetoeuf commented on #146
Great, it works!!
Now I'd like to resync... but last time I did a bulk resync of all messages corresponding to a trigger, it re-synced also testing messages that were coming from either testing forms or practice in the field that were deleted from Kobo.
Is there a way I can re-sync only what is currently on the real kobo forms?

[2021-09-02 17:22] aleksa-krolls opened #147 "Automation job 2 fails: TypeError [Error]: Cannot read property '0' of undefined"
## Describe the bug
See run: https://www.openfn.org/projects/p5x4g4/runs/r5em8gne

## To Reproduce
See job #1 run: https://www.openfn.org/projects/p5x4g4/runs/rpdpz4kg

### expression.js
automation

### state.json
Job 1 with this form info:
[code]

[2021-09-02 17:27] aleksa-krolls commented on #147
@lakhassane And when I try to run for another form...
[code]
...the data dictionary run fails: https://www.openfn.org/projects/p5x4g4/runs/ryaz4my8

[2021-09-02 17:47] aleksa-krolls commented on #146
@dianedetoeuf I'd recommend running all the forms through batches again via the `historical` fetch job to make sure you're pulling the latest from Kobo. Keep me posted on Skype tomorrow if still questions

[2021-09-03 05:53] aleksa-krolls commented on #140
@lakhassane WCS is reviewing the latest version of the auto-generated SQL script: https://www.openfn.org/projects/p5x4g4/runs/rbg47p46

When I tested this I thought the DB output looked okay (I was seeing the relationships between the main tables and the select lookup tables... but maybe I didn't check all of them or maybe the definitions are just not right in the printed script....but not totally

[2021-09-03 05:58] aleksa-krolls commented on #119
@lakhassane Looking food, just one change request so far... can we rename the Dictionary tables with this prefix `KoboToolBox_`?
`KoboToolBox_Forms`,
`KoboToolBox_Choices`,
`KoboToolBox_Questions`

[2021-09-03 08:08] dianedetoeuf commented on #146
Got it, thank you!

[2021-09-03 08:08] #146 closed

[2021-09-03 09:49] lakhassane commented on #119
@aleksa-krolls tables renamed.
What is `KoboToolBox_`

[2021-09-03 10:10] aleksa-krolls commented on #140
@lakhassane It looks like we're mapping to the "select" lookup table fine from the main `WCSPROGRAMS_SharksRays` table. See FK definitions correctly configured...yay! But...
<img width="704" alt="Screen Shot 2021-09-03 at 1 06 36 PM" src="https://user-images.githubusercontent.com/16758106/131989098-36ef82c0-b081-442d-9202-1c57249eb613.png">

However, on the child survey tables for repeat groups (e

[2021-09-03 11:32] lakhassane commented on #140
@aleksa-krolls I pushed the fix as discussed

[2021-09-03 15:42] dianedetoeuf opened #148 "Assigning different datasetyear for 1 dataset"
## Describe the bug
Normally for the BNS survey, teams collect data about every 2 years, using a different form each time. We take the year of the mid-point of the data collected with a form to determine the DatasetYear.
See for example message https://www.openfn.org/projects/p5x4g4/messages/m78gbk7e
Job: [BNS survey](https://github.com/OpenFn/ConSoSci/blob/master/bns/survey.js)

On the BNS Cross

[2021-09-03 15:42] aleksa-krolls commented on #140
@lakhassane SharksRays mssql job is failing on prod with error `Could not create constraint or index. See previous errors.` ... so unable to validate your changes.
https://www.openfn.org/projects/p5x4g4/runs/r44gra8z
Can you please...
1. Correct the issue
2. Clear state & run this job on prod to make sure all green checks: https://www.openfn.org/projects/p5x4g4/jobs/jyd8gg
I can then check out the

[2021-09-06 11:45] ritazagoni commented on #148
@lakhassane
Please the use the value of the field "today". For example:
[code]

[2021-09-06 12:20] lakhassane commented on #140
@aleksa-krolls issue is fixed.

I added for you in `processForm.js` a log that prints a query to delete all the tables.
<img width="1426" alt="Screen Shot 2021-09-06 at 12 13 42" src="https://user-images.githubusercontent.com/8411231/132215913-8105c15c-8f73-4fdd-a49f-b8e4cef25e08.png">

see run here: https://www.openfn.org/projects/p5x4g4/runs/rzdg8zr4

[2021-09-06 12:56] lakhassane commented on #147
I made the check here @aleksa-krolls and tested locally

[2021-09-06 14:21] aleksa-krolls commented on #147
@lakhassane All runs succeed on SharksRays, but when testing for other forms... seeing other automation failures:
`RequestError: Could not create constraint or index. See previous errors.`
Ran job 1 for formId `ay3PPxnKjr54Uwrb9T5wL5`: https://www.openfn.org/projects/p5x4g4/runs/r6gwpxby
- Mssql error: https://www.openfn.org/projects/p5x4g4/runs/r89rpg7g
- OpenFn job error: https://www.openfn.org/

[2021-09-07 11:10] lakhassane commented on #148
@ritazagoni changes made as per our talk

[2021-09-07 11:14] ritazagoni commented on #148
thanks @lakhassane
@dianedetoeuf this is ready

[2021-09-07 12:23] dianedetoeuf commented on #148
Hi, thanks Mamadou and Rita!
I've run the historical job to resync the Cross river data and it looks like the 1B failed: https://www.openfn.org/projects/p5x4g4/runs/raa46xpj
But it looks like the messages are being processed with the 2B successfully...

[2021-09-07 12:49] ritazagoni commented on #148
@lakhassane pls check this failed run https://www.openfn.org/projects/p5x4g4/runs/rzdgn53x

[2021-09-07 13:12] ritazagoni opened #149 "BNS survey: `Error converting data type varchar to float.`"
## Describe the bug
BNS survey job fails with  `Error converting data type varchar to float.`

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://www.openfn.org/projects/p5x4g4/runs/rn5pgywr

### expression.js
Link to the job itself in Github: https://github.com/OpenFn/ConSoSci/blob/master/bns/survey.js

### state.json

See LP for `WCS Programs

[2021-09-07 13:13] ritazagoni commented on #148
opened new issue #149

[2021-09-07 16:08] dianedetoeuf commented on #148
Hi, in the DB the dataset year is now 2021 so it's not exactly what we expected. But the transformation might be more difficult than just reassigning the dataset year...

This "BNS Cross River 2017 - 2020" is considered as 1 dataset in the DB, but we need it to be split into one dataset per year. So there should be 3 datasets:
- one for data collected in 2017
- one for data collected in 2018 and 1

[2021-09-07 16:16] lakhassane commented on #149
Hey @ritazagoni I checked here and so the issue is with `Lat` and `Long` being null.
It is mapped as this
[code]
however both the path provided here are absent from state. Is there another option we should map ? Or return 0 if it's null?

[2021-09-07 16:24] lakhassane commented on #149
so currently I mapped undefined if it's null

[2021-09-08 03:52] ritazagoni commented on #148
@dianedetoeuf How can we differentiate the 3 parts of the dataset? Could you walk me through an example sometime today?

[2021-09-08 06:12] aleksa-krolls commented on #119
@lakhassane WCS is not ready to sync the automation solution directly to their main DB to auto execute changes there. For now, they want to pilot an approach where they run the automation solution, and then copy, edit, and manually execute the printed SQL in their DB.

For the data dictionary, this run (https://www.openfn.org/projects/p5x4g4/runs/rbg4njaa) currently prints the SQL for the DB confi

[2021-09-08 09:18] dianedetoeuf commented on #148
We can differentiate them using the value of the "today" field. Happy to talk about it on skype today!

[2021-09-08 09:28] dianedetoeuf commented on #149
Thank you, mapping undefined is fine

[2021-09-08 09:48] #149 closed

[2021-09-08 11:22] aleksa-krolls commented on #119
@lakhassane As discussed...
1. After this current DD job finishes running, let's (1) post the form definition to the inbox with the tag `"Type": "Form Definition", and (2) set up a 2nd message filter job that will execute the `upsert(...)` operations to insert rows of data into the DD tables. For (2) - You can link to the job here to test: https://www.openfn.org/projects/p5x4g4/jobs/jyp5d9
2. Then

[2021-09-08 12:12] ritazagoni opened #150 "BNS Survey: Create `DatasetUuidId` using value of `today`"
## Background, context, and business value

Currently in the [BNS survey job](https://github.com/OpenFn/ConSoSci/blob/master/bns/survey.js) we are creating 1 new DB entry for each form in the `KoboData` DB table, upserting using the `datasetId` we create for each form. We're using the same `datasetId` to fill the `DatasetUuidId` DB column across different tables.

However, in some cases we want to

[2021-09-08 12:12] ritazagoni commented on #148
New issue: #150

[2021-09-08 12:12] #148 closed

[2021-09-08 12:15] ritazagoni commented on #150
@dianedetoeuf before we re-process messages once this is done, please delete all data from all the BNS survey tables. Otherwise all data will be duplicated with the new IDs.

[2021-09-08 14:01] lakhassane commented on #147
@aleksa-krolls this one was really tricky.

There are some begin_group considered as question and then mapped as table while it should not be the case.
I made a fix for it and see the history run for the formId `ay3PPxnKjr54Uwrb9T5wL5 `

https://www.openfn.org/projects/p5x4g4/runs?dateRange=custom&endDate&jobId=&page=1&perPage=10&searchString=&startDate=2021-09-08T13%3A57%3A52.151Z&success=